.classpath
*.pref
*.prefs
dump.rdb
*.jar
*/target
*/target*
*/log4j
*/.project
*/.project*
*/.classpath
*/.classpath*
pom.properties
*/.DS_Store
*.class
*.jar
*/.settings
*/.settings/*
