# eclipse
.project
**/.project
.classpath
*/.classpath
**/.classpath
*/.settings
**/.settings/

# maven
*/target
*/target*

# binary
*.class
*.jar
!**/mysql-connector-java/mysql-connector-java-*.jar

# generated code
**/gen/*
**/thriftgen/*

# spring
**/resources/applicationContext-dataaccess*.xml
**/resources/ENV_*.properties

# log
*/log4j

# other
**/.DS_Store
*.pref
*.prefs
dump.rdb
.DS_Store
EduNav.mwb.bak
