# eclipse
.classpath
*/.classpath
**/.classpath

#idea
.idea/*
*.iml

# maven
*/target
*/target*

# binary
*.class
*.jar
!**/mysql-connector-java/mysql-connector-java-*.jar

# generated code
**/gen/*
**/thriftgen/*

# spring
**/resources/applicationContext-dataaccess**.xml
**/resources/ENV_*.properties

# log
*/log4j

# other
**/.DS_Store
*.pref
*.prefs
dump.rdb
.DS_Store
EduNav.mwb.bak
applicationContext-dataaccess.xml
applicationContext-dataaccessUT.xml
~$ServiceApi.xlsx

iShangkeProject/iShangkeProject-AdminWeb/.settings/org.eclipse.wst.common.component
iShangkeProject/iShangkeProject-PartnerWeb/.settings/org.eclipse.wst.common.component
iShangkeProject/iShangkeProject-PartnerFacade/.settings/org.eclipse.wst.common.component
.gitignore
log
log.2014-08-06
iShangkeProject/iShangkeProject-Service/log4j
