<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.AccountHistoryEntityExtMapper">
  <resultMap id="AccountHistoryExtMap" type="AccountHistoryEntityExt">
    <id column="ACCOUNTHISTORY_ID" property="id" jdbcType="INTEGER" />
    <result column="ACCOUNTHISTORY_USERID" property="userId" jdbcType="INTEGER" />
    <result column="ACCOUNTHISTORY_WITHDRAWID" property="withdrawId" jdbcType="INTEGER" />
    <result column="ACCOUNTHISTORY_CHARGE" property="charge" jdbcType="DOUBLE" />
    <result column="ACCOUNTHISTORY_TYPE" property="type" jdbcType="INTEGER" />
    <result column="ACCOUNTHISTORY_CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ACCOUNTHISTORY_REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ACCOUNTHISTORY_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="AccountHistory_Base_Column_List">
    ACCOUNTHISTORY.ID ACCOUNTHISTORY_ID,
    ACCOUNTHISTORY.USER_ID ACCOUNTHISTORY_USERID,
    ACCOUNTHISTORY.WITHDRAW_ID ACCOUNTHISTORY_WITHDRAWID,
    ACCOUNTHISTORY.CHARGE
    ACCOUNTHISTORY_CHARGE,
    ACCOUNTHISTORY.TYPE ACCOUNTHISTORY_TYPE,
    ACCOUNTHISTORY.CREATE_TIME
    ACCOUNTHISTORY_CREATETIME,
    ACCOUNTHISTORY.REMARK
    ACCOUNTHISTORY_REMARK,
    ACCOUNTHISTORY.DELETED
    ACCOUNTHISTORY_DELETED
  </sql>
  <insert id="add" parameterType="AccountHistoryEntityExt">

    insert into ACCOUNTHISTORY
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="userId != null">
        USER_ID,
      </if>
      <if test="withdrawId != null">
        WITHDRAW_ID,
      </if>
      <if test="charge != null">
        CHARGE,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="withdrawId != null">
        #{withdrawId,jdbcType=INTEGER},
      </if>
      <if test="charge != null">
        #{charge,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="deleteById" parameterType="java.lang.Integer">
    update ACCOUNTHISTORY set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="AccountHistoryEntityExt">
    update ACCOUNTHISTORY
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="withdrawId != null">
        WITHDRAW_ID = #{withdrawId,jdbcType=INTEGER},
      </if>
      <if test="charge != null">
        CHARGE = #{charge,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        DELETED = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>