<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.ActivityEntityExtMapper">
  <resultMap id="ActivityExtMap" type="ActivityEntityExt">
    <id column="ACTIVITY_ID" property="id" jdbcType="INTEGER" />
    <result column="ACTIVITY_NAME" property="name" jdbcType="VARCHAR" />
    <result column="ACTIVITY_PARTNERID" property="partnerId" jdbcType="INTEGER" />
    <result column="ACTIVITY_COURSEID" property="courseId" jdbcType="INTEGER" />
    <result column="ACTIVITY_REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ACTIVITY_STARTTIME" property="startTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="ACTIVITY_ENDTIME" property="endTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="ACTIVITY_STATUS" property="status" jdbcType="VARCHAR" />
    <result column="ACTIVITY_LASTMODIFYTIME" property="lastModifyTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="ACTIVITY_CREATETIME" property="createTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="ACTIVITY_ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="ACTIVITY_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Activity_Base_Column_List">
    ACTIVITY.ID ACTIVITY_ID,
    ACTIVITY.NAME ACTIVITY_NAME,
    ACTIVITY.PARTNER_ID
    ACTIVITY_PARTNERID,
    ACTIVITY.COURSE_ID ACTIVITY_COURSEID,
    ACTIVITY.REMARK ACTIVITY_REMARK,
    ACTIVITY.START_TIME ACTIVITY_STARTTIME,
    ACTIVITY.END_TIME ACTIVITY_ENDTIME,
    ACTIVITY.STATUS
    ACTIVITY_STATUS,
    ACTIVITY.LAST_MODIFY_TIME ACTIVITY_LASTMODIFYTIME,
    ACTIVITY.CREATE_TIME
    ACTIVITY_CREATETIME,
    ACTIVITY.ENABLED ACTIVITY_ENABLED,
    ACTIVITY.DELETED ACTIVITY_DELETED
  </sql>
  <!-- add -->
  <insert id="add" parameterType="ActivityEntityExt">
    insert into ACTIVITY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        NAME,
      </if>
      <if test="partnerId != null">
        PARTNER_ID,
      </if>
      <if test="courseId != null">
        COURSE_ID,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="partnerId != null">
        #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="endTime != null">
        #{endTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <!-- deleteById -->
  <update id="deleteById" parameterType="java.lang.Integer">
    update ACTIVITY set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <!-- update -->
  <update id="update" parameterType="ActivityEntityExt">
    update ACTIVITY
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="partnerId != null">
        PARTNER_ID = #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        COURSE_ID = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        START_TIME =
        #{startTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="endTime != null">
        END_TIME =
        #{endTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME =
        #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        CREATE_TIME =
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- getCount -->
  <select id="getCount" resultType="int">
    select count(ID) from ACTIVITY where DELETED = 0
  </select>

  <!-- listAll -->
  <select id="listAll" resultMap="ActivityExtMap">
    SELECT
    <include refid="Activity_Base_Column_List" />
    from ACTIVITY where ACCOUNT.DELETED = 0
  </select>

  <!-- list -->
  <select id="list" parameterType="map" resultMap="ActivityExtMap">
    SELECT
    <include refid="Activity_Base_Column_List" />
    from ACTIVITY where ACTIVITY.DELETED = 0
    <if test="entity != null">

      <if test="entity.id != null and entity.id != 0">
        AND ACTIVITY.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND ACTIVITY.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.name != null and !entity.equals('') ">
        AND ACTIVITY.NAME LIKE "%"#{entity.name,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.partnerId != null and entity.partnerId != 0">
        AND ACTIVITY.PARTNER_ID = #{entity.partnerId,jdbcType=INTEGER}
      </if>
      <if test="entity.partnerId == null or entity.partnerId == 0">
        <if test="entity.partnerIdSet != null and entity.partnerIdSet.size() > 0">
          AND ACTIVITY.PARTNER_ID IN
          <foreach collection="entity.partnerIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.courseId != null and entity.courseId != 0">
        AND ACTIVITY.COURSE_ID = #{entity.courseId,jdbcType=INTEGER}
      </if>
      <if test="entity.courseId == null or entity.courseId == 0">
        <if test="entity.courseIdSet != null and entity.courseIdSet.size() > 0">
          AND ACTIVITY.COURSE_ID IN
          <foreach collection="entity.courseIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.remark != null and !entity.remark.equals('') ">
        AND ACTIVITY.REMARK LIKE "%"#{entity.remark,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.startTime != null">
        AND ACTIVITY.START_TIME =
        #{entity.startTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.startTime == null">
        <if test="entity.startTimeStart != null">
          <![CDATA[AND ACTIVITY.START_TIME >= #{entity.startTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
        <if test="entity.startTimeEnd != null">
          <![CDATA[AND ACTIVITY.START_TIME <= #{entity.startTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
      </if>

      <if test="entity.endTime != null">
        AND ACTIVITY.END_TIME =
        #{entity.endTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}
      </if>
      <if test="entity.endTime == null">
        <if test="entity.endTimeStart != null">
          <![CDATA[AND ACTIVITY.END_TIME >= #{entity.endTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
        <if test="entity.endTimeEnd != null">
          <![CDATA[AND ACTIVITY.END_TIME <= #{entity.endTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
      </if>

      <if test="entity.status != null and entity.status != 0">
        AND ACTIVITY.START = #{entity.status,jdbcType=INTEGER}
      </if>
      <if test="entity.status == null or entity.status== 0">
        <if test="entity.statusSet != null and entity.statusSet.size() > 0">
          AND ACCOUNT_HISTORY.START IN
          <foreach collection="entity.statusSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.lastModifyTime != null">
        AND ACTIVITY.LAST_MODIFY_TIME =
        #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND ACTIVITY.LAST_MODIFY_TIME >= #{entity.lastModifyTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND ACTIVITY.LAST_MODIFY_TIME <= #{entity.lastModifyTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND ACTIVITY.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND ACTIVITY.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND ACTIVITY.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
      </if>

      <if test="entity.enabled != null and entity.enabled != 0">
        AND ACTIVITY.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>
    </if>
    <if test="page != null and page.orderByEntities != null and page.orderByEntities.size() > 0">
      ORDER BY
      <foreach collection="page.orderByEntities" item="listItem" separator=",">
        ACTIVITY.${listItem.columnKey} ${listItem.order}
      </foreach>
    </if>

    <if test="page.offset != null and page.size != null">
      LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
    </if>

  </select>
  <!-- getListCount -->
  <select id="getListCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM (
    select
    <include refid="Activity_Base_Column_List" />
    from ACTIVITY where ACTIVITY.DELETED = 0
    <if test="entity != null">

      <if test="entity.id != null and entity.id != 0">
        AND ACTIVITY.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND ACTIVITY.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.name != null and !entity.equals('') ">
        AND ACTIVITY.NAME LIKE "%"#{entity.name,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.partnerId != null and entity.partnerId != 0">
        AND ACTIVITY.PARTNER_ID = #{entity.partnerId,jdbcType=INTEGER}
      </if>
      <if test="entity.partnerId == null or entity.partnerId == 0">
        <if test="entity.partnerIdSet != null and entity.partnerIdSet.size() > 0">
          AND ACTIVITY.PARTNER_ID IN
          <foreach collection="entity.partnerIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.courseId != null and entity.courseId != 0">
        AND ACTIVITY.COURSE_ID = #{entity.courseId,jdbcType=INTEGER}
      </if>
      <if test="entity.courseId == null or entity.courseId == 0">
        <if test="entity.courseIdSet != null and entity.courseIdSet.size() > 0">
          AND ACTIVITY.COURSE_ID IN
          <foreach collection="entity.courseIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.remark != null and !entity.remark.equals('')">
        AND ACTIVITY.REMARK LIKE " %"
        entity.remark , jdbcType=VARCHAR} "%"
      </if>

      <if test="entity.startTime != null">
        AND ACTIVITY.START_TIME =
        #{entity.startTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}
      </if>
      <if test="entity.startTime == null">
        <if test="entity.startTimeStart != null">
          <![CDATA[AND ACTIVITY.START_TIME >= #{entity.startTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
        <if test="entity.startTimeEnd != null">
          <![CDATA[AND ACTIVITY.START_TIME <= #{entity.startTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
      </if>

      <if test="entity.endTime != null">
        AND ACTIVITY.END_TIME =
        #{entity.endTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}
      </if>
      <if test="entity.endTime == null">
        <if test="entity.endTimeStart != null">
          <![CDATA[AND ACTIVITY.END_TIME >= #{entity.endTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
        <if test="entity.endTimeEnd != null">
          <![CDATA[AND ACTIVITY.END_TIME <= #{entity.endTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
      </if>

      <if test="entity.status != null and entity.status != 0">
        AND ACTIVITY.START = #{entity.status,jdbcType=INTEGER}
      </if>
      <if test="entity.status == null or entity.status == 0">
        <if test="entity.statusSet != null and entity.statusSet.size() > 0">
          AND ACCOUNT_HISTORY.START IN
          <foreach collection="entity.statusSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.lastModifyTime != null">
        AND ACTIVITY.LAST_MODIFY_TIME =
        #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND ACTIVITY.LAST_MODIFY_TIME >= #{entity.lastModifyTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND ACTIVITY.LAST_MODIFY_TIME <= #{entity.lastModifyTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND ACTIVITY.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND ACTIVITY.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND ACTIVITY.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
      </if>
    </if>
    ) AS
    total
  </select>
</mapper>