<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.ActivityEntityExtMapper">
  <resultMap id="ActivityExtMap" type="ActivityEntityExt">
    <id column="ACTIVITY_ID" property="id" jdbcType="INTEGER" />
    <result column="ACTIVITY_NAME" property="name" jdbcType="VARCHAR" />
    <result column="ACTIVITY_PARTNERID" property="partnerId" jdbcType="INTEGER" />
    <result column="ACTIVITY_COURSEID" property="courseId" jdbcType="INTEGER" />
    <result column="ACTIVITY_REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ACTIVITY_STARTTIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="ACTIVITY_ENDTIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="ACTIVITY_STATUS" property="status" jdbcType="VARCHAR" />
    <result column="ACTIVITY_LASTMODIFYTIME" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="ACTIVITY_CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ACTIVITY_ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="ACTIVITY_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Activity_Base_Column_List">
    ACTIVITY.ID ACTIVITY_ID,
    ACTIVITY.NAME ACTIVITY_NAME,
    ACTIVITY.PARTNER_ID ACTIVITY_PARTNERID,
    ACTIVITY.COURSE_ID ACTIVITY_COURSEID,
    ACTIVITY.REMARK ACTIVITY_REMARK,
    ACTIVITY.START_TIME ACTIVITY_STARTTIME,
    ACTIVITY.END_TIME ACTIVITY_ENDTIME,
    ACTIVITY_STATUS ACTIVITY_STATUS,
    ACTIVITY.LAST_MODIFY_TIME ACTIVITY_LASTMODIFYTIME,
    ACTIVITY.CREATE_TIME ACTIVITY_CREATETIME,
    ACTIVITY.ENABLED ACTIVITY_ENABLED,
    ACTIVITY.DELETED ACTIVITY_DELETED
  </sql>