<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.AddressEntityExtMapper">
  <resultMap id="AddressExtMap" type="AddressEntityExt">
    <id column="ADDRESS_ID" property="id" jdbcType="INTEGER" />
    <result column="ADDRESS_PARTNERID" property="partnerId" jdbcType="INTEGER" />
    <result column="ADDRESS_DETAIL" property="detail" jdbcType="VARCHAR" />
    <result column="ADDRESS_LAT" property="lat" jdbcType="DOUBLE" />
    <result column="ADDRESS_LNG" property="lng" jdbcType="DOUBLE" />
    <result column="ADDRESS_LAST_MODIFYTIME" property="lastModifyTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="ADDRESS_CREATETIME" property="createTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="ADDRESS_ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="ADDRESS_CIRCLEID" property="circleId" jdbcType="INTEGER" />
    <result column="ADDRESS_LOCATIONID" property="locationId" jdbcType="INTEGER" />
    <result column="ADDRESS_REALADDRESS" property="realAddress" jdbcType="VARCHAR" />
    <result column="ADDRESS_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Address_Base_Column_List">
    ADDRESS.ID ADDRESS_ID,
    ADDRESS.PARTNER_ID ADDRESS_PARTNERID,
    ADDRESS.DETAIL
    ADDRESS_DETAIL,
    ADDRESS.LAT ADDRESS_LAT,
    ADDRESS.LNG ADDRESS_LNG,
    ADDRESS.LAST_MODIFY_TIME
    ADDRESS_LASTMODIFYTIME,
    ADDRESS.CREATE_TIME ADDRESS_CREATETIME,
    ADDRESS.ENABLED ADDRESS_ENABLED,
    ADDRESS.DELETED ADDRESS_DELETED,
    ADDRESS.CIRCLE_ID ADDRESS_CIRCLEID,
    ADDRESS.LOCATION_ID ADDRESS_LOCATIONID,
    ADDRESS.REAL_ADDRESS ADDRESS_REALADDRESS
  </sql>
  <!--add -->
  <insert id="add" parameterType="AddressEntityExt">
    insert into ADDRESS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partnerId != null and partnerId != 0 ">
        PARTNER_ID,
      </if>
      <if test="detail != null">
        DETAIL,
      </if>
      <if test="lat != null">
        LAT,
      </if>
      <if test="lng != null">
        LNG,
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="circleId != null and circleId != 0 ">
        CIRCLE_ID,
      </if>
      <if test="locationId != null and locationId != 0 ">
        LOCATION_ID,
      </if>
      <if test="realAddress != null">
        REAL_ADDRESS
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partnerId != null and partnerId != 0">
        #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=DOUBLE},
      </if>
      <if test="lng != null">
        #{lng,jdbcType=DOUBLE},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="circleId != null and circleId != 0 ">
        #{circleId,jdbcType=INTEGER},
      </if>
      <if test="locationId != null and locationId != 0 ">
        #{locationId,jdbcType=INTEGER},
      </if>
      <if test="realAddress != null">
        #{realAddress,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <!--deleteById -->
  <update id="deleteById" parameterType="java.lang.Integer">
    update ADDRESS set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <!-- update -->
  <update id="update" parameterType="AddressEntityExt">
    update ADDRESS
    <set>
      <if test="partnerId != null and partnerId != 0">
        PARTNER_ID = #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="detail != null">
        DETAIL = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        LAT = #{lat,jdbcType=DOUBLE},
      </if>
      <if test="lng != null">
        LNG = #{lng,jdbcType=DOUBLE},
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME =
        #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        CREATE_TIME =
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="circleId != null and circleId != 0 ">
        CIRCLE_ID = #{circleId,jdbcType=INTEGER},
      </if>
      <if test="locationId != null and locationId != 0 ">
        LOCATION_ID = #{locationId,jdbcType=INTEGER},
      </if>
      <if test="realAddress != null">
        REAL_ADDRESS = #{realAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- getCount -->
  <select id="getCount" resultType="int">
    select count(ID) from ADDRESS where DELETED = 0
  </select>

  <!-- listAll -->
  <select id="listAll" resultMap="AddressExtMap">
    SELECT
    <include refid="Address_Base_Column_List" />
    from ADDRESS where ADDRESS.DELETED = 0
  </select>
  <!-- getById -->
  <select id="getById" parameterType="int" resultMap="AddressExtMap">
    SELECT
    <include refid="Address_Base_Column_List" />
    from ADDRESS where ADDRESS.DELETED = 0 and ADDRESS.ID = #{id,jdbcType=INTEGER}
  </select>
  <!--list -->
  <select id="list" parameterType="map" resultMap="AddressExtMap">
    SELECT
    <include refid="Address_Base_Column_List" />
    from ADDRESS where ADDRESS.DELETED = 0
    <if test="entity != null">

      <if test="entity.id != null and entity.id != 0">
        AND ADDRESS.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND ADDRESS.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.circleId != null and entity.circleId != 0">
        AND ADDRESS.CIRCLE_ID = #{entity.circleId,jdbcType=INTEGER}
      </if>
      <if test="entity.circleId == null or entity.circleId == 0">
        <if test="entity.circleIdSet != null and entity.circleIdSet.size() > 0">
          AND ADDRESS.CIRCLE_ID IN
          <foreach collection="entity.circleIdSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.locationId != null and entity.locationId != 0">
        AND ADDRESS.LOCATION_ID = #{entity.locationId,jdbcType=INTEGER}
      </if>
      <if test="entity.locationId == null or entity.locationId == 0">
        <if test="entity.locationIdSet != null and entity.locationIdSet.size() > 0">
          AND ADDRESS.LOCATION_ID IN
          <foreach collection="entity.locationIdSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.partnerId != null and entity.partnerId != 0">
        AND ADDRESS.PARTNER_ID = #{entity.partnerId,jdbcType=INTEGER}
      </if>
      <if test="entity.partnerId == null or entity.partnerId == 0">
        <if test="entity.partnerIdSet != null and entity.partnerIdSet.size() > 0">
          AND ADDRESS.PARTNER_ID IN
          <foreach collection="entity.partnerIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.detail != null and !entity.detail.equals('') ">
        AND ADDRESS.DETAIL LIKE "%"#{entity.detail,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.realAddress != null and !entity.realAddress.equals('') ">
        AND ADDRESS.REAL_ADDRESS LIKE "%"#{entity.realAddress,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.lat != null">
        AND ADDRESS.LAT = #{entity.lat,jdbcType=DOUBLE}
      </if>
      <if test="entity.lat == null">
        <if test="entity.latStart != null">
          <![CDATA[AND ADDRESS.LAT >= #{entity.latStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.latEnd != null">
          <![CDATA[AND ADDRESS.LAT <= #{entity.latEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.lng != null">
        AND ADDRESS.LNG = #{entity.lng,jdbcType=DOUBLE}
      </if>
      <if test="entity.lng == null">
        <if test="entity.lngStart != null">
          <![CDATA[AND ADDRESS.LNG >= #{entity.lngStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.lngEnd != null">
          <![CDATA[AND ADDRESS.LNG <= #{entity.lngEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND ADDRESS.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND ADDRESS.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND ADDRESS.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
      <if test="entity.lastModifyTime != null">
        AND ADDRESS.LAST_MODIFY_TIME =
        #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND ADDRESS.LAST_MODIFY_TIME >= #{entity.lastModifyTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND ADDRESS.LAST_MODIFY_TIME <= #{entity.lastModifyTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>

      <if test="entity.enabled != null">
        AND ADDRESS.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>
    </if>
    <if test="page != null and page.orderByEntities != null and page.orderByEntities.size() > 0">
      ORDER BY
      <foreach collection="page.orderByEntities" item="listItem" separator=",">
        ADDRESS.${listItem.columnKey} ${listItem.order}
      </foreach>
    </if>

    <if test="page !=null and page.offset != null and page.size != null">
      LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
    </if>
  </select>
  <!-- getListCount -->
  <select id="getListCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM (
    select
    <include refid="Address_Base_Column_List" />
    from ADDRESS where ADDRESS.DELETED = 0
    <if test="entity != null">

      <if test="entity.id != null and entity.id != 0">
        AND ADDRESS.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND ADDRESS.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.circleId != null and entity.circleId != 0">
        AND ADDRESS.CIRCLE_ID = #{entity.circleId,jdbcType=INTEGER}
      </if>
      <if test="entity.circleId == null or entity.circleId == 0">
        <if test="entity.circleIdSet != null and entity.circleIdSet.size() > 0">
          AND ADDRESS.CIRCLE_ID IN
          <foreach collection="entity.circleIdSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.locationId != null and entity.locationId != 0">
        AND ADDRESS.LOCATION_ID = #{entity.locationId,jdbcType=INTEGER}
      </if>
      <if test="entity.locationId == null or entity.locationId == 0">
        <if test="entity.locationIdSet != null and entity.locationIdSet.size() > 0">
          AND ADDRESS.LOCATION_ID IN
          <foreach collection="entity.locationIdSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.partnerId != null and entity.partnerId != 0">
        AND ADDRESS.PARTNER_ID = #{entity.partnerId,jdbcType=INTEGER}
      </if>
      <if test="entity.partnerId == null or entity.partnerId == 0">
        <if test="entity.partnerIdSet != null and entity.partnerIdSet.size() > 0">
          AND ADDRESS.PARTNER_ID IN
          <foreach collection="entity.partnerIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.detail != null and !entity.detail.equals('') ">
        AND ADDRESS.DETAIL LIKE "%"#{entity.detail,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.realAddress != null and !entity.realAddress.equals('') ">
        AND ADDRESS.REAL_ADDRESS LIKE "%"#{entity.realAddress,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.lat != null">
        AND ADDRESS.LAT = #{entity.lat,jdbcType=DOUBLE}
      </if>
      <if test="entity.lat == null">
        <if test="entity.latStart != null">
          <![CDATA[AND ADDRESS.LAT >= #{entity.latStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.latEnd != null">
          <![CDATA[AND ADDRESS.LAT <= #{entity.latEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.lng != null">
        AND ADDRESS.LNG = #{entity.lng,jdbcType=DOUBLE}
      </if>
      <if test="entity.lng == null">
        <if test="entity.lngStart != null">
          <![CDATA[AND ADDRESS.LNG >= #{entity.lngStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.lngEnd != null">
          <![CDATA[AND ADDRESS.LNG <= #{entity.lngEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND ADDRESS.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND ADDRESS.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND ADDRESS.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
      <if test="entity.lastModifyTime != null">
        AND ADDRESS.LAST_MODIFY_TIME =
        #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND ADDRESS.LAST_MODIFY_TIME >= #{entity.lastModifyTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND ADDRESS.LAST_MODIFY_TIME <= #{entity.lastModifyTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>

      <if test="entity.enabled != null">
        AND ADDRESS.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>
    </if>
    ) AS total
  </select>
</mapper>