<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.ApproveHistoryEntityExtMapper">
  <resultMap id="ApproveHistoryExtMap" type="ApproveHistoryEntityExt">
    <id column="APPROVEHISTORY_ID" property="id" jdbcType="INTEGER" />
    <result column="APPROVEHISTORY_TYPE" property="type" jdbcType="INTEGER" />
    <result column="APPROVEHISTORY_ATTACHEDID" property="attachedId" jdbcType="INTEGER" />
    <result column="APPROVEHISTORY_SUBMITUSERID" property="submitUserId" jdbcType="INTEGER" />
    <result column="APPROVEHISTORY_APPROVEUSERID" property="approveUserId" jdbcType="INTEGER" />
    <result column="APPROVEHISTORY_PRESTATUS" property="preStatus" jdbcType="VARCHAR" />
    <result column="APPROVEHISTORY_POSTSTATUS" property="postStatus" jdbcType="VARCHAR" />
    <result column="APPROVEHISTORY_COMMENT" property="comment" jdbcType="VARCHAR" />
    <result column="APPROVEHISTORY_CREATETIME" property="createTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="APPROVEHISTORY_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="ApproveHistory_Base_Column_List">
    APPROVE_HISTORY.ID APPROVEHISTORY_ID,
    APPROVE_HISTORY.TYPE APPROVEHISTORY_TYPE,
    APPROVE_HISTORY.ATTACHED_ID APPROVEHISTORY_ATTACHEDID,
    APPROVE_HISTORY.SUBMIT_USER_ID
    APPROVEHISTORY_SUBMITUSERID,
    APPROVE_HISTORY.APPROVE_USER_ID APPROVEHISTORY_APPROVEUSERID,
    APPROVE_HISTORY.PRE_STATUS APPROVEHISTORY_PRESTATUS,
    APPROVE_HISTORY.POST_STATUS
    APPROVEHISTORY_POSTSTATUS,
    APPROVE_HISTORY.COMMENT APPROVEHISTORY_COMMENT,
    APPROVE_HISTORY.CREATE_TIME APPROVEHISTORY_CREATETIME,
    APPROVE_HISTORY.DELETED
    APPROVEHISTORY_DELETED
  </sql>
  <!--add -->
  <insert id="add" parameterType="ApproveHistoryEntityExt">
    insert into APPROVE_HISTORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        TYPE,
      </if>
      <if test="attachedId != null and attachedId !=  0">
        ATTACHED_ID,
      </if>
      <if test="submitUserId != null and submitUserId != 0">
        SUBMIT_USER_ID,
      </if>
      <if test="approveUserId != null and approveUserId != 0">
        APPROVE_USER_ID,
      </if>
      <if test="preStatus != null">
        PRE_STATUS,
      </if>
      <if test="postStatus != null">
        POSTS_TATUS,
      </if>
      <if test="comment != null">
        COMMENT,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="attachedId != null and attachedId !=0">
        #{attachedId,jdbcType=INTEGER},
      </if>
      <if test="submitUserId != null and submitUserId != 0">
        #{submitUserId,jdbcType=INTEGER},
      </if>
      <if test="approveUserId != null and approveUserId != 0">
        #{approveUserId,jdbcType=INTEGER},
      </if>
      <if test="preStatus != null">
        #{preStatus,jdbcType=INTEGER},
      </if>
      <if test="postStatus != null">
        #{postStatus,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
    </trim>

    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>

  </insert>
  <!-- deleteById -->
  <update id="deleteById" parameterType="java.lang.Integer">
    update APPROVE_HISTORY set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <!-- update -->
  <update id="update" parameterType="ApproveHistoryEntityExt">
    update APPROVE_HISTORY
    <set>
      <if test="type != null">
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="attachedId != null and attachedId != 0 ">
        ATTACHED_ID = #{attachedId,jdbcType=INTEGER},
      </if>
      <if test="submitUserId != null and submitUserId != 0 ">
        SUBMIT_USER_ID = #{submitUserId,jdbcType=INTEGER},
      </if>
      <if test="approveUserId != null and approveUserId != 0">
        APPROVE_USER_ID = #{approveUserId,jdbcType=INTEGER},
      </if>
      <if test="preStatus != null">
        PRE_STATUS = #{preStatus,jdbcType=INTEGER},
      </if>
      <if test="postStatus != null">
        POST_STATUS = #{postStatus,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        COMMENT = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME =
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- getCount -->
  <select id="getCount" resultType="int">
    select count(ID) from APPROVE_HISTORY where DELETED = 0
  </select>

  <!-- listAll -->
  <select id="listAll" resultMap="ApproveHistoryExtMap">
    SELECT
    <include refid="ApproveHistory_Base_Column_List" />
    from APPROVE_HISTORY where APPROVE_HISTORY.DELETED = 0
  </select>
  <!-- getById -->
  <select id="getById" parameterType="int" resultMap="ApproveHistoryExtMap">
    SELECT
    <include refid="ApproveHistory_Base_Column_List" />
    from APPROVE_HISTORY where APPROVE_HISTORY.DELETED = 0 and APPROVE_HISTORY.ID = #{id,jdbcType=INTEGER}
  </select>
  <!-- list -->
  <select id="list" parameterType="map" resultMap="ApproveHistoryExtMap">
    SELECT
    <include refid="ApproveHistory_Base_Column_List" />
    from APPROVE_HISTORY where APPROVE_HISTORY.DELETED = 0
    <if test="entity != null">
      <if test="entity.id != null and entity.id != 0">
        AND APPROVE_HISTORY.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND APPROVE_HISTORY.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.type != null">
        AND APPROVE_HISTORY.TYPE = #{entity.type,jdbcType=INTEGER}
      </if>
      <if test="entity.type == null">
        <if test="entity.typeSet != null and entity.typeSet.size() > 0">
          AND APPROVE_HISTORY.TYPE IN
          <foreach collection="entity.typeSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.attachedId != null and entity.attachedId != 0">
        AND APPROVE_HISTORY.ATTACHED_ID = #{entity.attachedId,jdbcType=INTEGER}
      </if>
      <if test="entity.attachedId == null or entity.attachedId == 0">
        <if test="entity.attachedIdSet != null and entity.attachedIdSet.size() > 0">
          AND APPROVE_HISTORY.ATTACHED_ID IN
          <foreach collection="entity.attachedIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.submitUserId != null and entity.submitUserId != 0">
        AND APPROVE_HISTORY.SUBMIT_USER_ID = #{entity.submitUserId,jdbcType=INTEGER}
      </if>
      <if test="entity.submitUserId == null or entity.submitUserId == 0">
        <if test="entity.submitUserIdSet != null and entity.submitUserIdSet.size() > 0">
          AND APPROVE_HISTORY.SUBMIT_USER_ID IN
          <foreach collection="entity.submitUserIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.approveUserId != null and entity.approveUserId != 0">
        AND APPROVE_HISTORY.APPROVE_USER_ID = #{entity.approveUserId,jdbcType=INTEGER}
      </if>
      <if test="entity.approveUserId == null or entity.type == 0">
        <if test="entity.approveUserIdSet != null and entity.approveUserIdSet.size() > 0">
          AND APPROVE_HISTORY.APPROVE_USER_ID IN
          <foreach collection="entity.approveUserIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.preStatus != null ">
        AND APPROVE_HISTORY.PER_STATUS = #{entity.preStatus,jdbcType=INTEGER}
      </if>
      <if test="entity.preStatus == null ">
        <if test="entity.preStatusSet != null and entity.preStatusSet.size() > 0">
          AND APPROVE_HISTORY.PER_STATUS IN
          <foreach collection="entity.preStatusSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.postStatus != null ">
        AND APPROVE_HISTORY.POST_STATUS = #{entity.postStatus,jdbcType=INTEGER}
      </if>
      <if test="entity.postStatus == null ">
        <if test="entity.postStatusSet != null and entity.postStatusSet.size() > 0">
          AND APPROVE_HISTORY.POST_STATUS IN
          <foreach collection="entity.postStatusSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.comment != null and !entity.comment.equals('')">
        AND APPROVE_HISTORY.COMMENT LIKE "%"#{entity.comment,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.createTime != null">
        AND APPROVE_HISTORY.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND APPROVE_HISTORY.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND APPROVE_HISTORY.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
    </if>
    <if test="page != null and page.orderByEntities != null and page.orderByEntities.size() > 0">
      ORDER BY
      <foreach collection="page.orderByEntities" item="listItem" separator=",">
        APPROVE_HISTORY.${listItem.columnKey} ${listItem.order}
      </foreach>
    </if>

    <if test="page !=null and page.offset != null and page.size != null">
      LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
    </if>
  </select>
  <!--getListCount -->
  <select id="getListCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM (
    select
    <include refid="ApproveHistory_Base_Column_List" />
    from APPROVE_HISTORY where APPROVE_HISTORY.DELETED = 0
    <if test="entity != null">
      <if test="entity.id != null and entity.id != 0">
        AND APPROVE_HISTORY.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND APPROVE_HISTORY.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.type != null ">
        AND APPROVE_HISTORY.TYPE = #{entity.type,jdbcType=INTEGER}
      </if>
      <if test="entity.type == null ">
        <if test="entity.typeSet != null and entity.typeSet.size() > 0">
          AND APPROVE_HISTORY.TYPE IN
          <foreach collection="entity.typeSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.attachedId != null and entity.attachedId != 0">
        AND APPROVE_HISTORY.ATTACHED_ID = #{entity.attachedId,jdbcType=INTEGER}
      </if>
      <if test="entity.attachedId == null or entity.attachedId == 0">
        <if test="entity.attachedIdSet != null and entity.attachedIdSet.size() > 0">
          AND APPROVE_HISTORY.ATTACHED_ID IN
          <foreach collection="entity.attachedIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.submitUserId != null and entity.submitUserId != 0">
        AND APPROVE_HISTORY.SUBMIT_USER_ID = #{entity.submitUserId,jdbcType=INTEGER}
      </if>
      <if test="entity.submitUserId == null or entity.submitUserId == 0">
        <if test="entity.submitUserIdSet != null and entity.submitUserIdSet.size() > 0">
          AND APPROVE_HISTORY.SUBMIT_USER_ID IN
          <foreach collection="entity.submitUserIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.approveUserId != null and entity.approveUserId != 0">
        AND APPROVE_HISTORY.APPROVE_USER_ID = #{entity.approveUserId,jdbcType=INTEGER}
      </if>
      <if test="entity.approveUserId == null or entity.type == 0">
        <if test="entity.approveUserIdSet != null and entity.approveUserIdSet.size() > 0">
          AND APPROVE_HISTORY.APPROVE_USER_ID IN
          <foreach collection="entity.approveUserIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.preStatus != null ">
        AND APPROVE_HISTORY.PER_STATUS = #{entity.preStatus,jdbcType=INTEGER}
      </if>
      <if test="entity.preStatus == null ">
        <if test="entity.preStatusSet != null and entity.preStatusSet.size() > 0">
          AND APPROVE_HISTORY.PER_STATUS IN
          <foreach collection="entity.preStatusSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.postStatus != null ">
        AND APPROVE_HISTORY.POST_STATUS = #{entity.postStatus,jdbcType=INTEGER}
      </if>
      <if test="entity.postStatus == null ">
        <if test="entity.postStatusSet != null and entity.postStatusSet.size() > 0">
          AND APPROVE_HISTORY.POST_STATUS IN
          <foreach collection="entity.postStatusSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.comment != null and !entity.comment.equals('')">
        AND APPROVE_HISTORY.COMMENT LIKE "%"#{entity.comment,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.createTime != null">
        AND APPROVE_HISTORY.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND APPROVE_HISTORY.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND APPROVE_HISTORY.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
    </if>
    ) AS total
  </select>

</mapper>