<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.BookingEntityExtMapper">
  <resultMap id="BookingExtMap" type="BookingEntityExt">
    <id column="BOOKING_ID" property="id" jdbcType="INTEGER" />
    <result column="BOOKING_USERID" property="userId" jdbcType="INTEGER" />
    <result column="BOOKING_COURSE_ID" property="courseId" jdbcType="INTEGER" />
    <result column="BOOKING_COURSETEMPLATEID" property="courseTemplateId" jdbcType="INTEGER" />
    <result column="BOOKING_REFERENCE" property="reference" jdbcType="VARCHAR" />
    <result column="BOOKING_NAME" property="name" jdbcType="VARCHAR" />
    <result column="BOOKING_PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="BOOKING_EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="BOOKING_STATUS" property="status" jdbcType="INTEGER" />
    <result column="BOOKING_SCHEDULEDTIME" property="scheduledTime" typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="BOOKING_NOREFUNDDATE" property="noRefundDate" typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="BOOKING_CASHBACKDATE" property="cashbackDate" typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="BOOKING_TYPE" property="type" jdbcType="INTEGER" />
    <result column="BOOKING_NOTE" property="note" jdbcType="VARCHAR" />
    <result column="BOOKING_CASHBACKAMOUNT" property="cashbackAmount" jdbcType="DOUBLE" />
    <result column="BOOKING_LASTMODIFYTIME" property="lastModifyTime" typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="BOOKING_CREATETIME" property="createTime" typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="BOOKING_ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="BOOKING_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Booking_Base_Column_List">
    BOOKING.ID BOOKING_ID,
    BOOKING.USER_ID BOOKING_USERID,
    BOOKING.COURSE_ID
    BOOKING_COURSEID,
    BOOKING.COURSE_TEMPLATE_ID 
    BOOKING_COURSETEMPLATEID,
    BOOKING.REFERENCE
    BOOKING_REFERENCE,
    BOOKING.NAME BOOKING_NAME,
    BOOKING.PHONE
    BOOKING_PHONE,
    BOOKING.EMAIL
    BOOKING_EMAIL,
    BOOKING.STATUS BOOKING_STATUS,
    BOOKING.SCHEDULED_TIME
    BOOKING_SCHEDULEDTIME,
    BOOKING.NO_REFUND_DATE BOOKING_NOREFUNDDATE,
    BOOKING.CASHBACK_DATE
    BOOKING_CASHBACKDATE,
    BOOKING.TYPE BOOKING_TYPE,
    BOOKING.NOTE BOOKING_NOTE,
    BOOKING.CASHBACK_AMOUNT
    BOOKING_CASHBACKAMOUNT,
    BOOKING.LAST_MODIFY_TIME BOOKING_LASTMODIFYTIME,
    BOOKING.CREATE_TIME
    BOOKING_CREATETIME,
    BOOKING.ENABLED BOOKING_ENABLED,
    BOOKING.DELETED
    BOOKING_DELETED
  </sql>
  <insert id="add" parameterType="BookingEntityExt">

    insert into BOOKING
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="courseId != null">
        COURSE_ID,
      </if>
      <if test="courseTemplateId != null">
        COURSE_TEMPLATE_ID ,
      </if>
      <if test="reference != null">
        REFERENCE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="scheduledTime != null">
        SCHEDULED_TIME,
      </if>
      <if test="noRefundDate != null">
        NO_REFUND_DATE,
      </if>
      <if test="cashbackDate != null">
        CASHBACK_DATE,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="cashbackAmount != null">
        CASHBACK_AMOUNT,
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="courseTemplateId != null">
        #{courseTemplateId,jdbcType=INTEGER},
      </if>
      <if test="reference != null">
        #{reference,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="scheduledTime != null">
        #{scheduledTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="noRefundDate != null">
        #{noRefundDate,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="cashbackDate != null">
        #{cashbackDate,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="cashbackAmount != null">
        #{cashbackAmount,jdbcType=DOUBLE},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="deleteById" parameterType="java.lang.Integer">
    update BOOKING set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="BookingEntityExt">
    update BOOKING
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        COURSE_ID = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="courseTemplateId != null">
        COURSE_TEMPLATE_ID = #{courseTemplateId,jdbcType=INTEGER},
      </if>
      <if test="reference != null">
        REFERENCE = #{reference,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="scheduledTime != null">
        SCHEDULED_TIME = #{scheduledTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="noRefundDate != null">
        NO_REFUND_DATE = #{noRefundDate,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="cashbackDate != null">
        CASHBACK_DATE = #{cashbackDate,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="cashbackAmount != null">
        CASHBACK_AMOUNT = #{cashbackAmount,jdbcType=DOUBLE},
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME = #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        DELETED = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="getCount" resultType="int">
    select count(ID) from BOOKING where DELETED = 0
  </select>
  <select id="list" parameterType="map" resultMap="BookingExtMap">
    SELECT
    <include refid="Booking_Base_Column_List" />
    from BOOKING where BOOKING.DELETED = 0
    <if test="entity != null">
      <if test="entity.id != null and entity.id != 0">
        AND BOOKING.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idStart != null and entity.idStart != 0">
          <![CDATA[AND BOOKING.ID >= #{entity.idStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idEnd != null and entity.idEnd != 0">
          <![CDATA[AND BOOKING.ID <= #{entity.idEnd,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idSet.size() > 0">
          AND BOOKING.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.userId == null or entity.userId == 0">
        <if test="entity.userIdStart != null and entity.userIdStart != 0">
          <![CDATA[AND BOOKING.USER_ID >= #{entity.userIdStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.userIdEnd != null and entity.userIdEnd != 0">
          <![CDATA[AND BOOKING.USER_ID <= #{entity.userIdEnd,jdbcType=INTEGER}]]>
        </if>
      </if>

      <if test="entity.courseId == null or entity.courseId == 0">
        <if test="entity.courseIdStart != null and entity.courseIdStart != 0">
          <![CDATA[AND BOOKING.COURSE_ID >= #{entity.courseIdStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.courseIdEnd != null and entity.courseIdEnd != 0">
          <![CDATA[AND BOOKING.COURSE_ID <= #{entity.courseIdEnd,jdbcType=INTEGER}]]>
        </if>
      </if>

      <if test="entity.courseTemplateId != null">
        AND PARTNER.COURSE_TEMPLATE_ID = #{entity.courseTemplateId,jdbcType=INTEGER}
      </if>
      <if test="entity.courseTemplateId == null">
        <if test="entity.courseTemplateIdStart != null">
          <![CDATA[AND PARTNER.COURSE_TEMPLATE_ID >= #{entity.courseTemplateIdStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.courseTemplateIdEnd != null">
          <![CDATA[AND PARTNER.COURSE_TEMPLATE_ID <= #{entity.courseTemplateIdEnd,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.courseTemplateIdSet != null and entity.courseTemplateIdSet.size() > 0">
          AND PARTNER.COURSE_TEMPLATE_ID IN
          <foreach collection="entity.courseTemplateIdSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.reference != null and entity.reference !='' ">
        AND BOOKING.REFERENCE LIKE "%"#{entity.reference,jdbcType=VARCHAR}"%"
      </if>
      <if test="entity.name != null and entity.name !='' ">
        AND BOOKING.NAME LIKE "%"#{entity.name,jdbcType=VARCHAR}"%"
      </if>
      <if test="entity.phone != null and entity.phone !='' ">
        AND BOOKING.PHON LIKE "%"#{entity.phone,jdbcType=VARCHAR}"%"
      </if>
      <if test="entity.email != null and entity.email !='' ">
        AND BOOKING.EMAIL LIKE "%"#{entity.email,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.status == null">
        <if test="entity.statusStart != null">
          <![CDATA[AND BOOKING.STATUS >= #{entity.statusStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.statusEnd != null">
          <![CDATA[AND BOOKING.STATUS <= #{entity.statusEnd,jdbcType=INTEGER}]]>
        </if>
      </if>

      <if test="entity.scheduledTime != null">
        AND BOOKING.SCHEDULED_TIME = #{entity.scheduledTime,jdbcType=TIMESTAMP}
      </if>
      <if test="entity.scheduledTime == null">
        <if test="entity.scheduledTimeStart != null">
          <![CDATA[AND BOOKING.SCHEDULED_TIME >= #{entity.scheduledTimeStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.scheduledTimeEnd != null">
          <![CDATA[AND BOOKING.SCHEDULED_TIME <= #{entity.scheduledTimeEnd,jdbcType=TIMESTAMP}]]>
        </if>
      </if>

      <if test="entity.noRefundDate != null">
        AND BOOKING.NO_REFUND_DATE = #{entity.noRefundDate,jdbcType=TIMESTAMP}
      </if>
      <if test="entity.noRefundDate == null">
        <if test="entity.noRefundDateStart != null">
          <![CDATA[AND BOOKING.NO_REFUND_DATE >= #{entity.noRefundDateStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.noRefundDateEnd != null">
          <![CDATA[AND BOOKING.NO_REFUND_DATE <= #{entity.noRefundDateEnd,jdbcType=TIMESTAMP}]]>
        </if>
      </if>

      <if test="entity.cashbackDate != null">
        AND BOOKING.CASHBACK_DATE = #{entity.cashbackDate,jdbcType=TIMESTAMP}
      </if>
      <if test="entity.cashbackDate == null">
        <if test="entity.cashbackDateStart != null">
          <![CDATA[AND BOOKING.CASHBACK_DATE >= #{entity.cashbackDateStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.cashbackDateEnd != null">
          <![CDATA[AND BOOKING.CASHBACK_DATE <= #{entity.cashbackDateEnd,jdbcType=TIMESTAMP}]]>
        </if>
      </if>

      <if test="entity.type != null">
        AND BOOKING.TYPE = #{entity.type,jdbcType=INTEGER}
      </if>
      <if test="entity.type == null">
        <if test="entity.typeStart != null">
          <![CDATA[AND BOOKING.TYPE >= #{entity.typeStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.typeEnd != null">
          <![CDATA[AND BOOKING.TYPE <= #{entity.typeEnd,jdbcType=INTEGER}]]>
        </if>
      </if>

      <if test="entity.note != null and entity.note !='' ">
        AND BOOKING.NOTE LIKE "%"#{entity.note,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.cashbackAmount != null">
        AND BOOKING.CASHBACKAMOUNT = #{entity.cashbackAmount,jdbcType=DOUBLE}
      </if>
      <if test="entity.cashbackAmount == null">
        <if test="entity.cashbackAmountStart != null">
          <![CDATA[AND BOOKING.CASHBACKAMOUNT >= #{entity.cashbackAmountStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.cashbackAmountEnd != null">
          <![CDATA[AND BOOKING.CASHBACKAMOUNT <= #{entity.cashbackAmountEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.lastModifyTime != null">
        AND BOOKING.LOST_MODIFY_TIME = #{entity.lastModifyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND BOOKING.LOST_MODIFY_TIME >= #{entity.lastModifyTimeStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND BOOKING.LOST_MODIFY_TIME <= #{entity.createTimeEnd,jdbcType=TIMESTAMP}]]>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND BOOKING.CREATE_TIME = #{entity.createTilastModifyTimee=TIMESTAMP}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND BOOKING.CREATE_TIME >= #{entity.createTimeStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND BOOKING.CREATE_TIME <= #{entity.createTimeEnd,jdbcType=TIMESTAMP}]]>
        </if>
      </if>
      <if test="entity.enabled != null and entity.enabled != 0">
        AND BOOKING.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>
      <if test="page != null and page.orderByEntities != null and page.orderByEntities.size() > 0">
        ORDER BY
        <foreach collection="page.orderByEntities" item="listItem" separator=",">
          BOOKING.${listItem.columnKey} ${listItem.order}
        </foreach>
      </if>
      <if test="page != null">
        LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
      </if>
    </if>
  </select>

  <select id="getListCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM (
    select
    <include refid="Booking_Base_Column_List" />
    from BOOKING where BOOKING.DELETED = 0
    <if test="entity != null">
      <if test="entity.id != null and entity.id != 0">
        AND BOOKING.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idStart != null and entity.idStart != 0">
          <![CDATA[AND BOOKING.ID >= #{entity.idStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idEnd != null and entity.idEnd != 0">
          <![CDATA[AND BOOKING.ID <= #{entity.idEnd,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idSet.size() > 0">
          AND BOOKING.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.userId == null or entity.userId == 0">
        <if test="entity.userIdStart != null and entity.userIdStart != 0">
          <![CDATA[AND BOOKING.USER_ID >= #{entity.userIdStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.userIdEnd != null and entity.userIdEnd != 0">
          <![CDATA[AND BOOKING.USER_ID <= #{entity.userIdEnd,jdbcType=INTEGER}]]>
        </if>
      </if>

      <if test="entity.courseId == null or entity.courseId == 0">
        <if test="entity.courseIdStart != null and entity.courseIdStart != 0">
          <![CDATA[AND BOOKING.COURSE_ID >= #{entity.courseIdStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.courseIdEnd != null and entity.courseIdEnd != 0">
          <![CDATA[AND BOOKING.COURSE_ID <= #{entity.courseIdEnd,jdbcType=INTEGER}]]>
        </if>
      </if>

      <if test="entity.courseTemplateId != null">
        AND PARTNER.COURSE_TEMPLATE_ID = #{entity.courseTemplateId,jdbcType=INTEGER}
      </if>
      <if test="entity.courseTemplateId == null">
        <if test="entity.courseTemplateIdStart != null">
          <![CDATA[AND PARTNER.COURSE_TEMPLATE_ID >= #{entity.courseTemplateIdStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.courseTemplateIdEnd != null">
          <![CDATA[AND PARTNER.COURSE_TEMPLATE_ID <= #{entity.courseTemplateIdEnd,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.courseTemplateIdSet != null and entity.courseTemplateIdSet.size() > 0">
          AND PARTNER.COURSE_TEMPLATE_ID IN
          <foreach collection="entity.courseTemplateIdSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.reference != null and entity.reference !='' ">
        AND BOOKING.REFERENCE LIKE "%"#{entity.reference,jdbcType=VARCHAR}"%"
      </if>
      <if test="entity.name != null and entity.name !='' ">
        AND BOOKING.NAME LIKE "%"#{entity.name,jdbcType=VARCHAR}"%"
      </if>
      <if test="entity.phone != null and entity.phone !='' ">
        AND BOOKING.PHON LIKE "%"#{entity.phone,jdbcType=VARCHAR}"%"
      </if>
      <if test="entity.email != null and entity.email !='' ">
        AND BOOKING.EMAIL LIKE "%"#{entity.email,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.status == null or entity.status == 0">
        <if test="entity.statusStart != null and entity.statusStart != 0">
          <![CDATA[AND BOOKING.STATUS >= #{entity.statusStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.statusEnd != null and entity.statusEnd != 0">
          <![CDATA[AND BOOKING.STATUS <= #{entity.statusEnd,jdbcType=INTEGER}]]>
        </if>
      </if>

      <if test="entity.scheduledTime != null">
        AND BOOKING.SCHEDULED_TIME = #{entity.scheduledTime,jdbcType=TIMESTAMP}
      </if>
      <if test="entity.scheduledTime == null">
        <if test="entity.scheduledTimeStart != null">
          <![CDATA[AND BOOKING.SCHEDULED_TIME >= #{entity.scheduledTimeStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.scheduledTimeEnd != null">
          <![CDATA[AND BOOKING.SCHEDULED_TIME <= #{entity.scheduledTimeEnd,jdbcType=TIMESTAMP}]]>
        </if>
      </if>

      <if test="entity.noRefundDate != null">
        AND BOOKING.NO_REFUND_DATE = #{entity.noRefundDate,jdbcType=TIMESTAMP}
      </if>
      <if test="entity.noRefundDate == null">
        <if test="entity.noRefundDateStart != null">
          <![CDATA[AND BOOKING.NO_REFUND_DATE >= #{entity.noRefundDateStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.noRefundDateEnd != null">
          <![CDATA[AND BOOKING.NO_REFUND_DATE <= #{entity.noRefundDateEnd,jdbcType=TIMESTAMP}]]>
        </if>
      </if>

      <if test="entity.cashbackDate != null">
        AND BOOKING.CASHBACK_DATE = #{entity.cashbackDate,jdbcType=TIMESTAMP}
      </if>
      <if test="entity.cashbackDate == null">
        <if test="entity.cashbackDateStart != null">
          <![CDATA[AND BOOKING.CASHBACK_DATE >= #{entity.cashbackDateStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.cashbackDateEnd != null">
          <![CDATA[AND BOOKING.CASHBACK_DATE <= #{entity.cashbackDateEnd,jdbcType=TIMESTAMP}]]>
        </if>
      </if>

      <if test="entity.type == null or entity.type == 0">
        <if test="entity.typeStart != null and entity.typeStart != 0">
          <![CDATA[AND BOOKING.TYPE >= #{entity.typeStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.typeEnd != null and entity.typeEnd != 0">
          <![CDATA[AND BOOKING.TYPE <= #{entity.typeEnd,jdbcType=INTEGER}]]>
        </if>
      </if>

      <if test="entity.note != null and entity.note !='' ">
        AND BOOKING.NOTE LIKE "%"#{entity.note,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.cashbackAmount != null">
        AND BOOKING.CASHBACKAMOUNT = #{entity.cashbackAmount,jdbcType=TIMESTAMP}
      </if>
      <if test="entity.cashbackAmount == null">
        <if test="entity.cashbackAmountStart != null">
          <![CDATA[AND BOOKING.CASHBACKAMOUNT >= #{entity.cashbackAmountStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.cashbackAmountEnd != null">
          <![CDATA[AND BOOKING.CASHBACKAMOUNT <= #{entity.cashbackAmountEnd,jdbcType=TIMESTAMP}]]>
        </if>
      </if>

      <if test="entity.lastModifyTime != null">
        AND BOOKING.LOST_MODIFY_TIME = #{entity.lastModifyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND BOOKING.LOST_MODIFY_TIME >= #{entity.lastModifyTimeStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND BOOKING.LOST_MODIFY_TIME <= #{entity.createTimeEnd,jdbcType=TIMESTAMP}]]>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND BOOKING.CREATE_TIME = #{entity.createTilastModifyTimee=TIMESTAMP}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND BOOKING.CREATE_TIME >= #{entity.createTimeStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND BOOKING.CREATE_TIME <= #{entity.createTimeEnd,jdbcType=TIMESTAMP}]]>
        </if>
      </if>
      <if test="entity.enabled != null and entity.enabled != 0">
        AND BOOKING.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>
    </if>
    ) AS total
  </select>
</mapper>