<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.ClassPhotoEntityExtMapper">
  <resultMap id="ClassPhotoExtMap" type="ClassphotoEntityExt">
    <id column="CLASSPHOTO_ID" property="id" jdbcType="INTEGER" />
    <result column="CLASSPHOTO_PARTNERID" property="partnerId" jdbcType="INTEGER" />
    <result column="CLASSPHOTO_IMGURL" property="imgUrl" jdbcType="VARCHAR" />
    <result column="CLASSPHOTO_TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CLASSPHOTO_DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CLASSPHOTO_LASTMODIFYTIME" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="CLASSPHOTO_CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CLASSPHOTO_ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="CLASSPHOTO_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="ClassPhoto_Base_Column_List">
    CLASS_PHOTO.ID CLASSPHOTO_ID,
    CLASS_PHOTO.PARTNER_ID CLASSPHOTO_PARTNERID,
    CLASS_PHOTO.IMG_URL CLASSPHOTO_IMGURL,
    CLASS_PHOTO.TITLE CLASSPHOTO_TITLE,
    CLASS_PHOTO.DESCRIPTION
    CLASSPHOTO_DESCRIPTION,
    CLASS_PHOTO.LAST_MODIFY_TIME CLASSPHOTO_LASTMODIFYTIME,
    CLASS_PHOTO.CREATE_TIME CLASSPHOTO_CREATETIME,
    CLASS_PHOTO.ENABLED CLASSPHOTO_ENABLED,
    CLASS_PHOTO.DELETED CLASSPHOTO_DELETED
  </sql>
  <sql id="Course_Templete_Base_Column_List">
  COURSE_TEMPLETE.ID COURSE_TEMPLETE.ID  
  </sql>
  <sql id="Course_Base_Column_List">
    COURSE.ID COURSE_ID,
    COURSE.COURSE_NAME COURSE_COURSENAME,
    COURSE.COURSE_TEMPLATE_ID
    COURSE_COURSETEMPLATEID
   </sql>
  <sql id="Course_Templete_Class_Photo_Base_Column_List">
  COURSE_TEMPLETE_CLASS_PHOTO.ID COURSETEMPLETECLASSPHOTO_ID
  COURSE_TEMPLETE_CLASS_PHOTO.COURSE_TEMPLETE_ID COURSETEMPLETECLASSPHOTO_COURSETEMPLETEID
  COURSE_TEMPLETE_CLASS_PHOTO.CLASS_PHOTO_ID COURSETEMPLETECLASSPHOTO_CLASSPHOTOID
  </sql>
  <sql id="Course_Class_Photo_Base_Column_List">
    COURSE_CLASS_PHOTO.ID COURSECLASSPHOTO_ID
    COURSE_CLASS_PHOTO.COURSE_ID COURSECLASSPHOTO_COURSEID,
    COURSE_CLASS_PHOTO.CLASS_PHOTO_ID COURSECLASSPHOTO_CLASSPHOTOID
  </sql>
  <insert id="add" parameterType="ClassPhotoEntityExt">

    insert into CLASS_PHOTO
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="partnerId != null">
        PARTNER_ID,
      </if>
      <if test="imgUrl != null">
        IMG_URL,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="partnerId != null">
        #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="deleteById" parameterType="java.lang.Integer">
    update CLASS_PHOTO set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="ClassPhotoEntityExt">
    update CLASS_PHOTO
    <set>
      <if test="partnerId != null">
        PARTNER_ID = #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        DELETED = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="getCount" resultType="int">
    select count(ID) from CLASS_PHOTO where DELETED = 0
  </select>
  
  <select id="listClassPhotoByPartnerId" parameterType="int" resultMap="ClassPhotoExtMap">
  SELECT
  <include refid="ClassPhoto_Base_Column_List"/>
  WHERE PARTNER_ID = #{partnerId} and DELETED = 0
  </select>
  
  <select id="listClassPhotoByCourseId" parameterType="int" resultMap="ClassPhotoExtMap">
  SELECT
  <include refid="ClassPhoto_Base_Column_List"/>,
  <include refid="Course_Base_Column_List"/>,
  <include refid="Course_Class_Photo_Base_Column_List"/>
  FROM CLASS_PHOTO CLASS_PHOTO
  JOIN COURSE_CLASS_PHOTO COURSE_CLASS_PHOTO ON CLASS_PHOTO.ID = COURSE_CLASS_PHOTO.CLASSPHOTOID
  JOIN COURSE COURSE ON COURSE.ID = COURSE_CLASS_PHOTO.COURSEID
  WHERE COURSE.ID = #{courseId} and CLASS_PHOTO.DELETED = 0
  </select>
  
  <select id="listClassPhotoByCourseTempleteId" parameterType="int" resultMap="ClassPhotoExtMap">
  SELECT
  <include refid="ClassPhoto_Base_Column_List"/>,
  <include refid="Course_Templete_Base_Column_List"/>,
  <include refid="Course_Templete_Class_Photo_Base_Column_List"/>
  FROM CLASS_PHOTO CLASS_PHOTO
  JOIN COURSE_TEMPLETE_CLASS_PHOTO COURSE_TEMPLETE_CLASS_PHOTO ON CLASS_PHOTO.ID = COURSE_TEMPLETE_CLASS_PHOTO.CLASSPHOTOID
  JOIN COURSE_TEMPLETE COURSE_TEMPLETE ON COURSE_TEMPLETE.ID = COURSE_TEMPLETE_CLASS_PHOTO.COURSETEMPLETEID
  WHERE COURSE_TEMPLETE.ID = #{courseTempleteId} and CLASS_PHOTO.DELETED = 0
  </select>
</mapper>