<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.ClassPhotoEntityExtMapper">
  <resultMap id="ClassPhotoExtMap" type="ClassPhotoEntityExt">
    <id column="CLASSPHOTO_ID" property="id" jdbcType="INTEGER" />
    <result column="CLASSPHOTO_PARTNERID" property="partnerId" jdbcType="INTEGER" />
    <result column="CLASSPHOTO_IMGURL" property="imgUrl" jdbcType="VARCHAR" />
    <result column="CLASSPHOTO_TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CLASSPHOTO_DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CLASSPHOTO_LASTMODIFYTIME" property="lastModifyTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="CLASSPHOTO_CREATETIME" property="createTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="CLASSPHOTO_ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="CLASSPHOTO_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="ClassPhoto_Base_Column_List">
    CLASS_PHOTO.ID CLASSPHOTO_ID,
    CLASS_PHOTO.PARTNER_ID CLASSPHOTO_PARTNERID,
    CLASS_PHOTO.IMG_URL
    CLASSPHOTO_IMGURL,
    CLASS_PHOTO.TITLE CLASSPHOTO_TITLE,
    CLASS_PHOTO.DESCRIPTION
    CLASSPHOTO_DESCRIPTION,
    CLASS_PHOTO.LAST_MODIFY_TIME
    CLASSPHOTO_LASTMODIFYTIME,
    CLASS_PHOTO.CREATE_TIME CLASSPHOTO_CREATETIME,
    CLASS_PHOTO.ENABLED
    CLASSPHOTO_ENABLED,
    CLASS_PHOTO.DELETED CLASSPHOTO_DELETED
  </sql>
  <sql id="COURSE_TEMPLATE_Base_Column_List">
    COURSE_TEMPLATE.ID COURSETEMPLATE_ID
  </sql>
  <sql id="Course_Base_Column_List">
    COURSE.ID COURSE_ID,
    COURSE.COURSE_NAME COURSE_COURSENAME,
    COURSE.COURSE_TEMPLATE_ID
    COURSE_COURSETEMPLATEID
  </sql>
  <sql id="COURSE_TEMPLATE_Class_Photo_Base_Column_List">
    COURSE_TEMPLATE_CLASS_PHOTO.ID COURSETEMPLATECLASSPHOTO_ID,
    COURSE_TEMPLATE_CLASS_PHOTO.COURSE_TEMPLATE_ID
    COURSETEMPLATECLASSPHOTO_COURSETEMPLATEID,
    COURSE_TEMPLATE_CLASS_PHOTO.CLASS_PHOTO_ID
    COURSETEMPLATECLASSPHOTO_CLASSPHOTOID
  </sql>
  <sql id="Course_Class_Photo_Base_Column_List">
    COURSE_CLASS_PHOTO.ID COURSECLASSPHOTO_ID,
    COURSE_CLASS_PHOTO.COURSE_ID
    COURSECLASSPHOTO_COURSEID,
    COURSE_CLASS_PHOTO.CLASS_PHOTO_ID COURSECLASSPHOTO_CLASSPHOTOID
  </sql>
  <!-- add -->
  <insert id="add" parameterType="ClassPhotoEntityExt">
    insert into CLASS_PHOTO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partnerId != null">
        PARTNER_ID,
      </if>
      <if test="imgUrl != null">
        IMG_URL,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partnerId != null">
        #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <!-- deleteById -->
  <update id="deleteById" parameterType="java.lang.Integer">
    update CLASS_PHOTO set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <!-- update -->
  <update id="update" parameterType="ClassPhotoEntityExt">
    update CLASS_PHOTO
    <set>
      <if test="partnerId != null">
        PARTNER_ID = #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME =
        #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        CREATE_TIME =
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- getCount -->
  <select id="getCount" resultType="int">
    select count(ID) from CLASS_PHOTO where DELETED = 0
  </select>
  <!-- listAll -->
  <select id="listAll" resultMap="ClassPhotoExtMap">
    SELECT
    <include refid="ClassPhoto_Base_Column_List" />
    from CLASS_PHOTO where CLASS_PHOTO.DELETED = 0
  </select>
  <!-- list -->
  <select id="list" parameterType="map" resultMap="ClassPhotoExtMap">
    SELECT
    <include refid="ClassPhoto_Base_Column_List" />
    from CLASS_PHOTO WHERE CLASS_PHOTO.DELETED = 0
    <if test="entity != null">
      <if test="entity.id != null and entity.id != 0">
        AND CLASS_PHOTO.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND CLASS_PHOTO.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>
      <if test="entity.partnerId != null and entity.partnerId != 0">
        AND CLASS_PHOTO.PARTNER_ID = #{entity.partnerId,jdbcType=INTEGER}
      </if>
      <if test="entity.partnerId == null or entity.partnerId == 0">
        <if test="entity.partnerIdSet != null and entity.partnerIdSet.size() > 0">
          AND CLASS_PHOTO.PARTNER_ID IN
          <foreach collection="entity.partnerIdSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>
      <if test="entity.imgUrl != null and !entity.imgUrl.equals('')">
        AND CLASS_PHOTO.IMG_URL LIKE "%"#{entity.imgUrl,jdbcType=VARCHAR}"%"
      </if>
      <if test="entity.title != null and !entity.title.equals('')">
        AND CLASS_PHOTO.TITLE LIKE "%"#{entity.title,jdbcType=VARCHAR}"%"
      </if>
      <if test="entity.description != null and !entity.description.equals('')">
        AND CLASS_PHOTO.DESCRIPTION LIKE "%"#{entity.description,jdbcType=VARCHAR}"%"
      </if>
      <if test="entity.lastModifyTime != null">
        AND CLASS_PHOTO.LAST_MODIFY_TIME =
        #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND CLASS_PHOTO.LAST_MODIFY_TIME >= #{entity.lastModifyTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND CLASS_PHOTO.LAST_MODIFY_TIME <= #{entity.lastModifyTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND ACTIVITY.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND CLASS_PHOTO.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND CLASS_PHOTO.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
      </if>

      <if test="entity.enabled != null">
        AND CLASS_PHOTO.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>
    </if>
    <if test="page != null and page.orderByEntities != null and page.orderByEntities.size() > 0">
      ORDER BY
      <foreach collection="page.orderByEntities" item="listItem" separator=",">
        CLASS_PHOTO.${listItem.columnKey}
        ${listItem.order}
      </foreach>
    </if>
    <if test="page.offset != null and page.size != null">
      LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
    </if>
  </select>
  <!-- getListCount -->
  <select id="getListCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM (
    select
    <include refid="ClassPhoto_Base_Column_List" />
    from CLASS_PHOTO WHERE CLASS_PHOTO.DELETED = 0
    <if test="entity != null">
      <if test="entity.id != null and entity.id != 0">
        AND CLASS_PHOTO.ID = #{entity.id,jdbcType=INTEGER}
      </if>

      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND CLASS_PHOTO.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.partnerId != null and entity.partnerId != 0">
        AND CLASS_PHOTO.PARTNER_ID = #{entity.partnerId,jdbcType=INTEGER}
      </if>

      <if test="entity.partnerId == null or entity.partnerId == 0">
        <if test="entity.partnerIdSet != null and entity.partnerIdSet.size() > 0">
          AND CLASS_PHOTO.PARTNER_ID IN
          <foreach collection="entity.partnerIdSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.imgUrl != null and !entity.imgUrl.equals('')">
        AND CLASS_PHOTO.IMG_URL LIKE "%"#{entity.imgUrl,jdbcType=VARCHAR}"%"
      </if>
      <if test="entity.title != null and !entity.title.equals('')">
        AND CLASS_PHOTO.TITLE LIKE "%"#{entity.title,jdbcType=VARCHAR}"%"
      </if>
      <if test="entity.description != null and !entity.description.equals('')">
        AND CLASS_PHOTO.DESCRIPTION LIKE "%"#{entity.description,jdbcType=VARCHAR}"%"
      </if>


      <if test="entity.lastModifyTime != null">
        AND CLASS_PHOTO.LAST_MODIFY_TIME =
        #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND CLASS_PHOTO.LAST_MODIFY_TIME >= #{entity.lastModifyTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND CLASS_PHOTO.LAST_MODIFY_TIME <= #{entity.lastModifyTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND ACTIVITY.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND CLASS_PHOTO.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND CLASS_PHOTO.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}}]]>
        </if>
      </if>

      <if test="entity.enabled != null">
        AND CLASS_PHOTO.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>
    </if>
    ) AS total
  </select>
  <!-- listClassPhotoByPartnerId -->
  <select id="listClassPhotoByPartnerId" parameterType="int" resultMap="ClassPhotoExtMap">
    SELECT
    <include refid="ClassPhoto_Base_Column_List" />
    FROM CLASS_PHOTO where CLASS_PHOTO.PARTNER_ID = #{partnerId} and
    CLASS_PHOTO.DELETED = 0
  </select>
  <!-- getCountByPartnerId -->
  <select id="getCountByPartnerId" parameterType="int" resultType="int">
    SELECT COUNT(*) FROM(
    SELECT
    <include refid="ClassPhoto_Base_Column_List" />
    FROM CLASS_PHOTO where CLASS_PHOTO.PARTNER_ID = #{partnerId} and
    CLASS_PHOTO.DELETED = 0
    ) AS total
  </select>
  <!-- listClassPhotoByCourseId -->
  <select id="listClassPhotoByCourseId" parameterType="int" resultMap="ClassPhotoExtMap">
    SELECT
    <include refid="ClassPhoto_Base_Column_List" />
    FROM CLASS_PHOTO CLASS_PHOTO
    JOIN COURSE_CLASS_PHOTO COURSE_CLASS_PHOTO
    ON CLASS_PHOTO.ID =
    COURSE_CLASS_PHOTO.CLASS_PHOTO_ID
    JOIN COURSE COURSE
    ON COURSE.ID = COURSE_CLASS_PHOTO.COURSE_ID
    WHERE COURSE.ID =
    #{courseId} and CLASS_PHOTO.DELETED = 0
  </select>
  <!-- getCountByCourseId -->
  <select id="getCountByCourseId" parameterType="int" resultType="int">
    SELECT COUNT(*) FROM(
    SELECT 
    <include refid="ClassPhoto_Base_Column_List" />
    FROM CLASS_PHOTO CLASS_PHOTO
    JOIN COURSE_CLASS_PHOTO COURSE_CLASS_PHOTO
    ON CLASS_PHOTO.ID =
    COURSE_CLASS_PHOTO.CLASS_PHOTO_ID
    JOIN COURSE COURSE
    ON COURSE.ID = COURSE_CLASS_PHOTO.COURSE_ID
    WHERE COURSE.ID =
    #{courseId} and CLASS_PHOTO.DELETED = 0
    )AS total
  </select>
  <!-- listClassPhotoByCourseTempleteId -->
  <select id="listClassPhotoByCourseTempleteId" parameterType="int" resultMap="ClassPhotoExtMap">
    SELECT
    <include refid="ClassPhoto_Base_Column_List" />
    FROM CLASS_PHOTO CLASS_PHOTO
    JOIN COURSE_TEMPLATE_CLASS_PHOTO
    COURSE_TEMPLATE_CLASS_PHOTO
    ON
    CLASS_PHOTO.ID =
    COURSE_TEMPLATE_CLASS_PHOTO.CLASS_PHOTO_ID
    JOIN COURSE_TEMPLATE
    COURSE_TEMPLATE
    ON COURSE_TEMPLATE.ID =
    COURSE_TEMPLATE_CLASS_PHOTO.COURSE_TEMPLATE_ID
    WHERE COURSE_TEMPLATE.ID
    =
    #{courseTempleteId} and CLASS_PHOTO.DELETED =
    0
  </select>
  <!-- getCountByCourseTemplateId -->
  <select id="getCountByCourseTemplateId" parameterType="int" resultType="int">
    SELECT COUNT(*) FROM(
    SELECT 
    <include refid="ClassPhoto_Base_Column_List" />
    FROM CLASS_PHOTO CLASS_PHOTO
    JOIN COURSE_TEMPLATE_CLASS_PHOTO
    COURSE_TEMPLATE_CLASS_PHOTO
    ON
    CLASS_PHOTO.ID =
    COURSE_TEMPLATE_CLASS_PHOTO.CLASS_PHOTO_ID
    JOIN COURSE_TEMPLATE
    COURSE_TEMPLATE
    ON COURSE_TEMPLATE.ID =
    COURSE_TEMPLATE_CLASS_PHOTO.COURSE_TEMPLATE_ID
    WHERE COURSE_TEMPLATE.ID
    =
    #{courseTempleteId} and CLASS_PHOTO.DELETED =
    0
    ) AS total
  </select>
</mapper>