<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.CourseTeacherEntityExtMapper">
  <resultMap id="CourseTeacherExtMap" type="CourseTeacherEntityExt">
    <id column="COURSETEACHER_ID" property="id" jdbcType="INTEGER" />
    <result column="COURSETEACHER_COURSEID" property="courseId" jdbcType="INTEGER" />
    <result column="COURSETEACHER_TEACHERID" property="teacherId" jdbcType="INTEGER" />
    <result column="COURSETEACHER_CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="COURSETEACHER_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="_Base_Column_List">
    COURSETEACHER.ID COURSETEACHER_ID,
    COURSETEACHER.COURSE_ID COURSETEACHER_COURSEID,
    COURSETEACHER.TEACHER_ID COURSETEACHER_TEACHERID,
    COURSETEACHER.CREATE_TIME
    COURSETEACHER_CREATETIME,
    COURSETEACHER.DELETED COURSETEACHER_DELETED
  </sql>