<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.CourseClassPhotoEntityExtMapper">
  <resultMap id="CourseClassPhotoExt" type="CourseClassPhotoEntityExt">
    <id column="COURSECLASSPHOTO_ID" property="id" jdbcType="INTEGER" />
    <result column="COURSECLASSPHOTO_COURSEID" property="courseId" jdbcType="INTEGER" />
    <result column="COURSECLASSPHOTO_CLASSPHOTOID" property="classPhotoId" jdbcType="INTEGER" />
    <result column="COURSECLASSPHOTO_CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="COURSECLASSPHOTO_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="CourseClassPhoto_Base_Column_List">
    COURSE_CLASS_PHOTO.ID COURSECLASSPHOTO_ID,
    COURSE_CLASS_PHOTO.COURSE_ID
    COURSECLASSPHOTO_COURSEID,
    COURSE_CLASS_PHOTO.CLASS_PHOTO_ID COURSECLASSPHOTO_CLASSPHOTOID,
    COURSE_CLASS_PHOTO.CREATE_TIME COURSECLASSPHOTO_CREATETIME,
    COURSE_CLASS_PHOTO.DELETED
    COURSECLASSPHOTO_DELETED
  </sql>
  <insert id="add" parameterType="CourseClassPhotoEntityExt">

    insert into COURSE_CLASS_PHOTO
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="courseId != null">
        COURSE_ID,
      </if>
      <if test="classPhotoId != null">
        CLASS_PHOTO_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="classPhotoId != null">
        #{classPhotoId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="deleteById" parameterType="java.lang.Integer">
    update COURSE_CLASS_PHOTO set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="CourseClassPhotoEntityExt">
    update COURSE_CLASS_PHOTO
    <set>
      <if test="courseId != null">
        COURSE_ID = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="classPhotoId != null">
        CLASS_PHOTO_ID = #{classPhotoId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        DELETED = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
   <select id="getCount" resultType="int">
    select count(ID) from COURSE_CLASS_PHOTO where DELETED = 0
  </select>
</mapper>