<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.CourseCommentEntityExtMapper">
  <resultMap id="CourseCommentExtMap" type="CourseCommentEntityExt">
    <id column="COURSECOMMENT_ID" property="id" jdbcType="INTEGER" />
    <result column="COURSECOMMENT_USERID" property="userId" jdbcType="INTEGER" />
    <result column="COURSECOMMENT_COURSETEMPLATEID" property="courseTemplateId" jdbcType="INTEGER" />
    <result column="COURSECOMMENT_TITLE" property="title" jdbcType="VARCHAR" />
    <result column="COURSECOMMENT_CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="COURSECOMMENT_TOTALRATING" property="totalRating" jdbcType="DOUBLE" />
    <result column="COURSECOMMENT_CONDITIONRATING" property="conditionRating" jdbcType="DOUBLE" />
    <result column="COURSECOMMENT_ATTITUDERATING" property="attitudeRating" jdbcType="DOUBLE" />
    <result column="COURSECOMMENT_SATISFACTIONRATING" property="satisfactionRating" jdbcType="DOUBLE" />
    <result column="COURSECOMMENT_LASTMODIFYTIME" property="lastModifyTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="COURSECOMMENT_CREATETIME" property="createTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="COURSECOMMENT_ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="COURSECOMMENT_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="CourseComment_Base_Column_List">
    COURSE_COMMENT.ID COURSECOMMENT_ID,
    COURSE_COMMENT.USER_ID COURSECOMMENT_USERID,
    COURSE_COMMENT.COURSE_TEMPLATE_ID COURSECOMMENT_COURSETEMPLATEID,
    COURSE_COMMENT.TITLE
    COURSECOMMENT_TITLE,
    COURSE_COMMENT.CONTENT COURSECOMMENT_CONTENT,

    COURSE_COMMENT.TOTAL_RATING
    COURSECOMMENT_TOTALRATING,
    COURSE_COMMENT.CONDITION_RATING COURSECOMMENT_CONDITIONRATING,
    COURSE_COMMENT.ATTITUDE_RATING COURSECOMMENT_ATTITUDERATING,
    COURSE_COMMENT.SATISFACTION_RATING
    COURSECOMMENT_SATISFACTIONRATING,
    COURSE_COMMENT.LAST_MODIFY_TIME
    COURSECOMMENT_LASTMODIFYTIME,
    COURSE_COMMENT.CREATE_TIME
    COURSECOMMENT_CREATETIME,
    COURSE_COMMENT.ENABLED COURSECOMMENT_ENABLED,
    COURSE_COMMENT.DELETED
    COURSECOMMENT_DELETED
  </sql>
  <!-- add -->
  <insert id="add" parameterType="CourseCommentEntityExt">
    insert into COURSE_COMMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="courseTemplateId != null">
        COURSE_TEMPLATE_ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="totalRating != null">
        TOTAL_RATING,
      </if>
      <if test="conditionRating != null">
        CONDITION_RATING,
      </if>
      <if test="attitudeRating != null">
        ATTITUDE_RATING,
      </if>
      <if test="satisfactionRating != null">
        SATISFACTION_RATING,
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="courseTemplateId != null">
        #{courseTemplateId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="totalRating != null">
        #{totalRating,jdbcType=DOUBLE},
      </if>
      <if test="conditionRating != null">
        #{conditionRating,jdbcType=DOUBLE},
      </if>
      <if test="attitudeRating != null">
        #{attitudeRating,jdbcType=DOUBLE},
      </if>
      <if test="satisfactionRating != null">
        #{satisfactionRating,jdbcType=DOUBLE},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <!-- deleteById -->
  <update id="deleteById" parameterType="java.lang.Integer">
    update COURSE_COMMENT set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <!-- update -->
  <update id="update" parameterType="CourseCommentEntityExt">
    update COURSE_COMMENT
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="courseTemplateId != null">
        COURSE_TEMPLATE_ID =
        #{courseTemplateId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="totalRating != null">
        TOTAL_RATING = #{totalRating,jdbcType=DOUBLE},
      </if>
      <if test="conditionRating != null">
        CONDITION_RATING = #{conditionRating,jdbcType=DOUBLE},
      </if>
      <if test="attitudeRating != null">
        ATTITUDE_RATING = #{attitudeRating,jdbcType=DOUBLE},
      </if>
      <if test="satisfactionRating != null">
        SATISFACTION_RATING = #{satisfactionRating,jdbcType=DOUBLE},
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME =
        #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        CREATE_TIME =
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- getCount -->
  <select id="getCount" resultType="int">
    select count(ID) from COURSE_COMMENT where DELETED = 0
  </select>
  <!-- listAll -->
  <select id="listAll" resultMap="CourseCommentExtMap">
    SELECT
    <include refid="CourseComment_Base_Column_List" />
    from COURSE_COMMENT where COURSE_COMMENT.DELETED = 0
  </select>
   <!-- getById -->
  <select id="getById" parameterType="int" resultMap="CourseCommentExtMap">
    SELECT
    <include refid="CourseComment_Base_Column_List" />
    from COURSE_COMMENT where COURSE_COMMENT.DELETED = 0 and COURSE_COMMENT.ID = #{id,jdbcType=INTEGER}
  </select>
  <!-- list -->
  <select id="list" parameterType="map" resultMap="CourseCommentExtMap">
    select
    <include refid="CourseComment_Base_Column_List"></include>
    from COURSE_COMMENT
    where COURSE_COMMENT.DELETED = 0
    <if test="entity != null">

      <if test="entity.id != null and entity.id != 0">
        AND COURSE_COMMENT.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND COURSE_COMMENT.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.totalRating != null">
        AND COURSE_COMMENT.TOTAL_RATING = #{entity.totalRating,jdbcType=DOUBLE}
      </if>
      <if test="entity.totalRating == null">
        <if test="entity.totalRatingStart != null">
          <![CDATA[AND COURSE_COMMENT.TOTAL_RATING >= #{entity.totalRatingStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.totalRatingEnd != null">
          <![CDATA[AND COURSE_COMMENT.TOTAL_RATING <= #{entity.totalRatingEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.conditionRating != null">
        AND COURSE_COMMENT.CONDITION_RATING = #{entity.conditionRating,jdbcType=DOUBLE}
      </if>
      <if test="entity.conditionRating == null">
        <if test="entity.conditionRatingStart != null">
          <![CDATA[AND COURSE_COMMENT.CONDITION_RATING >= #{entity.conditionRatingStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.conditionRatingEnd != null">
          <![CDATA[AND COURSE_COMMENT.CONDITION_RATING <= #{entity.conditionRatingEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.attitudeRating != null">
        AND COURSE_COMMENT.ATTITUDE_RATING = #{entity.attitudeRating,jdbcType=DOUBLE}
      </if>
      <if test="entity.attitudeRating == null">
        <if test="entity.attitudeRatingStart != null">
          <![CDATA[AND COURSE_COMMENT.ATTITUDE_RATING >= #{entity.attitudeRatingStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.attitudeRatingEnd != null">
          <![CDATA[AND COURSE_COMMENT.ATTITUDE_RATING <= #{entity.attitudeRatingEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.satisfactionRating != null">
        AND COURSE_COMMENT.SATISFACTION_RATING =
        #{entity.satisfactionRating,jdbcType=DOUBLE}
      </if>
      <if test="entity.satisfactionRating == null">
        <if test="entity.satisfactionRatingStart != null">
          <![CDATA[AND COURSE_COMMENT.SATISFACTION_RATING >= #{entity.satisfactionRatingStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.satisfactionRatingEnd != null">
          <![CDATA[AND COURSE_COMMENT.SATISFACTION_RATING <= #{entity.satisfactionRatingEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.userId != null and entity.userId != 0">
        AND COURSE_COMMENT.USER_ID = #{entity.userId,jdbcType=INTEGER}
      </if>
      <if test="entity.userId == null or entity.userId == 0">
        <if test="entity.userIdSet != null and entity.userIdSet.size() > 0">
          AND COURSE_COMMENT.USER_ID IN
          <foreach collection="entity.userIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.courseTemplateId != null and entity.courseTemplateId != 0">
        AND COURSE_COMMENT.COURSE_TEMPLATE_ID =
        #{entity.courseTemplateId,jdbcType=INTEGER}
      </if>
      <if test="entity.courseTemplateId == null or entity.courseTemplateId == 0">
        <if test="entity.courseTemplateIdSet != null and entity.courseTemplateIdSet.size() > 0">
          AND COURSE_COMMENT.COURSE_TEMPLATE_ID IN
          <foreach collection="entity.courseTemplateIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.title != null and !entity.title.equals('')">
        AND COURSE_COMMENT.TITLE LIKE "%"#{entity.title,jdbcType=VARCHAR}"%"
      </if>
      <if test="entity.content != null and !entity.content.equals('')">
        AND COURSE_COMMENT.CONTENT LIKE "%"#{entity.content,jdbcType=VARCHAR}"%"
      </if>
      <if test="entity.lastModifyTime != null">
        AND COURSE_COMMENT.LAST_MODIFY_TIME =
        #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND COURSE_COMMENT.LAST_MODIFY_TIME >= #{entity.lastModifyTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND COURSE_COMMENT.LAST_MODIFY_TIME <= #{entity.lastModifyTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
      <if test="entity.createTime != null">
        AND COURSE_COMMENT.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND COURSE_COMMENT.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND COURSE_COMMENT.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
      <if test="entity.enabled != null and entity.enabled != 0">
        AND COURSE_COMMENT.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>
    </if>

    <if test="page != null and page.orderByEntities != null and page.orderByEntities.size() > 0">
      ORDER BY
      <foreach collection="page.orderByEntities" item="listItem" separator=",">
        COURSE_COMMENT.${listItem.columnKey} ${listItem.order}
      </foreach>
    </if>

    <if test="page !=null and page.offset != null and page.size != null">
      LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
    </if>
  </select>
  <!-- getListCount -->
  <select id="getListCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM (
    select
    <include refid="CourseComment_Base_Column_List"></include>
    from COURSE_COMMENT
    where COURSE_COMMENT.DELETED = 0
    <if test="entity != null">

      <if test="entity.id != null and entity.id != 0">
        AND COURSE_COMMENT.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND COURSE_COMMENT.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.totalRating != null">
        AND COURSE_COMMENT.TOTAL_RATING = #{entity.totalRating,jdbcType=DOUBLE}
      </if>
      <if test="entity.totalRating == null">
        <if test="entity.totalRatingStart != null">
          <![CDATA[AND COURSE_COMMENT.TOTAL_RATING >= #{entity.totalRatingStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.totalRatingEnd != null">
          <![CDATA[AND COURSE_COMMENT.TOTAL_RATING <= #{entity.totalRatingEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.conditionRating != null">
        AND COURSE_COMMENT.CONDITION_RATING = #{entity.conditionRating,jdbcType=DOUBLE}
      </if>
      <if test="entity.conditionRating == null">
        <if test="entity.conditionRatingStart != null">
          <![CDATA[AND COURSE_COMMENT.CONDITION_RATING >= #{entity.conditionRatingStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.conditionRatingEnd != null">
          <![CDATA[AND COURSE_COMMENT.CONDITION_RATING <= #{entity.conditionRatingEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.attitudeRating != null">
        AND COURSE_COMMENT.ATTITUDE_RATING = #{entity.attitudeRating,jdbcType=DOUBLE}
      </if>
      <if test="entity.attitudeRating == null">
        <if test="entity.attitudeRatingStart != null">
          <![CDATA[AND COURSE_COMMENT.ATTITUDE_RATING >= #{entity.attitudeRatingStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.attitudeRatingEnd != null">
          <![CDATA[AND COURSE_COMMENT.ATTITUDE_RATING <= #{entity.attitudeRatingEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.satisfactionRating != null">
        AND COURSE_COMMENT.SATISFACTION_RATING =
        #{entity.satisfactionRating,jdbcType=DOUBLE}
      </if>
      <if test="entity.satisfactionRating == null">
        <if test="entity.satisfactionRatingStart != null">
          <![CDATA[AND COURSE_COMMENT.SATISFACTION_RATING >= #{entity.satisfactionRatingStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.satisfactionRatingEnd != null">
          <![CDATA[AND COURSE_COMMENT.SATISFACTION_RATING <= #{entity.satisfactionRatingEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.userId != null and entity.userId != 0">
        AND COURSE_COMMENT.USER_ID = #{entity.userId,jdbcType=INTEGER}
      </if>
      <if test="entity.userId == null or entity.userId == 0">
        <if test="entity.userIdSet != null and entity.userIdSet.size() > 0">
          AND COURSE_COMMENT.USER_ID IN
          <foreach collection="entity.userIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.courseTemplateId != null and entity.courseTemplateId != 0">
        AND COURSE_COMMENT.COURSE_TEMPLATEID = #{entity.courseTemplateId,jdbcType=INTEGER}
      </if>
      <if test="entity.courseTemplateId == null or entity.courseTemplateId == 0">
        <if test="entity.courseTemplateIdSet != null and entity.courseTemplateIdSet.size() > 0">
          AND COURSE_COMMENT.COURSE_TEMPLATEID IN
          <foreach collection="entity.courseTemplateIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.title != null and !entity.title.equals('')">
        AND COURSE_COMMENT.TITLE LIKE "%"#{entity.title,jdbcType=VARCHAR}"%"
      </if>
      <if test="entity.content != null and !entity.content.equals('')">
        AND COURSE_COMMENT.CONTENT LIKE "%"#{entity.content,jdbcType=VARCHAR}"%"
      </if>
      <if test="entity.lastModifyTime != null">
        AND COURSE_COMMENT.LAST_MODIFY_TIME =
        #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND COURSE_COMMENT.LAST_MODIFY_TIME >= #{entity.lastModifyTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND COURSE_COMMENT.LAST_MODIFY_TIME <= #{entity.lastModifyTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
      <if test="entity.createTime != null">
        AND COURSE_COMMENT.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND COURSE_COMMENT.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND COURSE_COMMENT.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
      <if test="entity.enabled != null and entity.enabled != 0">
        AND COURSE_COMMENT.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>
    </if>
    ) AS total
  </select>
</mapper>