<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.CourseTemplateTeacherEntityExtMapper">
  <resultMap id="CourseTemplateTeacherExtMap" type="CourseTemplateTeacherEntityExt">
    <id column="COURSETEMPLATETEACHER_ID" property="id" jdbcType="INTEGER" />
    <result column="COURSETEMPLATETEACHER_COURSETEMPLATEID" property="courseTemplateId"
      jdbcType="INTEGER" />
    <result column="COURSETEMPLATETEACHER_TEACHERID" property="teacherId" jdbcType="INTEGER" />
    <result column="COURSETEMPLATETEACHER_CREATETIME" property="createTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="COURSETEMPLATETEACHER_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="CourseTemplateTeacher_Base_Column_List">
    COURSE_TEMPLATE_TEACHER.ID COURSETEMPLATETEACHER_ID,
    COURSE_TEMPLATE_TEACHER.COURSE_TEMPLATE_ID COURSETEMPLATETEACHER_COURSETEMPLATEID,
    COURSE_TEMPLATE_TEACHER.TEACHER_ID COURSETEMPLATETEACHER_TEACHERID,
    COURSE_TEMPLATE_TEACHER.CREATE_TIME COURSETEMPLATETEACHER_CREATETIME,
    COURSE_TEMPLATE_TEACHER.DELETED COURSETEMPLATETEACHER_DELETED
  </sql>
  <!-- add -->
  <insert id="add" parameterType="CourseTemplateTeacherEntityExt">
    insert into COURSE_TEMPLATE_TEACHER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseTemplateId != null">
        COURSE_TEMPLATE_ID,
      </if>
      <if test="teacherId != null">
        TEACHER_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseTemplateId != null">
        #{courseTemplateId,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <!-- deleteById -->
  <update id="deleteById" parameterType="java.lang.Integer">
    update COURSE_TEMPLATE_TEACHER set DELETED = 1
    where
    ID
    = #{id,jdbcType=INTEGER}
  </update>
  <!-- update -->
  <update id="update" parameterType="CourseTemplateTeacherEntityExt">
    update COURSE_TEMPLATE_TEACHER
    <set>
      <if test="courseTemplateId != null">
        COURSE_TEMPLATE_ID =
        #{courseTemplateId,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null">
        TEACHER_ID = #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME =
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- getCount -->
  <select id="getCount" resultType="int">
    select count(ID) from COURSE_TEMPLATE_TEACHER where
    DELETED = 0
  </select>
  <!-- listAll -->
  <select id="listAll" resultMap="CourseTemplateTeacherExtMap">
    SELECT
    <include refid="CourseTemplateTeacher_Base_Column_List" />
    from COURSE_TEMPLATE_TEACHER where COURSE_TEMPLATE_TEACHER.DELETED = 0
  </select>
   <!-- getById -->
  <select id="getById" parameterType="int" resultMap="CourseTemplateTeacherExtMap">
    SELECT
    <include refid="CourseTemplateTeacher_Base_Column_List" />
    from COURSE_TEMPLATE_TEACHER where COURSE_TEMPLATE_TEACHER.DELETED = 0 and COURSE_TEMPLATE_TEACHER.ID = #{id,jdbcType=INTEGER}
  </select>
  <!-- list -->
  <select id="list" parameterType="map" resultMap="CourseTemplateTeacherExtMap">
    select
    <include refid="CourseTemplateTeacher_Base_Column_List"></include>
    from COURSE_TEMPLATE_TEACHER
    where COURSE_TEMPLATE_TEACHER.DELETED = 0
    <if test="entity != null">

      <if test="entity.id != null and entity.id != 0">
        AND COURSE_TEMPLATE_TEACHER.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND COURSE_TEMPLATE_TEACHER.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.courseTemplateId != null and entity.courseTemplateId != 0">
        AND COURSE_TEMPLATE_TEACHER.COURSE_TEMPLATE_ID =
        #{entity.courseTemplateId,jdbcType=INTEGER}
      </if>
      <if test="entity.courseTemplateId == null or entity.courseTemplateId == 0">
        <if test="entity.courseTemplateIdSet != null and entity.courseTemplateIdSet.size() > 0">
          AND COURSE_TEMPLATE_TEACHER.COURSE_TEMPLATE_ID IN
          <foreach collection="entity.courseTemplateIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.teacherId != null and entity.teacherId != 0">
        AND COURSE_TEMPLATE_TEACHER.TEACHERID = #{entity.teacherId,jdbcType=INTEGER}
      </if>
      <if test="entity.teacherId == null or entity.teacherId == 0">
        <if test="entity.teacherIdSet != null and entity.teacherIdSet.size() > 0">
          AND COURSE_TEMPLATE_TEACHER.TEACHERID IN
          <foreach collection="entity.courseTemplateIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND COURSE_TEMPLATE_TEACHER.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND COURSE_TEMPLATE_TEACHER.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND COURSE_TEMPLATE_TEACHER.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
    </if>

    <if test="page != null and page.orderByEntities != null and page.orderByEntities.size() > 0">
      ORDER BY
      <foreach collection="page.orderByEntities" item="listItem" separator=",">
        COURSE_TEMPLATE_TEACHER.${listItem.columnKey} ${listItem.order}
      </foreach>
    </if>

    <if test="page.offset != null and page.size != null">
      LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
    </if>
  </select>
  <!-- getListCount -->
  <select id="getListCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM (
    select
    <include refid="CourseTemplateTeacher_Base_Column_List"></include>
    from COURSE_TEMPLATE_TEACHER
    where COURSE_TEMPLATE_TEACHER.DELETED = 0
    <if test="entity != null">

      <if test="entity.id != null and entity.id != 0">
        AND COURSE_TEMPLATE_TEACHER.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND COURSE_TEMPLATE_TEACHER.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.courseTemplateId != null and entity.courseTemplateId != 0">
        AND COURSE_TEMPLATE_TEACHER.COURSE_TEMPLATE_ID =
        #{entity.courseTemplateId,jdbcType=INTEGER}
      </if>
      <if test="entity.courseTemplateId == null or entity.courseTemplateId == 0">
        <if test="entity.courseTemplateIdSet != null and entity.courseTemplateIdSet.size() > 0">
          AND COURSE_TEMPLATE_TEACHER.COURSE_TEMPLATE_ID IN
          <foreach collection="entity.courseTemplateIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.teacherId != null and entity.teacherId != 0">
        AND COURSE_TEMPLATE_TEACHER.TEACHERID = #{entity.teacherId,jdbcType=INTEGER}
      </if>
      <if test="entity.teacherId == null or entity.teacherId == 0">
        <if test="entity.teacherIdSet != null and entity.teacherIdSet.size() > 0">
          AND COURSE_TEMPLATE_TEACHER.TEACHERID IN
          <foreach collection="entity.courseTemplateIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND COURSE_TEMPLATE_TEACHER.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND COURSE_TEMPLATE_TEACHER.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND COURSE_TEMPLATE_TEACHER.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
    </if>
    ) AS total
  </select>
</mapper>