<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.CourseTemplateEntityExtMapper">
  <resultMap id="CourseTemplateEntityExtMap" type="CourseTemplateEntityExt">
    <id column="COURSETEMPLATE_ID" property="id" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_COURSENAME" property="coursename" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_CATEGORYID" property="categoryId" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_LOCATIONID" property="locationId" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_CIRCLEID" property="circleId" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_PARTNERID" property="partnerId" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_PRICE" property="price" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_ORIGINALPRICE" property="originalprice" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_CASHBACK" property="cashback" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_COMMISSION" property="commission" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_SERVICECHARGE" property="servicecharge" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_STATUS" property="status" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_LASTMODIFYTIME" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="COURSETEMPLATE_CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="COURSETEMPLATE_ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_DELETED" property="deleted" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_COURSEHOURNUM" property="coursehournum" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_COURSEHOURLENGTH" property="coursehourlength" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_CLASSSIZE" property="classsize" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_POPULARITY" property="popularity" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_STARTDATE" property="startdate" jdbcType="TIMESTAMP" />
    <result column="COURSETEMPLATE_FINISHDATE" property="finishdate" jdbcType="TIMESTAMP" />
    <result column="COURSETEMPLATE_CUTOFFDATE" property="cutoffdate" jdbcType="TIMESTAMP" />
    <result column="COURSETEMPLATE_NOREFUNDDATE" property="norefunddate" jdbcType="TIMESTAMP" />
    <result column="COURSETEMPLATE_CASHBACKDATE" property="cashbackdate" jdbcType="TIMESTAMP" />
    <result column="COURSETEMPLATE_BOOKINGTYPE" property="bookingtype" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_STARTUPONARRIVAL" property="startuponarrival" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_STARTTIME1" property="starttime1" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_FINISHITIME1" property="finishitime1" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_STARTTIME2" property="starttime2" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_FINISHITIME2" property="finishitime2" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_LOCATION" property="location" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_REGLOCATION" property="reglocation" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_REFERENCE" property="reference" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_COURSEINTRO" property="courseintro" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_QUIZ" property="quiz" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_CERTIFICATION" property="certification" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_OPENCOURSEREQUIREMENT" property="opencourserequirement"
      jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_SUITABLESTUDENT" property="suitablestudent" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_PREREQUEST" property="prerequest" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_HIGHSCOREREWARD" property="highscorereward" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_STUDYDAYNOTE" property="studydaynote" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_TEACHINGMATERIALINTRO" property="teachingmaterialintro"
      jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_QUESTIONBANK" property="questionbank" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_QUALITYASSURANCE" property="qualityassurance" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_PASSAGREEMENT" property="passagreement" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_EXTRACURRICULAR" property="extracurricular" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_CONTACT" property="contact" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_REGPHONE" property="regphone" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_OUTLINE" property="outline" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_GOAL" property="goal" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_CLASSTEACHER" property="classteacher" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_TEACHINGANDEXERCISE" property="teachingandexercise"
      jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_QUESTIONSESSION" property="questionsession" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_TRAIL" property="trail" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_ASSIGNMENTS" property="assignments" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_MARKING" property="marking" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_BONUSSERVICE" property="bonusservice" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_DOWNLOADMATERIALS" property="downloadmaterials" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_TEACHINGMATERIALFEE" property="teachingmaterialfee"
      jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_TEACHINGMETHOD" property="teachingmethod" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="CourseTemplate_Base_Column_List">
    COURSETEMPLATE.ID COURSETEMPLATE_ID,
    COURSETEMPLATE.COURSENAME
    COURSETEMPLATE_COURSENAME,
    COURSETEMPLATE.CATEGORY_ID COURSETEMPLATE_CATEGORYID,
    COURSETEMPLATE.LOCATION_ID COURSETEMPLATE_LOCATIONID,
    COURSETEMPLATE.CIRCLE_ID
    COURSETEMPLATE_CIRCLEID,
    COURSETEMPLATE.PARTNER_ID COURSETEMPLATE_PARTNERID,
    COURSETEMPLATE.PRICE
    COURSETEMPLATE_PRICE,
    COURSETEMPLATE.ORIGINALPRICE COURSETEMPLATE_ORIGINALPRICE,
    COURSETEMPLATE.CASHBACK COURSETEMPLATE_CASHBACK,
    COURSETEMPLATE.COMMISSION
    COURSETEMPLATE_COMMISSION,
    COURSETEMPLATE.SERVICECHARGE COURSETEMPLATE_SERVICECHARGE,
    COURSETEMPLATE.STATUS COURSETEMPLATE_STATUS,
    COURSETEMPLATE.LAST_MODIFY_TIME
    COURSETEMPLATE_LASTMODIFYTIME,
    COURSETEMPLATE.CREATE_TIME COURSETEMPLATE_CREATETIME,
    COURSETEMPLATE.ENABLED COURSETEMPLATE_ENABLED,
    COURSETEMPLATE.DELETED COURSETEMPLATE_DELETED,
    COURSETEMPLATE.COURSEHOURNUM COURSETEMPLATE_COURSEHOURNUM,
    COURSETEMPLATE.COURSEHOURLENGTH
    COURSETEMPLATE_COURSEHOURLENGTH,
    COURSETEMPLATE.CLASSSIZE COURSETEMPLATE_CLASSSIZE,
    COURSETEMPLATE.POPULARITY COURSETEMPLATE_POPULARITY,
    COURSETEMPLATE.STARTDATE
    COURSETEMPLATE_STARTDATE,
    COURSETEMPLATE.FINISHDATE COURSETEMPLATE_FINISHDATE,
    COURSETEMPLATE.CUTOFFDATE COURSETEMPLATE_CUTOFFDATE,
    COURSETEMPLATE.NOREFUNDDATE
    COURSETEMPLATE_NOREFUNDDATE,
    COURSETEMPLATE.CASHBACKDATE COURSETEMPLATE_CASHBACKDATE,
    COURSETEMPLATE.BOOKINGTYPE COURSETEMPLATE_BOOKINGTYPE,
    COURSETEMPLATE.STARTUPONARRIVAL
    COURSETEMPLATE_STARTUPONARRIVAL,
    COURSETEMPLATE.STARTTIME1 COURSETEMPLATE_STARTTIME1,
    COURSETEMPLATE.FINISHITIME1 COURSETEMPLATE_FINISHITIME1,
    COURSETEMPLATE.STARTTIME2
    COURSETEMPLATE_STARTTIME2,
    COURSETEMPLATE.FINISHITIME2 COURSETEMPLATE_FINISHITIME2,
    COURSETEMPLATE.LOCATION COURSETEMPLATE_LOCATION,
    COURSETEMPLATE.REGLOCATION
    COURSETEMPLATE_REGLOCATION,
    COURSETEMPLATE.REFERENCE COURSETEMPLATE_REFERENCE,
    COURSETEMPLATE.COURSEINTRO COURSETEMPLATE_COURSEINTRO,
    COURSETEMPLATE.QUIZ COURSETEMPLATE_QUIZ,
    COURSETEMPLATE.CERTIFICATION COURSETEMPLATE_CERTIFICATION,
    COURSETEMPLATE.OPENCOURSEREQUIREMENT
    COURSETEMPLATE_OPENCOURSEREQUIREMENT,
    COURSETEMPLATE.SUITABLESTUDENT
    COURSETEMPLATE_SUITABLESTUDENT,
    COURSETEMPLATE.PREREQUEST COURSETEMPLATE_PREREQUEST,
    COURSETEMPLATE.HIGHSCOREREWARD COURSETEMPLATE_HIGHSCOREREWARD,
    COURSETEMPLATE.STUDYDAYNOTE
    COURSETEMPLATE_STUDYDAYNOTE,
    COURSETEMPLATE.TEACHINGMATERIALINTRO
    COURSETEMPLATE_TEACHINGMATERIALINTRO,
    COURSETEMPLATE.QUESTIONBANK COURSETEMPLATE_QUESTIONBANK,
    COURSETEMPLATE.QUALITYASSURANCE COURSETEMPLATE_QUALITYASSURANCE,
    COURSETEMPLATE.PASSAGREEMENT
    COURSETEMPLATE_PASSAGREEMENT,
    COURSETEMPLATE.EXTRACURRICULAR COURSETEMPLATE_EXTRACURRICULAR,
    COURSETEMPLATE.CONTACT COURSETEMPLATE_CONTACT,
    COURSETEMPLATE.REGPHONE COURSETEMPLATE_REGPHONE,
    COURSETEMPLATE.OUTLINE COURSETEMPLATE_OUTLINE,
    COURSETEMPLATE.GOAL COURSETEMPLATE_GOAL,
    COURSETEMPLATE.CLASSTEACHER COURSETEMPLATE_CLASSTEACHER,
    COURSETEMPLATE.TEACHINGANDEXERCISE
    COURSETEMPLATE_TEACHINGANDEXERCISE,
    COURSETEMPLATE.QUESTIONSESSION
    COURSETEMPLATE_QUESTIONSESSION,
    COURSETEMPLATE.TRAIL COURSETEMPLATE_TRAIL,
    COURSETEMPLATE.ASSIGNMENTS COURSETEMPLATE_ASSIGNMENTS,
    COURSETEMPLATE.MARKING
    COURSETEMPLATE_MARKING,
    COURSETEMPLATE.BONUSSERVICE COURSETEMPLATE_BONUSSERVICE,
    COURSETEMPLATE.DOWNLOADMATERIALS COURSETEMPLATE_DOWNLOADMATERIALS,
    COURSETEMPLATE.TEACHINGMATERIALFEE COURSETEMPLATE_TEACHINGMATERIALFEE,
    COURSETEMPLATE.TEACHINGMETHOD COURSETEMPLATE_TEACHINGMETHOD,
  </sql>