<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.CourseClassPhotoEntityExtMapper">
  <resultMap id="CourseClassPhotoExtMap" type="CourseClassPhotoEntityExt">
    <id column="COURSECLASSPHOTO_ID" property="id" jdbcType="INTEGER" />
    <result column="COURSECLASSPHOTO_COURSEID" property="courseId" jdbcType="INTEGER" />
    <result column="COURSECLASSPHOTO_CLASSPHOTOID" property="classPhotoId" jdbcType="INTEGER" />
    <result column="COURSECLASSPHOTO_CREATETIME" property="createTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="COURSECLASSPHOTO_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="CourseClassPhoto_Base_Column_List">
    COURSE_CLASS_PHOTO.ID COURSECLASSPHOTO_ID,
    COURSE_CLASS_PHOTO.COURSE_ID
    COURSECLASSPHOTO_COURSEID,
    COURSE_CLASS_PHOTO.CLASS_PHOTO_ID COURSECLASSPHOTO_CLASSPHOTOID,
    COURSE_CLASS_PHOTO.CREATE_TIME COURSECLASSPHOTO_CREATETIME,
    COURSE_CLASS_PHOTO.DELETED
    COURSECLASSPHOTO_DELETED
  </sql>
  <!-- add -->
  <insert id="add" parameterType="CourseClassPhotoEntityExt">
    insert into COURSE_CLASS_PHOTO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseId != null and courseId != 0">
        COURSE_ID,
      </if>
      <if test="classPhotoId != null and classPhotoId !=0">
        CLASS_PHOTO_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseId != null and courseId != 0">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="classPhotoId != null and classPhotoId !=0">
        #{classPhotoId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <!-- deleteById -->
  <update id="deleteById" parameterType="java.lang.Integer">
    update COURSE_CLASS_PHOTO set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <!-- update -->
  <update id="update" parameterType="CourseClassPhotoEntityExt">
    update COURSE_CLASS_PHOTO
    <set>
      <if test="courseId != null and courseId != 0">
        COURSE_ID = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="classPhotoId != null and classPhotoId != 0">
        CLASS_PHOTO_ID = #{classPhotoId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME =
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- getCount -->
  <select id="getCount" resultType="int">
    select count(ID) from COURSE_CLASS_PHOTO where DELETED = 0
  </select>
  <!-- listAll -->
  <select id="listAll" resultMap="CourseClassPhotoExtMap">
    SELECT
    <include refid="CourseClassPhoto_Base_Column_List" />
    from COURSE_CLASS_PHOTO where COURSE_CLASS_PHOTO.DELETED = 0
  </select>
  <!-- getById -->
  <select id="getById" parameterType="int" resultMap="CourseClassPhotoExtMap">
    SELECT
    <include refid="CourseClassPhoto_Base_Column_List" />
    from COURSE_CLASS_PHOTO where COURSE_CLASS_PHOTO.DELETED = 0 and COURSE_CLASS_PHOTO.ID = #{id,jdbcType=INTEGER}
  </select>
  <!-- list -->
  <select id="list" parameterType="map" resultMap="CourseClassPhotoExtMap">
    select
    <include refid="CourseClassPhoto_Base_Column_List"></include>
    from COURSE_CLASS_PHOTO
    where COURSE_CLASS_PHOTO.DELETED = 0
    <if test="entity != null">
      <if test="entity.id != null and entity.id != 0">
        AND COURSE_CLASS_PHOTO.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND COURSE_CLASS_PHOTO.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.courseId != null and entity.courseId != 0">
        AND COURSE_CLASS_PHOTO.COURSE_ID = #{entity.courseId,jdbcType=INTEGER}
      </if>
      <if test="entity.courseId == null or entity.courseId == 0">
        <if test="entity.courseIdSet != null and entity.courseIdSet.size() > 0">
          AND COURSE_CLASS_PHOTO.COURSE_ID IN
          <foreach collection="entity.courseIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.classPhotoId != null and entity.classPhotoId != 0">
        AND COURSE_CLASS_PHOTO.CLASS_PHOTO_ID = #{entity.classPhotoId,jdbcType=INTEGER}
      </if>
      <if test="entity.classPhotoId == null or entity.classPhotoId == 0">
        <if test="entity.classPhotoIdSet != null and entity.classPhotoIdSet.size() > 0">
          AND COURSE_CLASS_PHOTO.CLASS_PHOTO_ID IN
          <foreach collection="entity.classPhotoIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND COURSE_CLASS_PHOTO.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND COURSE_CLASS_PHOTO.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND COURSE_CLASS_PHOTO.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
    </if>

    <if test="page != null and page.orderByEntities != null and page.orderByEntities.size() > 0">
      ORDER BY
      <foreach collection="page.orderByEntities" item="listItem" separator=",">
        COURSE_CLASS_PHOTO.${listItem.columnKey} ${listItem.order}
      </foreach>
    </if>

    <if test="page !=null and page.offset != null and page.size != null">
      LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
    </if>
  </select>
  <!-- getListCount -->
  <select id="getListCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM (
    select
    <include refid="CourseClassPhoto_Base_Column_List"></include>
    from COURSE_CLASS_PHOTO
    where COURSE_CLASS_PHOTO.DELETED = 0
    <if test="entity != null">
      <if test="entity.id != null and entity.id != 0">
        AND COURSE_CLASS_PHOTO.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND COURSE_CLASS_PHOTO.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.courseId != null and entity.courseId != 0">
        AND COURSE_CLASS_PHOTO.COURSE_ID = #{entity.courseId,jdbcType=INTEGER}
      </if>
      <if test="entity.courseId == null or entity.courseId == 0">
        <if test="entity.courseIdSet != null and entity.courseIdSet.size() > 0">
          AND COURSE_CLASS_PHOTO.COURSE_ID IN
          <foreach collection="entity.courseIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.classPhotoId != null and entity.classPhotoId != 0">
        AND COURSE_CLASS_PHOTO.CLASS_PHOTO_ID = #{entity.classPhotoId,jdbcType=INTEGER}
      </if>
      <if test="entity.classPhotoId == null or entity.classPhotoId == 0">
        <if test="entity.classPhotoIdSet != null and entity.classPhotoIdSet.size() > 0">
          AND COURSE_CLASS_PHOTO.CLASS_PHOTO_ID IN
          <foreach collection="entity.classPhotoIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND COURSE_CLASS_PHOTO.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND COURSE_CLASS_PHOTO.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND COURSE_CLASS_PHOTO.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
    </if>
    ) AS total
  </select>
</mapper>