<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.CourseTemplateEntityExtMapper">
  <resultMap id="CourseTemplateEntityExtMap" type="CourseTemplateEntityExt">
    <id column="COURSETEMPLATE_ID" property="id" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_COURSENAME" property="courseName" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_CATEGORYID" property="categoryId" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_LOCATIONID" property="locationId" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_CIRCLEID" property="circleId" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_PARTNERID" property="partnerId" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_ADDRESSID" property="addressId" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_PRICE" property="price" jdbcType="DOUBLE" />
    <result column="COURSETEMPLATE_ORIGINALPRICE" property="originalPrice" jdbcType="DOUBLE" />
    <result column="COURSETEMPLATE_CASHBACK" property="cashback" jdbcType="DOUBLE" />
    <result column="COURSETEMPLATE_COMMISSION" property="commission" jdbcType="DOUBLE" />
    <result column="COURSETEMPLATE_SERVICECHARGE" property="serviceCharge" jdbcType="DOUBLE" />
    <result column="COURSETEMPLATE_STATUS" property="status" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_LASTMODIFYTIME" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="COURSETEMPLATE_CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="COURSETEMPLATE_ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_DELETED" property="deleted" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_COURSEHOURNUM" property="courseHourNum" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_COURSEHOURLENGTH" property="courseHourLength" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_CLASSSIZE" property="classSize" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_POPULARITY" property="popularity" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_STARTDATE" property="startDate" jdbcType="TIMESTAMP" />
    <result column="COURSETEMPLATE_FINISHDATE" property="finishDate" jdbcType="TIMESTAMP" />
    <result column="COURSETEMPLATE_CUTOFFDATE" property="cutoffDate" jdbcType="TIMESTAMP" />
    <result column="COURSETEMPLATE_NOREFUNDDATE" property="noRefundDate" jdbcType="TIMESTAMP" />
    <result column="COURSETEMPLATE_CASHBACKDATE" property="cashbackDate" jdbcType="TIMESTAMP" />
    <result column="COURSETEMPLATE_BOOKINGTYPE" property="bookingType" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_STARTUPONARRIVAL" property="startUponArrival" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_STARTTIME1" property="startTime1" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_FINISHTIME1" property="finishTime1" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_STARTTIME2" property="startTime2" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_FINISHTIME2" property="finishTime2" jdbcType="INTEGER" />
    <result column="COURSETEMPLATE_REGLOCATION" property="regLocation" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_REFERENCE" property="reference" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_COURSEINTRO" property="courseIntro" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_QUIZ" property="quiz" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_CERTIFICATION" property="certification" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_OPENCOURSEREQUIREMENT" property="openCourseRequirement" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_SUITABLESTUDENT" property="suitableStudent" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_PREREQUEST" property="prerequest" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_HIGHSCOREREWARD" property="highScoreReward" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_STUDYDAYNOTE" property="studyDayNote" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_TEACHINGMATERIALINTRO" property="teachingMaterialIntro" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_QUESTIONBANK" property="questionBank" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_QUALITYASSURANCE" property="qualityAssurance" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_PASSAGREEMENT" property="passAgreement" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_EXTRACURRICULAR" property="extracurricular" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_CONTACT" property="contact" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_REGPHONE" property="regPhone" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_OUTLINE" property="outline" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_GOAL" property="goal" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_CLASSTEACHER" property="classTeacher" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_TEACHINGANDEXERCISE" property="teachingAndExercise" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_QUESTIONSESSION" property="questionSession" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_TRAIL" property="trail" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_ASSIGNMENTS" property="assignments" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_MARKING" property="marking" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_BONUSSERVICE" property="bonusService" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_DOWNLOADMATERIALS" property="downloadMaterials" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_TEACHINGMATERIALFEE" property="teachingMaterialFee" jdbcType="VARCHAR" />
    <result column="COURSETEMPLATE_TEACHINGMETHOD" property="teachingMethod" jdbcType="VARCHAR" />
    
    <result column="PARTNER_LOGOURL" property="logoUrl" jdbcType="VARCHAR"/>
    <result column="PARTNER_WHOLENAME" property="wholeName" jdbcType="VARCHAR"/>
    <result column="PARTNER_INSTNAME" property="instName" jdbcType="VARCHAR"/>
    <result column="PARTNER_PARTNERINTRO" property="partnerIntro" jdbcType="VARCHAR"/>
    <result column="PARTNER_PARTNERQUALIFICATION" property="partnerQualification" jdbcType="INTEGER"/>
    <result column="PARTNER_PARTNERDISTINCTION" property="partnerDistinction" jdbcType="VARCHAR"/>
    <result column="ADDRESS_DETAIL" property="address" jdbcType="VARCHAR"/>
    <result column="CATEGORY_VALUE" property="categoryValue" jdbcType="VARCHAR"/>
    <result column="CATEGORY_NAME" property="categoryName" jdbcType="VARCHAR"/>
    <result column="CATEGORY_RANK" property="categoryRank" jdbcType="INTEGER"/>
    <result column="LOCATION_VALUE" property="locationValue" jdbcType="VARCHAR"/>
    <result column="LOCATION_NAME" property="locationName" jdbcType="VARCHAR"/>
    <result column="CIRCLE_VALUE" property="circleValue" jdbcType="VARCHAR"/>
    <result column="CIRCLE_NAME" property="circleName" jdbcType="VARCHAR"/>
    <collection property="teacherList" javaType="java.util.ArrayList" ofType="TeacherEntityExt">
      <id column="TEACHER_ID" property="id" jdbcType="INTEGER" />
      <result column="TEACHER_PARTNERID" property="partnerId" jdbcType="INTEGER" />
      <result column="TEACHER_IMGURL" property="imgUrl" jdbcType="VARCHAR" />
      <result column="TEACHER_NAME" property="name" jdbcType="VARCHAR" />
      <result column="TEACHER_INTRO" property="intro" jdbcType="VARCHAR" />
      <result column="TEACHER_POPULATIRY" property="populatiry" jdbcType="INTEGER" />
      <result column="TEACHER_LASTMODIFYTIME" property="lastModifyTime" jdbcType="TIMESTAMP" />
      <result column="TEACHER_CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
      <result column="TEACHER_ENABLED" property="enabled" jdbcType="INTEGER" />
      <result column="TEACHER_DELETED" property="deleted" jdbcType="INTEGER" />
    </collection>
    <collection property="classPhotoList" javaType="java.util.ArrayList" ofType="ClassPhotoEntityExt">
      <id column="CLASSPHOTO_ID" property="id" jdbcType="INTEGER"/>
      <result column="CLASSPHOTO_PARTNERID" property="partnerId" jdbcType="INTEGER" />
      <result column="CLASSPHOTO_IMGURL" property="imgUrl" jdbcType="VARCHAR"/>
      <result column="CLASSPHOTO_TITLE" property="title" jdbcType="VARCHAR"/>
      <result column="CLASSPHOTO_DESCRIPTION" property="description" jdbcType="VARCHAR"/>
      <result column="CLASSPHOTO_LASTMODIFYTIME" property="lastModifyTime" jdbcType="TIMESTAMP" />
      <result column="CLASSPHOTO_CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
      <result column="CLASSPHOTO_ENABLED" property="enabled" jdbcType="INTEGER" />
      <result column="CLASSPHOTO_DELETED" property="deleted" jdbcType="INTEGER" />
    </collection>
  </resultMap>
  <sql id="CourseTemplate_Base_Column_List">
    COURSE_TEMPLATE.ID COURSETEMPLATE_ID,
    COURSE_TEMPLATE.COURSE_NAME
    COURSETEMPLATE_COURSENAME,
    COURSE_TEMPLATE.CATEGORY_ID COURSETEMPLATE_CATEGORYID,
    COURSE_TEMPLATE.LOCATION_ID
    COURSETEMPLATE_LOCATIONID,
    COURSE_TEMPLATE.CIRCLE_ID
    COURSETEMPLATE_CIRCLEID,
    COURSE_TEMPLATE.PARTNER_ID COURSETEMPLATE_PARTNERID,
    COURSE_TEMPLATE.ADDRESS_ID
    COURSETEMPLATE_ADDRESSID,
    COURSE_TEMPLATE.PRICE COURSETEMPLATE_PRICE,
    COURSE_TEMPLATE.ORIGINAL_PRICE COURSETEMPLATE_ORIGINALPRICE,
    COURSE_TEMPLATE.CASHBACK
    COURSETEMPLATE_CASHBACK,
    COURSE_TEMPLATE.COMMISSION COURSETEMPLATE_COMMISSION,
    COURSE_TEMPLATE.SERVICE_CHARGE COURSETEMPLATE_SERVICECHARGE,
    COURSE_TEMPLATE.STATUS
    COURSETEMPLATE_STATUS,
    COURSE_TEMPLATE.LAST_MODIFY_TIME COURSETEMPLATE_LASTMODIFYTIME,
    COURSE_TEMPLATE.CREATE_TIME COURSETEMPLATE_CREATETIME,
    COURSE_TEMPLATE.ENABLED
    COURSETEMPLATE_ENABLED,
    COURSE_TEMPLATE.DELETED COURSETEMPLATE_DELETED,
    COURSE_TEMPLATE.COURSE_HOUR_NUM COURSETEMPLATE_COURSEHOURNUM,
    COURSE_TEMPLATE.COURSE_HOUR_LENGTH
    COURSETEMPLATE_COURSEHOURLENGTH,
    COURSE_TEMPLATE.CLASS_SIZE COURSETEMPLATE_CLASSSIZE,
    COURSE_TEMPLATE.POPULARITY COURSETEMPLATE_POPULARITY,
    COURSE_TEMPLATE.START_DATE
    COURSETEMPLATE_STARTDATE,
    COURSE_TEMPLATE.FINISH_DATE COURSETEMPLATE_FINISHDATE,
    COURSE_TEMPLATE.CUTOFF_DATE COURSETEMPLATE_CUTOFFDATE,
    COURSE_TEMPLATE.NO_REFUND_DATE
    COURSETEMPLATE_NOREFUNDDATE,
    COURSE_TEMPLATE.CASHBACK_DATE COURSETEMPLATE_CASHBACKDATE,
    COURSE_TEMPLATE.BOOKING_TYPE COURSETEMPLATE_BOOKINGTYPE,
    COURSE_TEMPLATE.START_UPON_ARRIVAL
    COURSETEMPLATE_STARTUPONARRIVAL,
    COURSE_TEMPLATE.START_TIME1 COURSETEMPLATE_STARTTIME1,
    COURSE_TEMPLATE.FINISH_TIME1 COURSETEMPLATE_FINISHTIME1,
    COURSE_TEMPLATE.START_TIME2
    COURSETEMPLATE_STARTTIME2,
    COURSE_TEMPLATE.FINISH_TIME2 COURSETEMPLATE_FINISHTIME2,
    COURSE_TEMPLATE.REG_LOCATION COURSETEMPLATE_REGLOCATION,
    COURSE_TEMPLATE.REFERENCE
    COURSETEMPLATE_REFERENCE,
    COURSE_TEMPLATE.COURSE_INTRO COURSETEMPLATE_COURSEINTRO,
    COURSE_TEMPLATE.QUIZ COURSETEMPLATE_QUIZ,
    COURSE_TEMPLATE.CERTIFICATION
    COURSETEMPLATE_CERTIFICATION,
    COURSE_TEMPLATE.OPEN_COURSE_REQUIREMENT
    COURSETEMPLATE_OPENCOURSEREQUIREMENT,
    COURSE_TEMPLATE.SUITABLE_STUDENT
    COURSETEMPLATE_SUITABLESTUDENT,
    COURSE_TEMPLATE.PREREQUEST COURSETEMPLATE_PREREQUEST,
    COURSE_TEMPLATE.HIGH_SCORE_REWARD COURSETEMPLATE_HIGHSCOREREWARD,
    COURSE_TEMPLATE.STUDY_DAY_NOTE
    COURSETEMPLATE_STUDYDAYNOTE,
    COURSE_TEMPLATE.TEACHING_MATERIAL_INTRO
    COURSETEMPLATE_TEACHINGMATERIALINTRO,
    COURSE_TEMPLATE.QUESTION_BANK COURSETEMPLATE_QUESTIONBANK,
    COURSE_TEMPLATE.QUALITY_ASSURANCE COURSETEMPLATE_QUALITYASSURANCE,
    COURSE_TEMPLATE.PASS_AGREEMENT
    COURSETEMPLATE_PASSAGREEMENT,
    COURSE_TEMPLATE.EXTRACURRICULAR COURSETEMPLATE_EXTRACURRICULAR,
    COURSE_TEMPLATE.CONTACT COURSETEMPLATE_CONTACT,
    COURSE_TEMPLATE.REG_PHONE COURSETEMPLATE_REGPHONE,
    COURSE_TEMPLATE.OUTLINE COURSETEMPLATE_OUTLINE,
    COURSE_TEMPLATE.GOAL COURSETEMPLATE_GOAL,
    COURSE_TEMPLATE.CLASS_TEACHER COURSETEMPLATE_CLASSTEACHER,
    COURSE_TEMPLATE.TEACHING_AND_EXERCISE
    COURSETEMPLATE_TEACHINGANDEXERCISE,
    COURSE_TEMPLATE.QUESTION_SESSION
    COURSETEMPLATE_QUESTIONSESSION,
    COURSE_TEMPLATE.TRAIL COURSETEMPLATE_TRAIL,
    COURSE_TEMPLATE.ASSIGNMENTS COURSETEMPLATE_ASSIGNMENTS,
    COURSE_TEMPLATE.MARKING
    COURSETEMPLATE_MARKING,
    COURSE_TEMPLATE.BONUS_SERVICE COURSETEMPLATE_BONUSSERVICE,
    COURSE_TEMPLATE.DOWNLOAD_MATERIALS COURSETEMPLATE_DOWNLOADMATERIALS,
    COURSE_TEMPLATE.TEACHING_MATERIAL_FEE COURSETEMPLATE_TEACHINGMATERIALFEE,
    COURSE_TEMPLATE.TEACHING_METHOD COURSETEMPLATE_TEACHINGMETHOD
  </sql>
  <sql id="Teacher_Base_Column_List">
    TEACHER.ID TEACHER_ID,
    TEACHER.PARTNER_ID TEACHER_PARTNERID,
    TEACHER.IMG_URL TEACHER_IMGURL,
    TEACHER.NAME TEACHER_NAME,
    TEACHER.INTRO TEACHER_INTRO,
    TEACHER.POPULATIRY TEACHER_POPULATIRY,
    TEACHER.LAST_MODIFY_TIME TEACHER_LASTMODIFYTIME,
    TEACHER.CREATE_TIME TEACHER_CREATETIME,
    TEACHER.ENABLED TEACHER_ENABLED,
    TEACHER.DELETED TEACHER_DELETED
  </sql>
  <sql id="ClassPhoto_Base_Column_List">
    CLASS_PHOTO.ID CLASSPHOTO_ID,
    CLASS_PHOTO.PARTNER_ID CLASSPHOTO_PARTNERID,
    CLASS_PHOTO.IMG_URL CLASSPHOTO_IMGURL,
    CLASS_PHOTO.TITLE CLASSPHOTO_TITLE,
    CLASS_PHOTO.DESCRIPTION CLASSPHOTO_DESCRIPTION,
    CLASS_PHOTO.LAST_MODIFY_TIME CLASSPHOTO_LASTMODIFYTIME,
    CLASS_PHOTO.CREATE_TIME CLASSPHOTO_CREATETIME,
    CLASS_PHOTO.ENABLED CLASSPHOTO_ENABLED,
    CLASS_PHOTO.DELETED CLASSPHOTO_DELETED
  </sql>
  <sql id="Partner_Base_Column_List">
    PARTNER.LOGO_URL PARTNER_LOGOURL,
    PARTNER.WHOLE_NAME PARTNER_WHOLENAME,
    PARTNER.INST_NAME PARTNER_INSTNAME,
    PARTNER.PARTNER_INTRO PARTNER_INTRO,
    PARTNER.PARTNER_QUALIFICATION PARTNER_PARTNERQUALIFICATION,
    PARTNER.PARTNER_DISTINCTION PARTNER_PARTNERDISTINCTION
  </sql>
  <sql id="Address_Base_Column_List">
    ADDRESS.DETAIL ADDRESS_DETAIL
  </sql>
  <sql id="Category_Base_Column_List">
    CATEGORY.VALUE CATEGORY_VALUE,
    CATEGORY.NAME CATEGORY_NAME,
    CATEGORY.RANK CATEGORY_RANK
  </sql>
  <sql id="Location_Base_Column_List">
    LOCATION.VALUE LOCATION_VALUE,
    LOCATION.NAME LOCATION_NAME,
  </sql>
  <sql id="Circle_Base_Column_List">
    CIRCLE.VALUE CIRCLE_VALUE,
    CIRCLE.NAME CIRCLE_NAME,
  </sql>
  
  <insert id="add" parameterType="CourseTemplateEntityExt">

    insert into COURSE_TEMPLATE
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="courseName != null">
        COURSE_NAME,
      </if>
      <if test="categoryId != null">
        CATEGORY_ID,
      </if>
      <if test="locationId != null">
        LOCATION_ID,
      </if>
      <if test="circleId != null">
        CIRCLE_ID,
      </if>
      <if test="partnerId != null">
        PARTNER_ID,
      </if>
      <if test="addressId != null">
        ADDRESS_ID,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="originalPrice != null">
        ORIGINAL_PRICE,
      </if>
      <if test="cashback != null">
        CASHBACK,
      </if>
      <if test="commission != null">
        COMMISSION,
      </if>
      <if test="serviceCharge != null">
        SERVICE_CHARGE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
      <if test="courseHourNum != null">
        COURSE_HOUR_NUM,
      </if>
      <if test="courseHourLength != null">
        COURSE_HOUR_LENGTH,
      </if>
      <if test="classSize != null">
        CLASS_SIZE,
      </if>
      <if test="popularity != null">
        POPULARITY,
      </if>
      <if test="startDate != null">
        START_DATE,
      </if>
      <if test="finishDate != null">
        FINISH_DATE,
      </if>
      <if test="cutoffDate != null">
        CUTOFF_DATE,
      </if>
      <if test="noRefundDate != null">
        NO_REFUND_DATE,
      </if>
      <if test="cashbackDate != null">
        CASHBACK_DATE,
      </if>
      <if test="bookingType != null">
        BOOKING_TYPE,
      </if>
      <if test="startUponArrival != null">
        START_UPON_ARRIVAL,
      </if>
      <if test="startTime1 != null">
        START_TIME1,
      </if>
      <if test="finishTime1 != null">
        FINISH_TIME1,
      </if>
      <if test="startTime2 != null">
        START_TIME2,
      </if>
      <if test="finishTime2 != null">
        FINISH_TIME2,
      </if>
      <if test="regLocation != null">
        REG_LOCATION,
      </if>
      <if test="reference != null">
        REFERENCE,
      </if>
      <if test="courseIntro != null">
        COURSE_INTRO,
      </if>
      <if test="quiz != null">
        QUIZ,
      </if>
      <if test="certification != null">
        CERTIFICATION,
      </if>
      <if test="openCourseRequirement != null">
        OPEN_COURSE_REQUIREMENT,
      </if>
      <if test="suitableStudent != null">
        SUITABLE_STUDENT,
      </if>
      <if test="prerequest != null">
        PREREQUEST,
      </if>
      <if test="highScoreReward != null">
        HIGH_SCORE_REWARD,
      </if>
      <if test="studyDayNote != null">
        STUDY_DAY_NOTE,
      </if>
      <if test="teachingMaterialIntro != null">
        TEACHING_MATERIAL_INTRO,
      </if>
      <if test="questionBank != null">
        QUESTION_BANK,
      </if>
      <if test="qualityAssurance != null">
        QUALITY_ASSURANCE,
      </if>
      <if test="passAgreement != null">
        PASS_AGREEMENT,
      </if>
      <if test="extracurricular != null">
        EXTRACURRICULAR,
      </if>
      <if test="contact != null">
        CONTACT,
      </if>
      <if test="regPhone != null">
        REG_PHONE,
      </if>
      <if test="outline != null">
        OUTLINE,
      </if>
      <if test="goal != null">
        GOAL,
      </if>
      <if test="classTeacher != null">
        CLASS_TEACHER,
      </if>
      <if test="teachingAndExercise != null">
        TEACHING_AND_EXERCISE,
      </if>
      <if test="questionSession != null">
        QUESTION_SESSION,
      </if>
      <if test="trail != null">
        TRAIL,
      </if>
      <if test="assignments != null">
        ASSIGNMENTS,
      </if>
      <if test="marking != null">
        MARKING,
      </if>
      <if test="bonusService != null">
        BONUS_SERVICE,
      </if>
      <if test="downloadMaterials != null">
        DOWNLOAD_MATERIALS,
      </if>
      <if test="teachingMaterialFee != null">
        TEACHING_MATERIAL_FEE,
      </if>
      <if test="teachingMethod != null">
        TEACHING_METHOD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="locationId != null">
        #{locationId,jdbcType=INTEGER},
      </if>
      <if test="circleId != null">
        #{circleId,jdbcType=INTEGER},
      </if>
      <if test="partnerId != null">
        #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="originalPrice != null">
        #{originalPrice,jdbcType=DOUBLE},
      </if>
      <if test="cashback != null">
        #{cashback,jdbcType=DOUBLE},
      </if>
      <if test="commission != null">
        #{commission,jdbcType=DOUBLE},
      </if>
      <if test="serviceCharge != null">
        #{serviceCharge,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="courseHourNum != null">
        #{courseHourNum,jdbcType=INTEGER},
      </if>
      <if test="courseHourLength != null">
        #{courseHourLength,jdbcType=INTEGER},
      </if>
      <if test="classSize != null">
        #{classSize,jdbcType=INTEGER},
      </if>
      <if test="popularity != null">
        #{popularity,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="finishDate != null">
        #{finishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cutoffDate != null">
        #{cutoffDate,jdbcType=TIMESTAMP},
      </if>
      <if test="noRefundDate != null">
        #{noRefundDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cashbackDate != null">
        #{cashbackDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bookingType != null">
        #{bookingType,jdbcType=INTEGER},
      </if>
      <if test="startUponArrival != null">
        #{startUponArrival,jdbcType=INTEGER},
      </if>
      <if test="startTime1 != null">
        #{startTime1,jdbcType=INTEGER},
      </if>
      <if test="finishTime1 != null">
        #{finishTime1,jdbcType=INTEGER},
      </if>
      <if test="startTime2 != null">
        #{startTime2,jdbcType=INTEGER},
      </if>
      <if test="finishTime2 != null">
        #{finishTime2,jdbcType=INTEGER},
      </if>
      <if test="regLocation != null">
        #{regLocation,jdbcType=VARCHAR},
      </if>
      <if test="reference != null">
        #{reference,jdbcType=VARCHAR},
      </if>
      <if test="courseIntro != null">
        #{courseIntro,jdbcType=VARCHAR},
      </if>
      <if test="quiz != null">
        #{quiz,jdbcType=VARCHAR},
      </if>
      <if test="certification != null">
        #{certification,jdbcType=VARCHAR},
      </if>
      <if test="openCourseRequirement != null">
        #{openCourseRequirement,jdbcType=VARCHAR},
      </if>
      <if test="suitableStudent != null">
        #{suitableStudent,jdbcType=VARCHAR},
      </if>
      <if test="prerequest != null">
        #{prerequest,jdbcType=VARCHAR},
      </if>
      <if test="highScoreReward != null">
        #{highScoreReward,jdbcType=VARCHAR},
      </if>
      <if test="studyDayNote != null">
        #{studyDayNote,jdbcType=VARCHAR},
      </if>
      <if test="teachingMaterialIntro != null">
        #{teachingMaterialIntro,jdbcType=VARCHAR},
      </if>
      <if test="questionBank != null">
        #{questionBank,jdbcType=VARCHAR},
      </if>
      <if test="qualityAssurance != null">
        #{qualityAssurance,jdbcType=VARCHAR},
      </if>
      <if test="passAgreement != null">
        #{passAgreement,jdbcType=VARCHAR},
      </if>
      <if test="extracurricular != null">
        #{extracurricular,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="regPhone != null">
        #{regPhone,jdbcType=VARCHAR},
      </if>
      <if test="outline != null">
        #{outline,jdbcType=VARCHAR},
      </if>
      <if test="goal != null">
        #{goal,jdbcType=VARCHAR},
      </if>
      <if test="classTeacher != null">
        #{classTeacher,jdbcType=VARCHAR},
      </if>
      <if test="teachingAndExercise != null">
        #{teachingAndExercise,jdbcType=VARCHAR},
      </if>
      <if test="questionSession != null">
        #{questionSession,jdbcType=VARCHAR},
      </if>
      <if test="trail != null">
        #{trail,jdbcType=VARCHAR},
      </if>
      <if test="assignments != null">
        #{assignments,jdbcType=VARCHAR},
      </if>
      <if test="marking != null">
        #{marking,jdbcType=VARCHAR},
      </if>
      <if test="bonusService != null">
        #{bonusService,jdbcType=VARCHAR},
      </if>
      <if test="downloadMaterials != null">
        #{downloadMaterials,jdbcType=VARCHAR},
      </if>
      <if test="teachingMaterialFee != null">
        #{teachingMaterialFee,jdbcType=VARCHAR},
      </if>
      <if test="teachingMethod != null">
        #{teachingMethod,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="deleteById" parameterType="java.lang.Integer">
    update COURSE_TEMPLATE set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>

  <update id="update" parameterType="CourseTemplateEntityExt">
    update COURSE_TEMPLATE
    <set>
      <if test="courseName != null">
        COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        CATEGORY_ID = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="locationId != null">
        LOCATION_ID = #{locationId,jdbcType=INTEGER},
      </if>
      <if test="circleId != null">
        CIRCLE_ID = #{circleId,jdbcType=INTEGER},
      </if>
      <if test="partnerId != null">
        PARTNER_ID = #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="addressId != null">
        ADDRESS_ID = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=DOUBLE},
      </if>
      <if test="originalPrice != null">
        ORIGINAL_PRICE = #{originalPrice,jdbcType=DOUBLE},
      </if>
      <if test="cashback != null">
        CASHBACK = #{cashback,jdbcType=DOUBLE},
      </if>
      <if test="commission != null">
        COMMISSION = #{commission,jdbcType=DOUBLE},
      </if>
      <if test="serviceCharge != null">
        SERVICE_CHARGE = #{serviceCharge,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        DELETED = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="courseHourNum != null">
        COURSE_HOUR_NUM = #{courseHourNum,jdbcType=INTEGER},
      </if>
      <if test="courseHourLength != null">
        COURSE_HOUR_LENGTH =
        #{courseHourLength,jdbcType=INTEGER},
      </if>
      <if test="classSize != null">
        CLASS_SIZE = #{classSize,jdbcType=INTEGER},
      </if>
      <if test="popularity != null">
        POPULARITY = #{popularity,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        START_DATE = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="finishDate != null">
        FINISH_DATE = #{finishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cutoffDate != null">
        CUTOFF_DATE = #{cutoffDate,jdbcType=TIMESTAMP},
      </if>
      <if test="noRefundDate != null">
        NO_REFUND_DATE = #{noRefundDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cashbackDate != null">
        CASHBACK_DATE = #{cashbackDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bookingType != null">
        BOOKING_TYPE = #{bookingType,jdbcType=INTEGER},
      </if>
      <if test="startUponArrival != null">
        START_UPON_ARRIVAL =
        #{startUponArrival,jdbcType=INTEGER},
      </if>
      <if test="startTime1 != null">
        START_TIME1 = #{startTime1,jdbcType=INTEGER},
      </if>
      <if test="finishTime1 != null">
        FINISH_TIME1 = #{finishTime1,jdbcType=INTEGER},
      </if>
      <if test="startTime2 != null">
        START_TIME2 = #{startTime2,jdbcType=INTEGER},
      </if>
      <if test="finishTime2 != null">
        FINISH_TIME2 = #{finishTime2,jdbcType=INTEGER},
      </if>
      <if test="regLocation != null">
        REG_LOCATION = #{regLocation,jdbcType=VARCHAR},
      </if>
      <if test="reference != null">
        REFERENCE = #{reference,jdbcType=VARCHAR},
      </if>
      <if test="courseIntro != null">
        COURSE_INTRO = #{courseIntro,jdbcType=VARCHAR},
      </if>
      <if test="quiz != null">
        QUIZ = #{quiz,jdbcType=VARCHAR},
      </if>
      <if test="certification != null">
        CERTIFICATION = #{certification,jdbcType=VARCHAR},
      </if>
      <if test="openCourseRequirement != null">
        OPEN_COURSE_REQUIREMENT =
        #{openCourseRequirement,jdbcType=VARCHAR},
      </if>
      <if test="suitableStudent != null">
        SUITABLE_STUDENT = #{suitableStudent,jdbcType=VARCHAR},
      </if>
      <if test="prerequest != null">
        PREREQUEST = #{prerequest,jdbcType=VARCHAR},
      </if>
      <if test="highScoreReward != null">
        HIGH_SCORE_REWARD = #{highScoreReward,jdbcType=VARCHAR},
      </if>
      <if test="studyDayNote != null">
        STUDY_DAY_NOTE = #{studyDayNote,jdbcType=VARCHAR},
      </if>
      <if test="teachingMaterialIntro != null">
        TEACHING_MATERIAL_INTRO =
        #{teachingMaterialIntro,jdbcType=VARCHAR},
      </if>
      <if test="questionBank != null">
        QUESTION_BANK = #{questionBank,jdbcType=VARCHAR},
      </if>
      <if test="qualityAssurance != null">
        QUALITY_ASSURANCE =
        #{qualityAssurance,jdbcType=VARCHAR},
      </if>
      <if test="passAgreement != null">
        PASS_AGREEMENT = #{passAgreement,jdbcType=VARCHAR},
      </if>
      <if test="extracurricular != null">
        EXTRACURRICULAR = #{extracurricular,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        CONTACT = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="regPhone != null">
        REG_PHONE = #{regPhone,jdbcType=VARCHAR},
      </if>
      <if test="outline != null">
        OUTLINE = #{outline,jdbcType=VARCHAR},
      </if>
      <if test="goal != null">
        GOAL = #{goal,jdbcType=VARCHAR},
      </if>
      <if test="classTeacher != null">
        CLASS_TEACHER = #{classTeacher,jdbcType=VARCHAR},
      </if>
      <if test="teachingAndExercise != null">
        TEACHING_AND_EXERCISE =
        #{teachingAndExercise,jdbcType=VARCHAR},
      </if>
      <if test="questionSession != null">
        QUESTION_SESSION = #{questionSession,jdbcType=VARCHAR},
      </if>
      <if test="trail != null">
        TRAIL = #{trail,jdbcType=VARCHAR},
      </if>
      <if test="assignments != null">
        ASSIGNMENTS = #{assignments,jdbcType=VARCHAR},
      </if>
      <if test="marking != null">
        MARKING = #{marking,jdbcType=VARCHAR},
      </if>
      <if test="bonusService != null">
        BONUS_SERVICE = #{bonusService,jdbcType=VARCHAR},
      </if>
      <if test="downloadMaterials != null">
        DOWNLOAD_MATERIALS =
        #{downloadMaterials,jdbcType=VARCHAR},
      </if>
      <if test="teachingMaterialFee != null">
        TEACHING_MATERIAL_FEE =
        #{teachingMaterialFee,jdbcType=VARCHAR},
      </if>
      <if test="teachingMethod != null">
        TEACHING_METHOD = #{teachingMethod,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
   <select id="getCount" resultType="int">
    select count(ID) from COURSE_TEMPLATE where DELETED = 0
  </select>
  
   
</mapper>