<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.CreditHistoryEntityExtMapper">
  <resultMap id="CreditHistoryExtMap" type="CreditHistoryEntityExt">
    <id column="CREDITHISTORY_ID" property="id" jdbcType="INTEGER" />
    <result column="CREDITHISTORY_CHARGE" property="charge" jdbcType="DOUBLE" />
    <result column="CREDITHISTORY_USERID" property="userId" jdbcType="INTEGER" />
    <result column="CREDITHISTORY_LASTMODIFYTIME" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="CREDITHISTORY_CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREDITHISTORY_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="CreditHistory_Base_Column_List">
    CREDIT_HISTORY.ID CREDITHISTORY_ID,
    CREDIT_HISTORY.CHARGE CREDITHISTORY_CHARGE,
    CREDIT_HISTORY.USER_ID CREDITHISTORY_USERID,
    CREDIT_HISTORY.LAST_MODIFY_TIME
    CREDITHISTORY_LASTMODIFYTIME,
    CREDIT_HISTORY.CREATE_TIME CREDITHISTORY_CREATETIME,
    CREDIT_HISTORY.DELETED CREDITHISTORY_DELETED
  </sql>
  <insert id="add" parameterType="CreditHistoryEntityExt">

    insert into CREDIT_HISTORY
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="charge != null">
        CHARGE,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="charge != null">
        #{charge,jdbcType=DOUBLE},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="deleteById" parameterType="java.lang.Integer">
    update CREDIT_HISTORY set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="CreditHistoryEntityExt">
    update CREDIT_HISTORY
    <set>
      <if test="charge != null">
        CHARGE = #{charge,jdbcType=DOUBLE},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        DELETED = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
   <select id="getCount" resultType="int">
    select count(ID) from CREDIT_HISTORY where DELETED = 0
  </select>
  
   <select id="list" parameterType="map" resultMap="CreditHistoryExtMap">
    SELECT
    <include refid="CreditHistory_Base_Column_List"/>
    from CREDIT_HISTORY where CREDIT_HISTORY.DELETED = 0
    <if test="entity != null">
     
      <if test="entity.id != null and entity.id != 0">
        AND CREDIT_HISTORY.ID = #{entity.id,jdbcType=INTEGER}
      </if>
     
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idStart != null and entity.idStart != 0">
          <![CDATA[AND CREDIT_HISTORY.ID >= #{entity.idStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idEnd != null and entity.idEnd != 0">
          <![CDATA[AND CREDIT_HISTORY.ID <= #{entity.idEnd,jdbcType=INTEGER}]]>
        </if>
    </if>    
    
    <if test="entity.userId != null and entity.userId != 0">
        AND CREDIT_HISTORY.USER_ID = #{entity.userId,jdbcType=INTEGER}
      </if>
     
      <if test="entity.userId == null or entity.userId == 0">
        <if test="entity.userIdStart != null and entity.userIdStart != 0">
          <![CDATA[AND CREDIT_HISTORY.USER_ID >= #{entity.userIdStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.userIdEnd != null and entity.userIdEnd != 0">
          <![CDATA[AND CREDIT_HISTORY.USER_ID <= #{entity.userIdEnd,jdbcType=INTEGER}]]>
        </if>
    </if>    
    
    <if test="entity.charge != null and entity.charge != 0">
        AND CREDIT_HISTORY.CHARGE = #{entity.charge,jdbcType=DOUBLE}
      </if>
     
      <if test="entity.charge == null or entity.charge == 0">
        <if test="entity.chargeStart != null and entity.chargeStart != 0">
          <![CDATA[AND CREDIT_HISTORY.CHARGE >= #{entity.chargeStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.chargeEnd != null and entity.chargeEnd != 0">
          <![CDATA[AND CREDIT_HISTORY.CHARGE <= #{entity.chargeEnd,jdbcType=DOUBLE}]]>
        </if>
    </if>    
    
            <if test="entity.createTimeStart != null">
          <![CDATA[AND CREDIT_HISTORY.CREATE_TIME >= #{entity.createTimeStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND CREDIT_HISTORY.CREATE_TIME <= #{entity.createTimeEnd,jdbcType=TIMESTAMP}]]>
        </if>   
    
       
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND CREDIT_HISTORY.LAST_MODIFY_TIME >= #{entity.lastModifyTimeStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND CREDIT_HISTORY.LAST_MODIFY_TIME <= #{entity.lastModifyTimeEnd,jdbcType=TIMESTAMP}]]>
        </if>
        
      
      <if test="page != null">
        LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
      </if>
      
    </if>
  </select>
  <select id="getListCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM (
     select
     <include refid="CreditHistory_Base_Column_List"/>
    from CREDIT_HISTORY where CREDIT_HISTORY.DELETED = 0
    <if test="entity != null">
     
      <if test="entity.id != null and entity.id != 0">
        AND CREDIT_HISTORY.ID = #{entity.id,jdbcType=INTEGER}
      </if>
     
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idStart != null and entity.idStart != 0">
          <![CDATA[AND CREDIT_HISTORY.ID >= #{entity.idStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idEnd != null and entity.idEnd != 0">
          <![CDATA[AND CREDIT_HISTORY.ID <= #{entity.idEnd,jdbcType=INTEGER}]]>
        </if>
    </if>    
    
    <if test="entity.userId != null and entity.userId != 0">
        AND CREDIT_HISTORY.USER_ID = #{entity.userId,jdbcType=INTEGER}
      </if>
     
      <if test="entity.userId == null or entity.userId == 0">
        <if test="entity.userIdStart != null and entity.userIdStart != 0">
          <![CDATA[AND CREDIT_HISTORY.USER_ID >= #{entity.userIdStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.userIdEnd != null and entity.userIdEnd != 0">
          <![CDATA[AND CREDIT_HISTORY.USER_ID <= #{entity.userIdEnd,jdbcType=INTEGER}]]>
        </if>
    </if>    
    
    <if test="entity.charge != null and entity.charge != 0">
        AND CREDIT_HISTORY.CHARGE = #{entity.charge,jdbcType=DOUBLE}
      </if>
     
      <if test="entity.charge == null or entity.charge == 0">
        <if test="entity.chargeStart != null and entity.chargeStart != 0">
          <![CDATA[AND CREDIT_HISTORY.CHARGE >= #{entity.chargeStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.chargeEnd != null and entity.chargeEnd != 0">
          <![CDATA[AND CREDIT_HISTORY.CHARGE <= #{entity.chargeEnd,jdbcType=DOUBLE}]]>
        </if>
    </if>        
        
        <if test="entity.createTimeStart != null">
          <![CDATA[AND CREDIT_HISTORY.CREATE_TIME >= #{entity.createTimeStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND CREDIT_HISTORY.CREATE_TIME <= #{entity.createTimeEnd,jdbcType=TIMESTAMP}]]>
        </if>          
     
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND CREDIT_HISTORY.LAST_MODIFY_TIME >= #{entity.lastModifyTimeStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND CREDIT_HISTORY.LAST_MODIFY_TIME <= #{entity.lastModifyTimeEnd,jdbcType=TIMESTAMP}]]>
        </if>      
      
      <if test="page != null">
        LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
      </if>
      
    </if>
    ) AS total
    </select>
</mapper>