<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.MessageEntityExtMapper">
  <resultMap id="MessageExtMap" type="MessageEntityExt">
    <id column="MESSAGE_ID" property="id" jdbcType="INTEGER" />
    <result column="MESSAGE_MESSAGETEXT" property="messageFext" jdbcType="VARCHAR" />
    <result column="MESSAGE_USERFROMID" property="userFromId" jdbcType="INTEGER" />
    <result column="MESSAGE_USERTOID" property="userToId" jdbcType="INTEGER" />

    <result column="MESSAGE_STATUS" property="status" jdbcType="INTEGER" />
    <result column="MESSAGE_READTIME" property="readTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />

    <result column="MESSAGE_CREATETIME" property="createTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="MESSAGE_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Message_Base_Column_List">
    MESSAGE.ID MESSAGE_ID,
    MESSAGE.MESSAGE_TEXT MESSAGE_MESSAGETEXT,
    MESSAGE.USER_FROM_ID
    MESSAGE_USERFROMID,
    MESSAGE.USER_TO_ID MESSAGE_USERTOID,
    MESSAGE.STATUS MESSAGE_STATE
    MESSAGE.READ_TIME MESSAGE_READTIME
    MESSAGE.CREATE_TIME MESSAGE_CREATETIME,
    MESSAGE.DELETED
    MESSAGE_DELETED
  </sql>
  <!-- add -->
  <insert id="add" parameterType="MessageEntityExt">
    insert into MESSAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="messageText != null">
        MESSAGE_TEXT,
      </if>
      <if test="userFromId != null">
        USER_FROM_ID,
      </if>
      <if test="userToId != null">
        USER_TO_ID,
      </if>
      <if test="status != null">
        SATUS,
      </if>
      <if test="readTime != null">
        READ_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="messageText != null">
        #{messagetext,jdbcType=VARCHAR},
      </if>
      <if test="userFromId != null">
        #{userFromId,jdbcType=INTEGER},
      </if>
      <if test="userToId != null">
        #{userToId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="readTime != null">
        #{readTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <!-- deleteById -->
  <update id="deleteById" parameterType="java.lang.Integer">
    update MESSAGE set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <!-- update -->
  <update id="update" parameterType="MessageEntityExt">
    update MESSAGE
    <set>
      <if test="messageText != null">
        MESSAGE_TEXT = #{messageText,jdbcType=VARCHAR},
      </if>
      <if test="userFromId != null">
        USER_FROM_ID = #{userFromId,jdbcType=INTEGER},
      </if>
      <if test="userToId != null">
        USER_TO_ID = #{userToId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="readTime != null">
        READ_TIME =
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        CREATE_TIME =
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- getCount -->
  <select id="getCount" resultType="int">
    select count(ID) from MESSAGE where DELETED = 0
  </select>
   <!-- getById -->
  <select id="getById" parameterType="int" resultMap="MessageExtMap">
    SELECT
    <include refid="Message_Base_Column_List" />
    from MESSAGE where MESSAGE.DELETED = 0 and MESSAGE.ID = #{id,jdbcType=INTEGER}
  </select>
  <!-- list -->
  <select id="list" parameterType="map" resultMap="MessageExtMap">
    SELECT
    <include refid="Message_Base_Column_List" />
    from MESSAGE where MESSAGE.DELETED = 0
    <if test="entity != null">

      <if test="entity.id != null and entity.id != 0">
        AND MESSAGE.ID = #{entity.id,jdbcType=INTEGER}
      </if>

      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND MESSAGE.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.messageText != null and !entity.messageText.equals('')">
        AND MESSAGE.MESSAGE_TEXT LIKE "%"#{entity.messageText,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.userFromId != null and entity.userFromId != 0">
        AND MESSAGE.USER_FROM_ID = #{entity.userFromId,jdbcType=INTEGER}
      </if>
      <if test="entity.userFromId == null or entity.userFromId == 0">
        <if test="entity.userFromIdSet != null and entity.userFromIdSet.size() > 0">
          AND MESSAGE.USER_FROM_ID IN
          <foreach collection="entity.userFromIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.userToId  != null and entity.userToId  != 0">
        AND MESSAGE.USER_TO_ID = #{entity.userToId,jdbcType=INTEGER}
      </if>
      <if test="entity.userToId == null or entity.userToId == 0">
        <if test="entity.userToIdSet != null and entity.userToIdSet.size() > 0">
          MESSAGE.USER_TO_ID IN
          <foreach collection="entity.userToIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.status != null">
        AND MESSAGE.STATUS = #{entity.status,jdbcType=INTEGER}
      </if>
      <if test="entity.status == null">
        <if test="entity.statusSet != null and entity.statusSet.size() > 0">
          MESSAGE.STATUS IN
          <foreach collection="entity.statusSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.readTime != null">
        AND MESSAGE.READ_TIME =
        #{entity.readTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.readTime == null">
        <if test="entity.readTimeStart != null">
            <![CDATA[AND MESSAGE.READ_TIME >= #{entity.readTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.readTimeEnd != null">
            <![CDATA[AND MESSAGE.READ_TIME <= #{entity.readTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND MESSAGE.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
            <![CDATA[AND MESSAGE.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
            <![CDATA[AND MESSAGE.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
    </if>

    <if test="page != null and page.orderByEntities != null and page.orderByEntities.size() > 0">
      ORDER BY
      <foreach collection="page.orderByEntities" item="listItem" separator=",">
        MESSAGE.${listItem.columnKey}
        ${listItem.order}
      </foreach>
    </if>
    <if test="page.offset != null and page.size != null">
      LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
    </if>
  </select>
  <!-- getListCount -->
  <select id="getListCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM (
    SELECT
    <include refid="Message_Base_Column_List" />
    from MESSAGE where MESSAGE.DELETED = 0
    <if test="entity != null">

      <if test="entity.id != null and entity.id != 0">
        AND MESSAGE.ID = #{entity.id,jdbcType=INTEGER}
      </if>

      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null andentity.idSet.size() > 0">
          AND MESSAGE.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.messageText != null and !entity.messageText.equals('')">
        AND MESSAGE.MESSAGE_TEXT LIKE "%"#{entity.messageText,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.userFromId != null and entity.userFromId != 0">
        AND MESSAGE.USER_FROM_ID = #{entity.userFromId,jdbcType=INTEGER}
      </if>
      <if test="entity.userFromId == null or entity.userFromId == 0">
        <if test="entity.userFromIdSet.size() > 0">
          AND MESSAGE.USER_FROM_ID IN
          <foreach collection="entity.userFromIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.userToId  != null and entity.userToId  != 0">
        AND MESSAGE.USER_TO_ID = #{entity.userToId,jdbcType=INTEGER}
      </if>
      <if test="entity.userToId == null or entity.userToId == 0">
        <if test="entity.userToIdSet.size() > 0">
          MESSAGE.USER_TO_ID IN
          <foreach collection="entity.userToIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.status != null">
        AND MESSAGE.STATUS = #{entity.status,jdbcType=INTEGER}
      </if>
      <if test="entity.status == null">
        <if test="entity.statusSet != null and entity.statusSet.size() > 0">
          MESSAGE.STATUS IN
          <foreach collection="entity.statusSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.readTime != null">
        AND MESSAGE.READ_TIME =
        #{entity.readTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.readTime == null">
        <if test="entity.readTimeStart != null">
            <![CDATA[AND MESSAGE.READ_TIME >= #{entity.readTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.readTimeEnd != null">
            <![CDATA[AND MESSAGE.READ_TIME <= #{entity.readTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND MESSAGE.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
            <![CDATA[AND MESSAGE.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
            <![CDATA[AND MESSAGE.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
    </if>
    ) AS total
  </select>
  <!-- listAll -->
  <select id="listAll">
    SELECT
    <include refid="Message_Base_Column_List" />
    from MESSAGE where MESSAGE.DELETED = 0
  </select>
</mapper>