<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.OrderHistoryEntityExtMapper">
  <resultMap id="OrderHistoryExtMap" type="OrderHistoryEntityExt">
    <id column="ORDERHISTORY_ID" property="id" jdbcType="INTEGER" />
    <result column="ORDERHISTORY_ORDERID" property="orderId" jdbcType="INTEGER" />
    <result column="ORDERHISTORY_USERID" property="userId" jdbcType="INTEGER" />
    <result column="ORDERHISTORY_OPTNAME" property="optName" jdbcType="INTEGER" />
    <result column="ORDERHISTORY_REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ORDERHISTORY_PRESTATUS" property="preStatus" jdbcType="INTEGER" />
    <result column="ORDERHISTORY_POSTSTATUS" property="postStatus" jdbcType="INTEGER" />
    <result column="ORDERHISTORY_NORMAL" property="normal" jdbcType="INTEGER" />
    <result column="ORDERHISTORY_CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ORDERHISTORY_ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="ORDERHISTORY_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="OrderHistory_Base_Column_List">
    ORDER_HISTORY.ID ORDERHISTORY_ID,
    ORDER_HISTORY.ORDER_ID ORDERHISTORY_ORDERID,
    ORDER_HISTORY.USER_ID ORDERHISTORY_USERID,
    ORDER_HISTORY.OPT_NAME ORDERHISTORY_OPTNAME,
    ORDER_HISTORY.REMARK ORDERHISTORY_REMARK,
    ORDER_HISTORY.PRE_STATUS ORDERHISTORY_PRESTATUS,
    ORDER_HISTORY.POST_STATUS ORDERHISTORY_POSTSTATUS,
    ORDER_HISTORY.NORMAL ORDERHISTORY_NORMAL,
    ORDER_HISTORY.CREATE_TIME ORDERHISTORY_CREATETIME,
    ORDER_HISTORY.ENABLED ORDERHISTORY_ENABLED,
    ORDER_HISTORY.DELETED ORDERHISTORY_DELETED
  </sql>
  <insert id="add" parameterType="OrderHistoryEntityExt">

    insert into ORDER_HISTORY
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="optName != null">
        OPT_NAME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="preStatus != null">
        PRE_STATUS,
      </if>
      <if test="postStatus != null">
        POST_STATUS,
      </if>
      <if test="normal != null">
        NORMAL,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="optName != null">
        #{optName,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="preStatus != null">
        #{preStatus,jdbcType=INTEGER},
      </if>
      <if test="postStatus != null">
        #{postStatus,jdbcType=INTEGER},
      </if>
      <if test="normal != null">
        #{normal,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="deleteById" parameterType="java.lang.Integer">
    update ORDER_HISTORY set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="OrderHistoryEntityExt">
    update ORDER_HISTORY
    <set>
      <if test="record.orderId != null">
        ORDER_ID = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.optName != null">
        OPT_NAME = #{record.optName,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.preStatus != null">
        PRE_STATUS = #{record.preStatus,jdbcType=INTEGER},
      </if>
      <if test="record.postStatus != null">
        POST_STATUS = #{record.postStatus,jdbcType=INTEGER},
      </if>
      <if test="record.normal != null">
        NORMAL = #{record.normal,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enabled != null">
        ENABLED = #{record.enabled,jdbcType=INTEGER},
      </if>
      <if test="record.deleted != null">
        DELETED = #{record.deleted,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="getCount" resultType="int">
    select count(ID) from ORDER_HISTORY where DELETED = 0
  </select>
  <select id="list" parameterType="map" resultMap="OrderHistoryExtMap">
    select
    <include refid="OrderHistory_Base_Column_List"></include>
    from ORDER_HISTORY 
    where ORDER_HISTORY.DELETED = 0
    <if test="entity != null">
      <!-- id -->
      <if test="entity.id != null and entity.id != 0">
        AND ORDER_HISTORY.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idStart != null and entity.idStart != 0">
          <![CDATA[AND ORDER_HISTORY.ID >= #{entity.idStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idEnd != null and entity.idEnd != 0">
          <![CDATA[AND ORDER_HISTORY.ID <= #{entity.idEnd,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idSet.size() > 0">
          AND ORDER_HISTORY.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>
      
      <!-- Integer 属性 -->
      <if test="entity.orderId != null and entity.orderId != 0">
        AND ORDER_HISTORY.ORDER_ID = #{entity.orderId,jdbcType=INTEGER}
      </if>
      
      <!-- Integer 属性 -->
      <if test="entity.userId != null and entity.userId != 0">
        AND ORDER_HISTORY.USER_ID = #{entity.userId,jdbcType=INTEGER}
      </if>
      
      <!-- Integer 属性 -->
      <if test="entity.optName != null and entity.optName != 0">
        AND ORDER_HISTORY.OPT_NAME = #{entity.optName,jdbcType=INTEGER}
      </if>
      
      <!-- String 属性 -->
      <if test="entity.remark != null and entity.remark != ''">
        AND ORDER_HISTORY.REMARK LIKE "%"#{entity.remark,jdbcType=VARCHAR}"%"
      </if>

      <!-- Integer 属性 -->
      <if test="entity.preStatus != null and entity.preStatus != 0">
        AND ORDER_HISTORY.PRE_STATUS = #{entity.preStatus,jdbcType=INTEGER}
      </if>
      
      <!-- Integer 属性 -->
      <if test="entity.postStatus != null and entity.postStatus != 0">
        AND ORDER_HISTORY.POST_STATUS = #{entity.postStatus,jdbcType=INTEGER}
      </if>
      
      <!-- Integer 属性 -->
      <if test="entity.normal != null and entity.normal != 0">
        AND ORDER_HISTORY.NORMAL = #{entity.normal,jdbcType=INTEGER}
      </if>
      
      <!-- Date 属性 -->
      <if test="entity.createTime != 0 and entity.createTime != null">
        AND ORDER_HISTORY.CREATE_TIME = #{entity.createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="entity.createTime == null or entity.createTime == 0">
        <if test="entity.createTimeStart != null and entity.createTimeStart != 0">
          <![CDATA[AND ORDER_HISTORY.CREATE_TIME >= #{entity.createTimeStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.createTimeEnd != null and entity.createTimeEnd != 0">
          <![CDATA[AND ORDER_HISTORY.CREATE_TIME <= #{entity.createTimeEnd,jdbcType=TIMESTAMP}]]>
        </if>
      </if>
      
      <!-- Integer 属性 -->
      <if test="entity.enabled != null">
        AND ORDER_HISTORY.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>
       <if test="page.orderByEntities != null and page.orderByEntities.size() > 0">
      ORDER BY
      <foreach collection="page.orderByEntities" item="listItem" separator=",">
        USERS.${listItem.columnKey} ${listItem.order}
      </foreach>
    </if>
      <!-- 分页、必需 -->
      <if test="page != null">
        LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
      </if>
    </if>
  </select>
       <select id="getListCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM (
    select
     <include refid="OrderHistory_Base_Column_List"></include>
    from ORDER_HISTORY 
    where ORDER_HISTORY.DELETED = 0
    <if test="entity != null">
      <!-- id -->
      <if test="entity.id != null and entity.id != 0">
        AND ORDER_HISTORY.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idStart != null and entity.idStart != 0">
          <![CDATA[AND ORDER_HISTORY.ID >= #{entity.idStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idEnd != null and entity.idEnd != 0">
          <![CDATA[AND ORDER_HISTORY.ID <= #{entity.idEnd,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idSet.size() > 0">
          AND ORDER_HISTORY.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>
      
      <!-- Integer 属性 -->
      <if test="entity.orderId != null and entity.orderId != 0">
        AND ORDER_HISTORY.ORDER_ID = #{entity.orderId,jdbcType=INTEGER}
      </if>
      
      <!-- Integer 属性 -->
      <if test="entity.userId != null and entity.userId != 0">
        AND ORDER_HISTORY.USER_ID = #{entity.userId,jdbcType=INTEGER}
      </if>
      
      <!-- Integer 属性 -->
      <if test="entity.optName != null and entity.optName != 0">
        AND ORDER_HISTORY.OPT_NAME = #{entity.optName,jdbcType=INTEGER}
      </if>
      
      <!-- String 属性 -->
      <if test="entity.remark != null and entity.remark != ''">
        AND ORDER_HISTORY.REMARK LIKE "%"#{entity.remark,jdbcType=VARCHAR}"%"
      </if>

      <!-- Integer 属性 -->
      <if test="entity.preStatus != null and entity.preStatus != 0">
        AND ORDER_HISTORY.PRE_STATUS = #{entity.preStatus,jdbcType=INTEGER}
      </if>
      
      <!-- Integer 属性 -->
      <if test="entity.postStatus != null and entity.postStatus != 0">
        AND ORDER_HISTORY.POST_STATUS = #{entity.postStatus,jdbcType=INTEGER}
      </if>
      
      <!-- Integer 属性 -->
      <if test="entity.normal != null and entity.normal != 0">
        AND ORDER_HISTORY.NORMAL = #{entity.normal,jdbcType=INTEGER}
      </if>
      
      <!-- Date 属性 -->
      <if test="entity.createTime != 0 and entity.createTime != null">
        AND ORDER_HISTORY.CREATE_TIME = #{entity.createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="entity.createTime == null or entity.createTime == 0">
        <if test="entity.createTimeStart != null and entity.createTimeStart != 0">
          <![CDATA[AND ORDER_HISTORY.CREATE_TIME >= #{entity.createTimeStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.createTimeEnd != null and entity.createTimeEnd != 0">
          <![CDATA[AND ORDER_HISTORY.CREATE_TIME <= #{entity.createTimeEnd,jdbcType=TIMESTAMP}]]>
        </if>
      </if>
      
      <!-- Integer 属性 -->
      <if test="entity.enabled != null">
        AND ORDER_HISTORY.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>
      </if>
    ) AS total
  </select>
</mapper>