<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.OrderEntityExtMapper">
  <resultMap id="OrderExtMap" type="OrderEntityExt">
    <id column="ORDER_ID" property="id" jdbcType="INTEGER" />
    <result column="ORDER_BOOKINGID" property="bookingId" jdbcType="INTEGER" />
    <result column="ORDER_CREATETIME" property="createTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="ORDER_TYPE" property="type" jdbcType="VARCHAR" />
    <result column="ORDER_PRICE" property="price" jdbcType="DOUBLE" />
    <result column="ORDER_RUNINGNUMBER" property="runingNumber" jdbcType="VARCHAR" />
    <result column="ORDER_STATUS" property="status" jdbcType="VARCHAR" />
    <result column="ORDER_ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="ORDER_DELEDED" property="deleded" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Order_Base_Column_List">
    ORDER.ID ORDER_ID,
    ORDER.BOOKING_ID ORDER_BOOKINGID,
    ORDER.CREATE_TIME
    ORDER_CREATETIME,
    ORDER.TYPE
    ORDER_TYPE,
    ORDER.PRICE ORDER_PRICE,
    ORDER.RUNING_NUMBER
    ORDER_RUNINGNUMBER,
    ORDER.STATUS
    ORDER_STATUS,
    ORDER.ENABLED ORDER_ENABLED,
    ORDER.DELETED ORDER_DELETED
  </sql>
  <!-- add -->
  <insert id="add" parameterType="OrderEntityExt">
    insert into `ORDER`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookingId != null">
        BOOKING_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="runingNumber != null">
        RUNING_NUMBER,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookingId != null">
        #{bookingId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="runingNumber != null">
        #{runingNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <!-- deleteById -->
  <update id="deleteById" parameterType="java.lang.Integer">
    update `ORDER` set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <!-- update -->
  <update id="update" parameterType="OrderEntityExt">
    update `ORDER`
    <set>
      <if test="bookingId != null">
        BOOKING_ID = #{bookingId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME =
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=DOUBLE},
      </if>
      <if test="runingNumber != null">
        RUNING_NUMBER = #{runingNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        DELETED = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- getCount -->
  <select id="getCount" resultType="int">
    select count(ID) from `ORDER` where DELETED = 0
  </select>
  <!-- list -->
  <select id="list" parameterType="map" resultMap="OrderExtMap">
    select
    <include refid="Order_Base_Column_List"></include>
    from `ORDER`
    where `ORDER`.DELETED = 0
    <if test="entity != null">

      <if test="entity.id != null and entity.id != 0">
        AND `ORDER`.ID = #{entity.id,jdbcType=INTEGER}
      </if>

      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND `ORDER`.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.bookingId != null and entity.bookingId != 0">
        AND `ORDER`.BOOKING_ID = #{entity.bookingId,jdbcType=INTEGER}
      </if>
      <if test="entity.bookingId == null or entity.bookingId == 0">
        <if test="entity.bookingIdSet != null and entity.bookingIdSet.size() > 0">
          `ORDER`.BOOKING_ID IN
          <foreach collection="entity.bookingIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>
      
      <if test="entity.status != null">
        AND `ORDER`.STATUS = #{entity.status,jdbcType=INTEGER}
      </if>
      <if test="entity.status == null">
        <if test="entity.statusSet != null and entity.statusSet.size() > 0">
          `ORDER`.STATUS IN
          <foreach collection="entity.statusSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND `ORDER`.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND `ORDER`.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND `ORDER`.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>

      <if test="entity.type != null and !entity.type.equals('')">
        AND ORDER.TYPE LIKE "%"#{entity.type,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.price != null and entity.price != 0">
        AND `ORDER`.PRICE = #{entity.price,jdbcType=DOUBLE}
      </if>
      <if test="entity.price == null">
        <if test="entity.priceStart != null">
          <![CDATA[AND `ORDER`.PRICE >= #{entity.priceStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.priceEnd != null">
          <![CDATA[AND `ORDER`.PRICE <= #{entity.priceEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.runingNumber != null and !entity.runingNumber.equals('')">
        AND ORDER.RUNING_NUMBER LIKE "%"#{entity.runingNumber,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.status != null and !entity.status.equals('')">
        AND ORDER.STATUS LIKE "%"#{entity.status,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.enabled != null and entity.enabled != 0">
        AND `ORDER`.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>
    </if>

    <if test="page != null and page.orderByEntities != null and page.orderByEntities.size() > 0">
      ORDER BY
      <foreach collection="page.orderByEntities" item="listItem" separator=",">
        ORDER.${listItem.columnKey} ${listItem.order}
      </foreach>
    </if>

    <if test="page.offset != null and page.size != null">
      LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
    </if>

  </select>
  <!-- getListCount -->
  <select id="getListCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM (
    select
    <include refid="Order_Base_Column_List"></include>
    from `ORDER`
    where `ORDER`.DELETED = 0
    <if test="entity != null">

      <if test="entity.id != null and entity.id != 0">
        AND `ORDER`.ID = #{entity.id,jdbcType=INTEGER}
      </if>

      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND `ORDER`.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.bookingId != null and entity.bookingId != 0">
        AND `ORDER`.BOOKING_ID = #{entity.bookingId,jdbcType=INTEGER}
      </if>
      <if test="entity.bookingId == null or entity.bookingId == 0">
        <if test="entity.bookingIdSet != null and entity.bookingIdSet.size() > 0">
          `ORDER`.BOOKING_ID IN
          <foreach collection="entity.bookingIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>
      
      <if test="entity.status != null">
        AND `ORDER`.STATUS = #{entity.status,jdbcType=INTEGER}
      </if>
      <if test="entity.status == null">
        <if test="entity.statusSet != null and entity.statusSet.size() > 0">
          `ORDER`.STATUS IN
          <foreach collection="entity.statusSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND `ORDER`.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND `ORDER`.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND `ORDER`.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>

      <if test="entity.type != null and !entity.type.equals('')">
        AND ORDER.TYPE LIKE "%"#{entity.type,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.price != null and entity.price != 0">
        AND `ORDER`.PRICE = #{entity.price,jdbcType=DOUBLE}
      </if>
      <if test="entity.price == null">
        <if test="entity.priceStart != null">
          <![CDATA[AND `ORDER`.PRICE >= #{entity.priceStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.priceEnd != null">
          <![CDATA[AND `ORDER`.PRICE <= #{entity.priceEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.runingNumber != null and !entity.runingNumber.equals('')">
        AND ORDER.RUNING_NUMBER LIKE "%"#{entity.runingNumber,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.status != null and !entity.status.equals('')">
        AND ORDER.STATUS LIKE "%"#{entity.status,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.enabled != null and entity.enabled != 0">
        AND `ORDER`.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>
    </if>
    ) AS total
  </select>
</mapper>