<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.PartnerEntityExtMapper">
  <resultMap id="PartnerExtMap" type="PartnerEntityExt">
    <id column="PARTNER_ID" property="id" jdbcType="INTEGER" />
    <result column="PARTNER_INSTNAME" property="instName" jdbcType="VARCHAR" />
    <result column="PARTNER_LOGOURL" property="logoUrl" jdbcType="VARCHAR" />
    <result column="PARTNER_CONTRACT" property="contract" jdbcType="VARCHAR" />
    <result column="PARTNER_LASTLOGINTIME" property="lastLoginTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="PARTNER_LASTMODIFYTIME" property="lastModifyTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="PARTNER_CREATETIME" property="createTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="PARTNER_ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="PARTNER_DELETED" property="deleted" jdbcType="INTEGER" />
    <result column="PARTNER_WHOLENAME" property="wholeName" jdbcType="VARCHAR" />
    <result column="PARTNER_LICENCE" property="licence" jdbcType="VARCHAR" />
    <result column="PARTNER_ORGANIZATIONNUM" property="organizationNum" jdbcType="VARCHAR" />
    <result column="PARTNER_REFERENCE" property="reference" jdbcType="VARCHAR" />
    <result column="PARTNER_PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="PARTNER_PARTNERINTRO" property="partnerIntro" jdbcType="VARCHAR" />
    <result column="PARTNER_PARTNERDISTINCTION" property="partnerDistinction" jdbcType="VARCHAR" />
    <result column="PARTNER_LICENCEIMGURL" property="licenceImgUrl" jdbcType="VARCHAR" />
    <result column="PARTNER_TAXREGIMGURL" property="taxRegImgUrl" jdbcType="VARCHAR" />
    <result column="PARTNER_EDUQUALIFICATIONIMGURL" property="eduQualificationImgUrl"
      jdbcType="VARCHAR" />
    <result column="PARTNER_HQLOCATION" property="hqLocation" jdbcType="VARCHAR" />
    <result column="PARTNER_UNIREGLOCATION" property="uniRegLocation" jdbcType="INTEGER" />
    <result column="PARTNER_HQCONTACT" property="hqContact" jdbcType="VARCHAR" />
    <result column="PARTNER_HQCONTACTPHONE" property="hqContactPhone" jdbcType="VARCHAR" />
    <result column="PARTNER_HQCONTACTSECOPT" property="hqContactSecopt" jdbcType="VARCHAR" />
    <result column="PARTNER_COURSECONTACT" property="courseContact" jdbcType="VARCHAR" />
    <result column="PARTNER_COURSECONTACTPHONE" property="courseContactPhone" jdbcType="VARCHAR" />
    <result column="PARTNER_STUDENTINQUERYPHONE" property="studentInqueryPhone" jdbcType="VARCHAR" />
    <result column="PARTNER_REGCONTACT" property="regContact" jdbcType="VARCHAR" />
    <result column="PARTNER_REGCONTACTPHONE" property="regContactPhone" jdbcType="VARCHAR" />
    <result column="PARTNER_REGCONTACTFAX" property="regContactFax" jdbcType="VARCHAR" />
    <result column="PARTNER_CUTOFFDAY" property="cutoffDay" jdbcType="INTEGER" />
    <result column="PARTNER_CUTOFFTIME" property="cutoffTime" jdbcType="INTEGER" />
    <result column="PARTNER_PARTNERQUALIFICATION" property="partnerQualification" jdbcType="INTEGER" />
    <result column="PARTNER_RATING" property="rating" jdbcType="DOUBLE" />

    <collection property="teacherList" javaType="java.util.ArrayList" ofType="TeacherEntityExt">
      <id column="TEACHER_ID" property="id" jdbcType="INTEGER" />
      <result column="TEACHER_PARTNERID" property="partnerId" jdbcType="INTEGER" />
      <result column="TEACHER_IMGURL" property="imgUrl" jdbcType="VARCHAR" />
      <result column="TEACHER_NAME" property="name" jdbcType="VARCHAR" />
      <result column="TEACHER_INTRO" property="intro" jdbcType="VARCHAR" />
      <result column="TEACHER_POPULARITY" property="popularity" jdbcType="INTEGER" />
      <result column="TEACHER_LASTMODIFYTIME" property="lastModifyTime"
        typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
      <result column="TEACHER_CREATETIME" property="createTime"
        typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
      <result column="TEACHER_ENABLED" property="enabled" jdbcType="INTEGER" />
      <result column="TEACHER_DELETED" property="deleted" jdbcType="INTEGER" />
    </collection>
    <collection property="classPhotoList" javaType="java.util.ArrayList" ofType="ClassPhotoEntityExt">
      <id column="CLASSPHOTO_ID" property="id" jdbcType="INTEGER" />
      <result column="CLASSPHOTO_PARTNERID" property="partnerId" jdbcType="INTEGER" />
      <result column="CLASSPHOTO_IMGURL" property="imgUrl" jdbcType="VARCHAR" />
      <result column="CLASSPHOTO_TITLE" property="title" jdbcType="VARCHAR" />
      <result column="CLASSPHOTO_DESCRIPTION" property="description" jdbcType="VARCHAR" />
      <result column="CLASSPHOTO_LASTMODIFYTIME" property="lastModifyTime"
        typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
      <result column="CLASSPHOTO_CREATETIME" property="createTime"
        typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
      <result column="CLASSPHOTO_ENABLED" property="enabled" jdbcType="INTEGER" />
      <result column="CLASSPHOTO_DELETED" property="deleted" jdbcType="INTEGER" />
    </collection>
    <collection property="addressList" javaType="java.util.ArrayList" ofType="AddressEntityExt">
      <id column="ADDRESS_ID" property="id" jdbcType="INTEGER" />
      <result column="ADDRESS_PARTNERID" property="partnerId" jdbcType="INTEGER" />
      <result column="ADDRESS_DETAIL" property="detail" jdbcType="VARCHAR" />
      <result column="ADDRESS_LAT" property="lat" jdbcType="DOUBLE" />
      <result column="ADDRESS_LNG" property="lng" jdbcType="DOUBLE" />
      <result column="ADDRESS_LAST_MODIFYTIME" property="lastModifyTime"
        typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
      <result column="ADDRESS_CREATETIME" property="createTime"
        typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
      <result column="ADDRESS_ENABLED" property="enabled" jdbcType="INTEGER" />
      <result column="ADDRESS_DELETED" property="deleted" jdbcType="INTEGER" />
    </collection>
  </resultMap>
  <sql id="Partner_Base_Column_List">
    PARTNER.ID PARTNER_ID,
    PARTNER.INST_NAME PARTNER_INSTNAME,
    PARTNER.LOGO_URL
    PARTNER_LOGOURL,
    PARTNER.CONTRACT
    PARTNER_CONTRACT,
    PARTNER.LAST_LOGIN_TIME PARTNER_LASTLOGINTIME,
    PARTNER.LAST_MODIFY_TIME
    PARTNER_LASTMODIFYTIME,
    PARTNER.CREATE_TIME PARTNER_CREATETIME,
    PARTNER.ENABLED PARTNER_ENABLED,
    PARTNER.DELETED PARTNER_DELETED,
    PARTNER.WHOLE_NAME
    PARTNER_WHOLENAME,
    PARTNER.LICENCE
    PARTNER_LICENCE,
    PARTNER.ORGANIZATION_NUM
    PARTNER_ORGANIZATIONNUM,
    PARTNER.REFERENCE
    PARTNER_REFERENCE,
    PARTNER.PASSWORD PARTNER_PASSWORD,
    PARTNER.PARTNER_INTRO PARTNER_PARTNERINTRO,
    PARTNER.PARTNER_DISTINCTION
    PARTNER_PARTNERDISTINCTION,
    PARTNER.LICENCE_IMG_URL
    PARTNER_LICENCEIMGURL,
    PARTNER.TAX_REG_IMG_URL
    PARTNER_TAXREGIMGURL,
    PARTNER.EDU_QUALIFICATION_IMG_URL PARTNER_EDUQUALIFICATIONIMGURL,
    PARTNER.HQ_LOCATION
    PARTNER_HQLOCATION,
    PARTNER.UNI_REG_LOCATION PARTNER_UNIREGLOCATION,
    PARTNER.HQ_CONTACT
    PARTNERHQCONTACT,
    PARTNER.HQ_CONTACT_PHONE PARTNER_HQCONTACTPHONE,
    PARTNER.HQ_CONTACT_SECOPT
    PARTNER_HQCONTACTSECOPT,
    PARTNER.COURSE_CONTACT PARTNER_COURSECONTACT,
    PARTNER.COURSE_CONTACT_PHONE PARTNER_COURSECONTACTPHONE,
    PARTNER.STUDENT_INQUERY_PHONE
    PARTNER_STUDENTINQUERYPHONE,
    PARTNER.REG_CONTACT PARTNER_REGCONTACT,
    PARTNER.REG_CONTACT_PHONE
    PARTNER_REGCONTACTPHONE,
    PARTNER.REG_CONTACT_FAX PARTNER_REGCONTACTFAX,
    PARTNER.CUTOFF_DAY
    PARTNER_CUTOFFDAY,
    PARTNER.CUTOFF_TIME PARTNER_CUTOFFTIME,
    PARTNER.PARTNER_QUALIFICATION
    PARTNER_PARTNERQUALIFICATION,
    PARTNER.RATING PARTNER_RATING
  </sql>
  <sql id="Teacher_Base_Column_List">
    TEACHER.ID TEACHER_ID,
    TEACHER.PARTNER_ID TEACHER_PARTNERID,
    TEACHER.IMG_URL
    TEACHER_IMGURL,
    TEACHER.NAME TEACHER_NAME,
    TEACHER.INTRO TEACHER_INTRO,
    TEACHER.POPULARITY
    TEACHER_POPULARITY,
    TEACHER.LAST_MODIFY_TIME TEACHER_LASTMODIFYTIME,
    TEACHER.CREATE_TIME
    TEACHER_CREATETIME,
    TEACHER.ENABLED TEACHER_ENABLED,
    TEACHER.DELETED TEACHER_DELETED
  </sql>
  <sql id="ClassPhoto_Base_Column_List">
    CLASS_PHOTO.ID CLASSPHOTO_ID,
    CLASS_PHOTO.PARTNER_ID CLASSPHOTO_PARTNERID,
    CLASS_PHOTO.IMG_URL CLASSPHOTO_IMGURL,
    CLASS_PHOTO.TITLE CLASSPHOTO_TITLE,
    CLASS_PHOTO.DESCRIPTION CLASSPHOTO_DESCRIPTION,
    CLASS_PHOTO.LAST_MODIFY_TIME
    CLASSPHOTO_LASTMODIFYTIME,
    CLASS_PHOTO.CREATE_TIME CLASSPHOTO_CREATETIME,
    CLASS_PHOTO.ENABLED
    CLASSPHOTO_ENABLED,
    CLASS_PHOTO.DELETED CLASSPHOTO_DELETED
  </sql>
  <sql id="Address_Base_Column_List">
    ADDRESS.ID ADDRESS_ID,
    ADDRESS.PARTNER_ID ADDRESS_PARTNERID,
    ADDRESS.DETAIL
    ADDRESS_DETAIL,
    ADDRESS.LAT ADDRESS_LAT,
    ADDRESS.LNG ADDRESS_LNG,
    ADDRESS.LAST_MODIFY_TIME
    ADDRESS_LASTMODIFYTIME,
    ADDRESS.CREATE_TIME ADDRESS_CREATETIME,
    ADDRESS.ENABLED ADDRESS_ENABLED,
    ADDRESS.DELETED ADDRESS_DELETED
  </sql>
  <!-- add -->
  <insert id="add" parameterType="PartnerEntityExt">

    insert into partner
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="instName != null">
        INST_NAME,
      </if>
      <if test="logoUrl != null">
        LOGO_URL,
      </if>
      <if test="contract != null">
        CONTRACT,
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME,
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="wholeName != null">
        WHOLE_NAME,
      </if>
      <if test="licence != null">
        LICENCE,
      </if>
      <if test="organizationNum != null">
        ORGANIZATION_NUM,
      </if>
      <if test="reference != null">
        REFERENCE,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="partnerIntro != null">
        PARTNER_INTRO,
      </if>
      <if test="partnerDistinction != null">
        PARTNER_DISTINCTION,
      </if>
      <if test="licenceImgUrl != null">
        LICENCE_IMG_URL,
      </if>
      <if test="taxRegImgUrl != null">
        TAX_REG_IMG_URL,
      </if>
      <if test="eduQualificationImgUrl != null">
        EDU_QUALIFICATION_IMG_URL,
      </if>
      <if test="hqLocation != null">
        HQ_LOCATION,
      </if>
      <if test="uniRegLocation != null">
        UNI_REG_LOCATION,
      </if>
      <if test="hqContact != null">
        HQ_CONTACT,
      </if>
      <if test="hqContactPhone != null">
        HQ_CONTACT_PHONE,
      </if>
      <if test="hqContactSecopt != null">
        HQ_CONTACT_SECOPT,
      </if>
      <if test="courseContact != null">
        COURSE_CONTACT,
      </if>
      <if test="courseContactPhone != null">
        COURSE_CONTACT_PHONE,
      </if>
      <if test="studentInqueryPhone != null">
        STUDENT_INQUERY_PHONE,
      </if>
      <if test="regContact != null">
        REG_CONTACT,
      </if>
      <if test="regContactPhone != null">
        REG_CONTACT_PHONE,
      </if>
      <if test="regContactFax != null">
        REG_CONTACT_FAX,
      </if>
      <if test="cutoffDay != null">
        CUTOFF_DAY,
      </if>
      <if test="cutoffTime != null">
        CUTOFF_TIME,
      </if>
      <if test="partnerQualification != null">
        PARTNER_QUALIFICATION,
      </if>
      <if test="rating != null">
        PARTNER_RATING,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="instName != null">
        #{instName,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null">
        #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="contract != null">
        #{contract,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="wholeName != null">
        #{wholeName,jdbcType=VARCHAR},
      </if>
      <if test="licence != null">
        #{licence,jdbcType=VARCHAR},
      </if>
      <if test="organizationNum != null">
        #{organizationNum,jdbcType=VARCHAR},
      </if>
      <if test="reference != null">
        #{reference,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="partnerIntro != null">
        #{partnerIntro,jdbcType=VARCHAR},
      </if>
      <if test="partnerDistinction != null">
        #{partnerDistinction,jdbcType=VARCHAR},
      </if>
      <if test="licenceImgUrl != null">
        #{licenceImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="taxRegImgUrl != null">
        #{taxRegImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="eduQualificationImgUrl != null">
        #{eduQualificationImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="hqLocation != null">
        #{hqLocation,jdbcType=VARCHAR},
      </if>
      <if test="uniRegLocation != null">
        #{uniRegLocation,jdbcType=INTEGER},
      </if>
      <if test="hqContact != null">
        #{hqContact,jdbcType=VARCHAR},
      </if>
      <if test="hqContactPhone != null">
        #{hqContactPhone,jdbcType=VARCHAR},
      </if>
      <if test="hqContactSecopt != null">
        #{hqContactSecopt,jdbcType=VARCHAR},
      </if>
      <if test="courseContact != null">
        #{courseContact,jdbcType=VARCHAR},
      </if>
      <if test="courseContactPhone != null">
        #{courseContactPhone,jdbcType=VARCHAR},
      </if>
      <if test="studentInqueryPhone != null">
        #{studentInqueryPhone,jdbcType=VARCHAR},
      </if>
      <if test="regContact != null">
        #{regContact,jdbcType=VARCHAR},
      </if>
      <if test="regContactPhone != null">
        #{regContactPhone,jdbcType=VARCHAR},
      </if>
      <if test="regContactFax != null">
        #{regContactFax,jdbcType=VARCHAR},
      </if>
      <if test="cutoffDay != null">
        #{cutoffDay,jdbcType=INTEGER},
      </if>
      <if test="cutoffTime != null">
        #{cutoffTime,jdbcType=INTEGER},
      </if>
      <if test="partnerQualification != null">
        #{partnerQualification,jdbcType=INTEGER},
      </if>
      <if test="rating != null">
        #{rating,jdbcType=DOUBLE},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <!-- deleteById -->
  <update id="deleteById" parameterType="java.lang.Integer">
    update PARTNER set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <!-- update -->
  <update id="update" parameterType="PartnerEntityExt">
    update PARTNER
    <set>
      <if test="instName != null">
        INST_NAME = #{instName,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null">
        LOGO_URL = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="contract != null">
        CONTRACT = #{contract,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME =
        #{lastLoginTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME =
        #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        CREATE_TIME =
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="wholeName != null">
        WHOLE_NAME = #{wholeName,jdbcType=VARCHAR},
      </if>
      <if test="licence != null">
        LICENCE = #{licence,jdbcType=VARCHAR},
      </if>
      <if test="organizationNum != null">
        ORGANIZATION_NUM = #{organizationNum,jdbcType=VARCHAR},
      </if>
      <if test="reference != null">
        REFERENCE = #{reference,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="partnerIntro != null">
        PARTNER_INTRO = #{partnerIntro,jdbcType=VARCHAR},
      </if>
      <if test="partnerDistinction != null">
        PARTNER_DISTINCTION =
        #{partnerDistinction,jdbcType=VARCHAR},
      </if>
      <if test="licenceImgUrl != null">
        LICENCE_IMG_URL = #{licenceImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="taxRegImgUrl != null">
        TAX_REG_IMG_URL = #{taxRegImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="eduQualificationImgUrl != null">
        EDU_QUALIFICATION_IMG_URL =
        #{eduQualificationImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="hqLocation != null">
        HQ_LOCATION = #{hqLocation,jdbcType=VARCHAR},
      </if>
      <if test="uniRegLocation != null">
        UNI_REG_LOCATION = #{uniRegLocation,jdbcType=INTEGER},
      </if>
      <if test="hqContact != null">
        HQ_CONTACT = #{hqContact,jdbcType=VARCHAR},
      </if>
      <if test="hqContactPhone != null">
        HQ_CONTACT_PHONE = #{hqContactPhone,jdbcType=VARCHAR},
      </if>
      <if test="hqContactSecopt != null">
        HQ_CONTACT_SECOPT = #{hqContactSecopt,jdbcType=VARCHAR},
      </if>
      <if test="courseContact != null">
        COURSE_CONTACT = #{courseContact,jdbcType=VARCHAR},
      </if>
      <if test="courseContactPhone != null">
        COURSE_CONTACT_PHONE =
        #{courseContactPhone,jdbcType=VARCHAR},
      </if>
      <if test="studentInqueryPhone != null">
        STUDENT_INQUERY_PHONE =
        #{studentInqueryPhone,jdbcType=VARCHAR},
      </if>
      <if test="regContact != null">
        REG_CONTACT = #{regContact,jdbcType=VARCHAR},
      </if>
      <if test="regContactPhone != null">
        REG_CONTACT_PHONE = #{regContactPhone,jdbcType=VARCHAR},
      </if>
      <if test="regContactFax != null">
        REG_CONTACT_FAX = #{regContactFax,jdbcType=VARCHAR},
      </if>
      <if test="cutoffDay != null">
        CUTOFF_DAY = #{cutoffDay,jdbcType=INTEGER},
      </if>
      <if test="cutoffTime != null">
        CUTOFF_TIME = #{cutoffTime,jdbcType=INTEGER},
      </if>
      <if test="partnerQualification != null">
        PARTNER_QUALIFICATION =
        #{partnerQualification,jdbcType=INTEGER},
      </if>
      <if test="rating != null">
        PARTNER_RATING = #{rating,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- getCount -->
  <select id="getCount" resultType="int">
    select count(ID) from PARTNER where DELETED = 0
  </select>
  <!-- getInfoById -->
  <select id="getInfoById" parameterType="int" resultMap="PartnerExtMap">
    select
    <include refid="Partner_Base_Column_List"></include>
    ,
    <include refid="Teacher_Base_Column_List"></include>
    ,
    <include refid="ClassPhoto_Base_Column_List"></include>
    ,
    <include refid="Address_Base_Column_List"></include>
    from PARNTER PARNTER
    join TEACHER TEACHER
    ON TEACHER.PARTNER_ID = PARNTER.ID
    join CLASS_PHOTO
    CLASS_PHOTO
    ON CLASS_PHOTO.PARTNER_ID = PARNTER.ID
    join ADDRESS ADDRESS
    ON ADDRESS.PARTNER_ID =
    PARTNER.ID
    where PARNTER.DELETED = 0 AND PARNTER.ID = #{id}
  </select>

  <!-- listAll -->
  <select id="listAll" resultMap="PartnerExtMap">
    SELECT
    <include refid="Partner_Base_Column_List" />
    from PARTNER where PARTNER.DELETED = 0
  </select>
  <!-- list -->
  <select id="list" parameterType="map" resultMap="PartnerExtMap">
    select
    <include refid="Partner_Base_Column_List"></include>
    from PARTNER
    where PARTNER.DELETED = 0
    <if test="entity != null">
      <if test="entity.id != null and entity.id != 0">
        AND PARTNER.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idStart != null and entity.idStart != 0">
          <![CDATA[AND PARTNER.ID >= #{entity.idStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idEnd != null and entity.idEnd != 0">
          <![CDATA[AND PARTNER.ID <= #{entity.idEnd,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idSet.size() > 0">
          AND PARTNER.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.instName != null and entity.instName != ''">
        AND PARTNER.INST_NAME LIKE "%"#{entity.instName,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.logoUrl != null and entity.logoUrl != ''">
        AND PARTNER.LOGO_URL LIKE "%"#{entity.logoUrl,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.contract != null and entity.contract != ''">
        AND PARTNER.CONTRACT LIKE "%"#{entity.contract,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.enabled != null and entity.enabled != 0">
        AND PARTNER.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>

      <if test="entity.wholeName != null and entity.wholeName != ''">
        AND PARTNER.WHOLE_NAME LIKE "%"#{entity.wholeName,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.licence != null and entity.licence != ''">
        AND PARTNER.LICENCE LIKE "%"#{entity.licence,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.organizationNum != null and entity.organizationNum != ''">
        AND PARTNER.ORGANIZATION_NUM LIKE "%"#{entity.organizationNum,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.reference != null and entity.reference != ''">
        AND PARTNER.REFERENCE LIKE "%"#{entity.reference,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.password != null and entity.password != ''">
        AND PARTNER.PASSWORD LIKE "%"#{entity.password,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.partnerIntro != null and entity.partnerIntro != ''">
        AND PARTNER.PARTNER_INTRO LIKE "%"#{entity.partnerIntro,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.partnerDistinction != null and entity.partnerDistinction != ''">
        AND PARTNER.PARTNER_DISTINCTION LIKE
        "%"#{entity.partnerDistinction,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.licenceImgUrl != null and entity.licenceImgUrl != ''">
        AND PARTNER.LICENCE_IMG_URL LIKE "%"#{entity.licenceImgUrl,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.taxRegImgUrl != null and entity.taxRegImgUrl != ''">
        AND PARTNER.TAX_REG_IMG_URL LIKE "%"#{entity.taxRegImgUrl,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.eduQualificationImgUrl != null and entity.eduQualificationImgUrl != ''">
        AND PARTNER.EDU_QUALIFICATION_IMG_URL LIKE
        "%"#{entity.eduQualificationImgUrl,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.hqLocation != null and entity.hqLocation != ''">
        AND PARTNER.HQ_LOCATION LIKE "%"#{entity.hqLocation,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.uniRegLocation != null and entity.uniRegLocation != 0">
        AND PARTNER.UNI_REG_LOCATION = #{entity.uniRegLocation,jdbcType=INTEGER}
      </if>

      <if test="entity.hqContact != null and entity.hqContact != ''">
        AND PARTNER.HQ_CONTACT LIKE "%"#{entity.hqContact,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.hqContactPhone != null and entity.hqContactPhone != ''">
        AND PARTNER.HQ_CONTACT_PHONE LIKE "%"#{entity.hqContactPhone,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.hqContactSecopt != null and entity.hqContactSecopt != ''">
        AND PARTNER.HQ_CONTACT_SECOPT LIKE
        "%"#{entity.hqContactSecopt,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.courseContact != null and entity.courseContact != ''">
        AND PARTNER.COURSE_CONTACT LIKE "%"#{entity.courseContact,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.courseContactPhone != null and entity.courseContactPhone != ''">
        AND PARTNER.COURSE_CONTACT_PHONE LIKE
        "%"#{entity.courseContactPhone,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.studentInqueryPhone != null and entity.studentInqueryPhone != ''">
        AND PARTNER.STUDENT_INQUERY_PHONE LIKE
        "%"#{entity.studentInqueryPhone,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.regContact != null and entity.regContact != ''">
        AND PARTNER.REG_CONTACT LIKE "%"#{entity.regContact,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.regContactPhone != null and entity.regContactPhone != ''">
        AND PARTNER.REG_CONTACT_PHONE LIKE
        "%"#{entity.regContactPhone,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.regContactFax != null and entity.regContactFax != ''">
        AND PARTNER.REG_CONTACT_FAX LIKE "%"#{entity.regContactFax,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.cutoffDay != null">
        AND PARTNER.CUTOFF_DAY = #{entity.cutoffDay,jdbcType=INTEGER}
      </if>
      <if test="entity.cutoffDay == null">
        <if test="entity.cutoffDayStart != null">
          <![CDATA[AND PARTNER.CUTOFF_DAY >= #{entity.cutoffDayStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.cutoffDayEnd != null">
          <![CDATA[AND PARTNER.CUTOFF_DAY <= #{entity.cutoffDayEnd,jdbcType=INTEGER}]]>
        </if>
      </if>

      <if test="entity.cutoffTime != null">
        AND PARTNER.CUTOFF_TIME = #{entity.cutoffTime,jdbcType=INTEGER}
      </if>
      <if test="entity.cutoffTime == null">
        <if test="entity.cutoffTimeStart != null">
          <![CDATA[AND PARTNER.CUTOFF_TIME >= #{entity.cutoffTimeStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.cutoffTimeEnd != null">
          <![CDATA[AND PARTNER.CUTOFF_TIME <= #{entity.cutoffTimeEnd,jdbcType=INTEGER}]]>
        </if>
      </if>

      <if test="entity.partnerQualification != null">
        AND PARTNER.PARTNER_QUALIFICATION =
        #{entity.partnerQualification,jdbcType=INTEGER}
      </if>
      <if test="entity.partnerQualification == null">
        <if test="entity.partnerQualificationStart != null">
          <![CDATA[AND PARTNER.PARTNER_QUALIFICATION >= #{entity.partnerQualificationStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.partnerQualificationEnd != null">
          <![CDATA[AND PARTNER.PARTNER_QUALIFICATION <= #{entity.partnerQualificationEnd,jdbcType=INTEGER}]]>
        </if>
      </if>
      <if test="entity.rating != null">
        AND PARTNER.RATING = #{entity.rating,jdbcType=DOUBLE}
      </if>
      <if test="entity.rating == null">
        <if test="entity.ratingStart != null">
          <![CDATA[AND PARTNER.RATING >= #{entity.ratingStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.ratingEnd != null">
          <![CDATA[AND PARTNER.RATING <= #{entity.ratingEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.lastModifyTime != null">
        AND PARTNER.LAST_MODIFY_TIME =
        #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND PARTNER.LAST_MODIFY_TIME >= #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND PARTNER.LAST_MODIFY_TIME <= #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND PARTNER.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND PARTNER.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND PARTNER.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
      <if test="entity.enabled != null">
        AND PARTNER.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>

      <if test="entity.lastLoginTime != null">
        AND PARTNER.LAST_LOGIN_TIME =
        #{entity.lastLoginTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.lastLoginTime == null">
        <if test="entity.lastLoginTimeStart != null">
          <![CDATA[AND PARTNER.LAST_LOGIN_TIME >= #{entity.lastLoginTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.lastLoginTimeEnd != null">
          <![CDATA[AND PARTNER.LAST_LOGIN_TIME <= #{entity.lastLoginTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
      <if test="page != null and page.orderByEntities != null and page.orderByEntities.size() > 0">
        ORDER BY
        <foreach collection="page.orderByEntities" item="listItem" separator=",">
          PARTNER.${listItem.columnKey} ${listItem.order}
        </foreach>
      </if>
      <if test="page != null">
        LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
      </if>
    </if>
  </select>
  <!-- getListCount -->
  <select id="getListCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM (
    select
    <include refid="Partner_Base_Column_List"></include>
    from PARTNER
    where PARTNER.DELETED = 0
    <if test="entity != null">
      <if test="entity.id != null and entity.id != 0">
        AND PARTNER.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idStart != null and entity.idStart != 0">
          <![CDATA[AND PARTNER.ID >= #{entity.idStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idEnd != null and entity.idEnd != 0">
          <![CDATA[AND PARTNER.ID <= #{entity.idEnd,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idSet.size() > 0">
          AND PARTNER.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.instName != null and entity.instName != ''">
        AND PARTNER.INST_NAME LIKE "%"#{entity.instName,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.logoUrl != null and entity.logoUrl != ''">
        AND PARTNER.LOGO_URL LIKE "%"#{entity.logoUrl,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.contract != null and entity.contract != ''">
        AND PARTNER.CONTRACT LIKE "%"#{entity.contract,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.enabled != null and entity.enabled != 0">
        AND PARTNER.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>

      <if test="entity.wholeName != null and entity.wholeName != ''">
        AND PARTNER.WHOLE_NAME LIKE "%"#{entity.wholeName,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.licence != null and entity.licence != ''">
        AND PARTNER.LICENCE LIKE "%"#{entity.licence,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.organizationNum != null and entity.organizationNum != ''">
        AND PARTNER.ORGANIZATION_NUM LIKE "%"#{entity.organizationNum,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.reference != null and entity.reference != ''">
        AND PARTNER.REFERENCE LIKE "%"#{entity.reference,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.password != null and entity.password != ''">
        AND PARTNER.PASSWORD LIKE "%"#{entity.password,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.partnerIntro != null and entity.partnerIntro != ''">
        AND PARTNER.PARTNER_INTRO LIKE "%"#{entity.partnerIntro,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.partnerDistinction != null and entity.partnerDistinction != ''">
        AND PARTNER.PARTNER_DISTINCTION LIKE
        "%"#{entity.partnerDistinction,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.licenceImgUrl != null and entity.licenceImgUrl != ''">
        AND PARTNER.LICENCE_IMG_URL LIKE "%"#{entity.licenceImgUrl,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.taxRegImgUrl != null and entity.taxRegImgUrl != ''">
        AND PARTNER.TAX_REG_IMG_URL LIKE "%"#{entity.taxRegImgUrl,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.eduQualificationImgUrl != null and entity.eduQualificationImgUrl != ''">
        AND PARTNER.EDU_QUALIFICATION_IMG_URL LIKE
        "%"#{entity.eduQualificationImgUrl,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.hqLocation != null and entity.hqLocation != ''">
        AND PARTNER.HQ_LOCATION LIKE "%"#{entity.hqLocation,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.uniRegLocation != null and entity.uniRegLocation != 0">
        AND PARTNER.UNI_REG_LOCATION = #{entity.uniRegLocation,jdbcType=INTEGER}
      </if>

      <if test="entity.hqContact != null and entity.hqContact != ''">
        AND PARTNER.HQ_CONTACT LIKE "%"#{entity.hqContact,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.hqContactPhone != null and entity.hqContactPhone != ''">
        AND PARTNER.HQ_CONTACT_PHONE LIKE "%"#{entity.hqContactPhone,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.hqContactSecopt != null and entity.hqContactSecopt != ''">
        AND PARTNER.HQ_CONTACT_SECOPT LIKE
        "%"#{entity.hqContactSecopt,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.courseContact != null and entity.courseContact != ''">
        AND PARTNER.COURSE_CONTACT LIKE "%"#{entity.courseContact,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.courseContactPhone != null and entity.courseContactPhone != ''">
        AND PARTNER.COURSE_CONTACT_PHONE LIKE
        "%"#{entity.courseContactPhone,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.studentInqueryPhone != null and entity.studentInqueryPhone != ''">
        AND PARTNER.STUDENT_INQUERY_PHONE LIKE
        "%"#{entity.studentInqueryPhone,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.regContact != null and entity.regContact != ''">
        AND PARTNER.REG_CONTACT LIKE "%"#{entity.regContact,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.regContactPhone != null and entity.regContactPhone != ''">
        AND PARTNER.REG_CONTACT_PHONE LIKE
        "%"#{entity.regContactPhone,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.regContactFax != null and entity.regContactFax != ''">
        AND PARTNER.REG_CONTACT_FAX LIKE "%"#{entity.regContactFax,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.cutoffDay != null">
        AND PARTNER.CUTOFF_DAY = #{entity.cutoffDay,jdbcType=INTEGER}
      </if>
      <if test="entity.cutoffDay == null">
        <if test="entity.cutoffDayStart != null">
          <![CDATA[AND PARTNER.CUTOFF_DAY >= #{entity.cutoffDayStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.cutoffDayEnd != null">
          <![CDATA[AND PARTNER.CUTOFF_DAY <= #{entity.cutoffDayEnd,jdbcType=INTEGER}]]>
        </if>
      </if>

      <if test="entity.cutoffTime != null">
        AND PARTNER.CUTOFF_TIME = #{entity.cutoffTime,jdbcType=INTEGER}
      </if>
      <if test="entity.cutoffTime == null">
        <if test="entity.cutoffTimeStart != null">
          <![CDATA[AND PARTNER.CUTOFF_TIME >= #{entity.cutoffTimeStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.cutoffTimeEnd != null">
          <![CDATA[AND PARTNER.CUTOFF_TIME <= #{entity.cutoffTimeEnd,jdbcType=INTEGER}]]>
        </if>
      </if>

      <if test="entity.partnerQualification != null">
        AND PARTNER.PARTNER_QUALIFICATION =
        #{entity.partnerQualification,jdbcType=INTEGER}
      </if>
      <if test="entity.partnerQualification == null">
        <if test="entity.partnerQualificationStart != null">
          <![CDATA[AND PARTNER.PARTNER_QUALIFICATION >= #{entity.partnerQualificationStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.partnerQualificationEnd != null">
          <![CDATA[AND PARTNER.PARTNER_QUALIFICATION <= #{entity.partnerQualificationEnd,jdbcType=INTEGER}]]>
        </if>
      </if>
      <if test="entity.rating != null">
        AND PARTNER.RATING = #{entity.rating,jdbcType=DOUBLE}
      </if>
      <if test="entity.rating == null">
        <if test="entity.ratingStart != null">
          <![CDATA[AND PARTNER.RATING >= #{entity.ratingStart,jdbcType=DOUBLE}]]>
        </if>
        <if test="entity.ratingEnd != null">
          <![CDATA[AND PARTNER.RATING <= #{entity.ratingEnd,jdbcType=DOUBLE}]]>
        </if>
      </if>

      <if test="entity.lastModifyTime != null">
        AND PARTNER.LAST_MODIFY_TIME =
        #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND PARTNER.LAST_MODIFY_TIME >= #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND PARTNER.LAST_MODIFY_TIME <= #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND PARTNER.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND PARTNER.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND PARTNER.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
      <if test="entity.enabled != null">
        AND PARTNER.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>

      <if test="entity.lastLoginTime != null">
        AND PARTNER.LAST_LOGIN_TIME =
        #{entity.lastLoginTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.lastLoginTime == null">
        <if test="entity.lastLoginTimeStart != null">
          <![CDATA[AND PARTNER.LAST_LOGIN_TIME >= #{entity.lastLoginTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.lastLoginTimeEnd != null">
          <![CDATA[AND PARTNER.LAST_LOGIN_TIME <= #{entity.lastLoginTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
    </if>
    ) AS
    total
  </select>
</mapper>