<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.RolePermissionEntityExtMapper">
  <resultMap id="RolePermissionExtMap" type="RolePermissionEntityExt">
    <id column="ROLEPERMISSION_ID" property="id" jdbcType="INTEGER" />
    <result column="ROLEPERMISSION_ROLEID" property="roleId" jdbcType="INTEGER" />
    <result column="ROLEPERMISSION_PERMISSIONID" property="permissionId" jdbcType="INTEGER" />
    <result column="ROLEPERMISSION_LASTMODIFYTIME" property="lastModifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="RolePermission_Base_Column_List">
    ROLEPERMISSION.ID ROLEPERMISSION_ID,
    ROLEPERMISSION.ROLE_ID ROLEPERMISSION_ROLEID,
    ROLEPERMISSION.PERMISSION_ID ROLEPERMISSION_PERMISSIONID,
    ROLEPERMISSION.LAST_MODIFY_TIME
    ROLEPERMISSION_LASTMODIFYTIME
  </sql>
  <insert id="add" parameterType="RolePermissionEntityExt">

    insert into ROLEPERMISSION
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="permissionId != null">
        PERMISSION_ID,
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="permissionId != null">
        #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="deleteById" parameterType="java.lang.Integer">
    update ROLEPERMISSION set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="RolePermissionEntityExt">
    update ROLEPERMISSION
    <set>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="permissionId != null">
        PERMISSION_ID = #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>