<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.UserEntityExtMapper">
  <resultMap id="UserExtMap" type="UserEntityExt">
    <id column="USERS_ID" property="id" jdbcType="INTEGER" />
    <result column="USERS_NAME" property="name" jdbcType="VARCHAR" />
    <result column="USERS_PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="USERS_PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="USERS_WECHAT" property="wechat" jdbcType="VARCHAR" />
    <result column="USERS_EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="USERS_INVITATIONCODE" property="invitationCode" jdbcType="VARCHAR" />
    <result column="USERS_APPLIEDINVITATIONCODE" property="appliedInvitationCode" jdbcType="VARCHAR" />
    <result column="USERS_REFERENCE" property="reference" jdbcType="VARCHAR" />
    <result column="USERS_LASTLOGINTIME" property="lastLoginTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="USERS_LASTMODIFYTIME" property="lastModifyTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="USERS_CREATETIME" property="createTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="USERS_ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="USERS_DELETED" property="deleted" jdbcType="INTEGER" />
    <result column="USERS_GENDER" property="gender" jdbcType="INTEGER" />
    <result column="USERS_BIRTHDAY" property="birthday"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="USERS_SCHOOL" property="school" jdbcType="VARCHAR" />
    <result column="USERS_MAJOR" property="major" jdbcType="VARCHAR" />
    <result column="USERS_AVATARURL" property="avatarUrl" jdbcType="VARCHAR" />
    <result column="USERS_SCHOOLID" property="schoolId" jdbcType="INTEGER" />
    <result column="USERS_CAREERID" property="careerId" jdbcType="INTEGER" />
    <result column="USERS_LOCATIONID" property="locationId" jdbcType="INTEGER" />

  </resultMap>

  <sql id="User_Base_Column_List">
    USERS.ID USERS_ID,
    USERS.NAME USERS_NAME,
    USERS.PASSWORD USERS_PASSWORD,
    USERS.PHONE
    USERS_PHONE,
    USERS.WECHAT
    USERS_WECHAT,
    USERS.EMAIL USERS_EMAIL,
    USERS.INVITATION_CODE
    USERS_INVITATIONCODE,
    USERS.APPLIED_INVITATION_CODE USERS_APPLIEDINVITATIONCODE,
    USERS.REFERENCE
    USERS_REFERENCE,
    USERS.LAST_LOGIN_TIME USERS_LASTLOGINTIME,
    USERS.LAST_MODIFY_TIME
    USERS_LASTMODIFYTIME,
    USERS.CREATE_TIME USERS_CREATETIME,
    USERS.ENABLED USERS_ENABLED,
    USERS.DELETED USERS_DELETED,
    USERS.GENDER USERS_GENDER,
    USERS.BIRTHDAY USERS_BIRTHDAY,
    USERS.SCHOOL USERS_SCHOOL,
    USERS.MAJOR USERS_MAJOR,
    USERS.AVATAR_URL USERS_AVATARURL,
    USERS.CAREER_ID USERS_CAREERID,
    USERS.SCHOOL_ID USERS_SCHOOLID,
    USERS.LOCATION_ID USERS_LOCATIONID
  </sql>
  <!-- add -->
  <insert id="add" parameterType="UserEntityExt">
    insert into USERS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="wechat != null">
        WECHAT,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="invitationCode != null">
        INVITATION_CODE,
      </if>
      <if test="appliedInvitationCode != null">
        APPLIED_INVITATION_CODE,
      </if>
      <if test="reference != null">
        REFERENCE,
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME,
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="gender != null">
        GENDER,
      </if>
      <if test="birthday != null">
        BIRTHDAY,
      </if>
      <if test="school != null">
        SCHOOL,
      </if>
      <if test="major != null">
        MAJOR,
      </if>
      <if test="avatarUrl != null">
        AVATAR_URL,
      </if>
      <if test="schoolId != null">
        SCHOOL_ID,
      </if>
      <if test="locationId != null">
        CAREER_ID,
      </if>
      <if test="careerId != null">
        LOCATION_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="invitationCode != null">
        #{invitationCode,jdbcType=VARCHAR},
      </if>
      <if test="appliedInvitationCode != null">
        #{appliedInvitationCode,jdbcType=VARCHAR},
      </if>
      <if test="reference != null">
        #{reference,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        #{birthday,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="careerId != null">
        #{careerId,jdbcType=INTEGER},
      </if>
      <if test="locationId != null">
        #{locationId,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <!-- deleteById -->
  <update id="deleteById" parameterType="java.lang.Integer">
    update USERS set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <!-- update -->
  <update id="update" parameterType="UserEntityExt">
    update USERS
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        WECHAT = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="invitationCode != null">
        INVITATION_CODE = #{invitationCode,jdbcType=VARCHAR},
      </if>
      <if test="appliedInvitationCode != null">
        APPLIED_INVITATION_CODE =
        #{appliedInvitationCode,jdbcType=VARCHAR},
      </if>
      <if test="reference != null">
        REFERENCE = #{reference,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME =
        #{lastLoginTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME =
        #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="createTime != null">
        CREATE_TIME =
        #{createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        GENDER = #{gender,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        BIRTHDAY =
        #{birthday,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="school != null">
        SCHOOL = #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        MAJOR = #{major,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        AVATAR_URL = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="careerId != null">
        GENDER = #{careerId,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null">
        GENDER = #{schoolId,jdbcType=INTEGER},
      </if>
        <if test="locationId != null">
       CAREER_ID = #{locationId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- getCount -->
  <select id="getCount" resultType="int">
    select count(ID) from USERS where DELETED = 0
  </select>
  <!-- listAll -->
  <select id="listAll" resultMap="UserExtMap">
    SELECT
    <include refid="User_Base_Column_List" />
    from USERS where USERS.DELETED = 0
  </select>
  <!-- getById -->
  <select id="getById" parameterType="int" resultMap="UserExtMap">
    SELECT
    <include refid="User_Base_Column_List" />
    from USERS where USERS.DELETED = 0 and USERS.ID =
    #{id,jdbcType=INTEGER}
  </select>
  <!-- getById -->
  <select id="getByPhone" parameterType="map" resultMap="UserExtMap">
    SELECT
    <include refid="User_Base_Column_List" />
    from USERS where USERS.DELETED = 0 and USERS.PHONE = #{entity.phone, jdbcType=VARCHAR}
  </select>
  <!-- getById -->
  <select id="getByReference" parameterType="map" resultMap="UserExtMap">
    SELECT
    <include refid="User_Base_Column_List" />
    from USERS where USERS.DELETED = 0 and USERS.REFERENCE = #{entity.reference, jdbcType=VARCHAR}
  </select>
  <!-- list -->
  <select id="list" parameterType="map" resultMap="UserExtMap">
    select
    <include refid="User_Base_Column_List"></include>
    from USERS
    where USERS.DELETED = 0
    <if test="entity != null">
      <if test="entity.id != null and entity.id != 0">
        AND USERS.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND USERS.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.careerId != null and entity.careerId != 0">
        AND USERS.CAREER_ID = #{entity.careerId,jdbcType=INTEGER}
      </if>
      <if test="entity.careerId == null or entity.careerId == 0">
        <if test="entity.careerIdSet != null and entity.careerIdSet.size() > 0">
          AND USERS.CAREER_ID IN
          <foreach collection="entity.careerIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.schoolId != null and entity.schoolId != 0">
        AND USERS.SCHOOL_ID = #{entity.schoolId,jdbcType=INTEGER}
      </if>
      <if test="entity.schoolId == null or entity.schoolId == 0">
        <if test="entity.schoolIdSet != null and entity.schoolIdSet.size() > 0">
          AND USERS.SCHOOL_ID IN
          <foreach collection="entity.schoolIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.name != null and !entity.name.equals('')">
        AND USERS.NAME LIKE "%"#{entity.name,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.password != null and !entity.password.equals('')">
        AND USERS.PASSWORD LIKE "%"#{entity.password,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.phone != null and !entity.phone.equals('')">
        AND USERS.PHONE LIKE "%"#{entity.phone,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.enabled != null and entity.enabled != 0">
        AND USERS.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>

      <if test="entity.wechat != null and !entity.wechat.equals('')">
        AND USERS.WECHAT LIKE "%"#{entity.wechat,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.email != null and !entity.email.equals('')">
        AND USERS.EMAIL LIKE "%"#{entity.email,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.invitationCode != null and !entity.invitationCode.equals('')">
        AND USERS.INVITATION_CODE LIKE "%"#{entity.invitationCode,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.appliedInvitationCode != null and !entity.appliedInvitationCode.equals('')">
        AND USERS.APPLIED_INVITATION_CODE LIKE
        "%"#{entity.appliedInvitationCode,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.reference != null and !entity.reference.equals('')">
        AND USERS.REFERENCE LIKE "%"#{entity.reference,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.school != null and !entity.school.equals('')">
        AND USERS.SCHOOL LIKE "%"#{entity.school,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.major != null and !entity.major.equals('')">
        AND USERS.MAJOR LIKE "%"#{entity.major,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.lastModifyTime != null">
        AND USERS.LAST_MODIFY_TIME =
        #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND USERS.LAST_MODIFY_TIME >= #{entity.lastModifyTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND USERS.LAST_MODIFY_TIME <= #{entity.lastModifyTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND USERS.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND USERS.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND USERS.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>

      <if test="entity.lastLoginTime != null">
        AND USERS.LAST_LOGIN_TIME =
        #{entity.lastLoginTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.lastLoginTime == null">
        <if test="entity.lastLoginTimeStart != null">
          <![CDATA[AND USERS.LAST_LOGIN_TIME >= #{entity.lastLoginTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.lastLoginTimeEnd != null">
          <![CDATA[AND USERS.LAST_LOGIN_TIME <= #{entity.lastLoginTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>

      <if test="entity.birthday != null">
        AND USERS.BIRTHDAY =
        #{entity.birthday,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.birthday == null">
        <if test="entity.birthdayStart != null">
          <![CDATA[AND USERS.BIRTHDAY >= #{entity.birthdayStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.birthdayEnd != null">
          <![CDATA[AND USERS.BIRTHDAY <= #{entity.birthdayEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
      <if test="entity.locationId != null and entity.locationId != 0">
        AND USERS.LOCATION_ID = #{entity.locationId,jdbcType=INTEGER}
      </if>
      <if test="entity.locationId == null or entity.locationId == 0">
        <if test="entity.locationIdSet != null and entity.locationIdSet.size() > 0">
          AND USERS.LOCATION_ID IN
          <foreach collection="entity.locationIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>
    </if>

    <if test="page != null and page.orderByEntities != null and page.orderByEntities.size() > 0">
      ORDER BY
      <foreach collection="page.orderByEntities" item="listItem" separator=",">
        USERS.${listItem.columnKey} ${listItem.order}
      </foreach>
    </if>

    <if test="page !=null and page.offset != null and page.size != null">
      LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
    </if>
  </select>
  <!-- getListCount -->
  <select id="getListCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM (
    select
    <include refid="User_Base_Column_List"></include>
    from USERS
    where USERS.DELETED = 0
    <if test="entity != null">
      <if test="entity.id != null and entity.id != 0">
        AND USERS.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND USERS.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.careerId != null and entity.careerId != 0">
        AND USERS.CAREER_ID = #{entity.careerId,jdbcType=INTEGER}
      </if>
      <if test="entity.careerId == null or entity.careerId == 0">
        <if test="entity.careerIdSet != null and entity.careerIdSet.size() > 0">
          AND USERS.CAREER_ID IN
          <foreach collection="entity.careerIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.schoolId != null and entity.schoolId != 0">
        AND USERS.SCHOOL_ID = #{entity.schoolId,jdbcType=INTEGER}
      </if>
      <if test="entity.schoolId == null or entity.schoolId == 0">
        <if test="entity.schoolIdSet != null and entity.schoolIdSet.size() > 0">
          AND USERS.SCHOOL_ID IN
          <foreach collection="entity.schoolIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.name != null and !entity.name.equals('')">
        AND USERS.NAME LIKE "%"#{entity.name,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.password != null and !entity.password.equals('')">
        AND USERS.PASSWORD LIKE "%"#{entity.password,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.phone != null and !entity.phone.equals('')">
        AND USERS.PHONE LIKE "%"#{entity.phone,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.enabled != null and entity.enabled != 0">
        AND USERS.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>

      <if test="entity.wechat != null and !entity.wechat.equals('')">
        AND USERS.WECHAT LIKE "%"#{entity.wechat,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.email != null and !entity.email.equals('')">
        AND USERS.EMAIL LIKE "%"#{entity.email,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.invitationCode != null and !entity.invitationCode.equals('')">
        AND USERS.INVITATION_CODE LIKE "%"#{entity.invitationCode,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.appliedInvitationCode != null and !entity.appliedInvitationCode.equals('')">
        AND USERS.APPLIED_INVITATION_CODE LIKE
        "%"#{entity.appliedInvitationCode,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.reference != null and !entity.reference.equals('')">
        AND USERS.REFERENCE LIKE "%"#{entity.reference,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.school != null and !entity.school.equals('')">
        AND USERS.SCHOOL LIKE "%"#{entity.school,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.major != null and !entity.major.equals('')">
        AND USERS.MAJOR LIKE "%"#{entity.major,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.lastModifyTime != null">
        AND USERS.LAST_MODIFY_TIME =
        #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND USERS.LAST_MODIFY_TIME >= #{entity.lastModifyTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND USERS.LAST_MODIFY_TIME <= #{entity.lastModifyTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>

      <if test="entity.createTime != null">
        AND USERS.CREATE_TIME =
        #{entity.createTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND USERS.CREATE_TIME >= #{entity.createTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND USERS.CREATE_TIME <= #{entity.createTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>

      <if test="entity.lastLoginTime != null">
        AND USERS.LAST_LOGIN_TIME =
        #{entity.lastLoginTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.lastLoginTime == null">
        <if test="entity.lastLoginTimeStart != null">
          <![CDATA[AND USERS.LAST_LOGIN_TIME >= #{entity.lastLoginTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.lastLoginTimeEnd != null">
          <![CDATA[AND USERS.LAST_LOGIN_TIME <= #{entity.lastLoginTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>

      <if test="entity.birthday != null">
        AND USERS.BIRTHDAY =
        #{entity.birthday,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.birthday == null">
        <if test="entity.birthdayStart != null">
          <![CDATA[AND USERS.BIRTHDAY >= #{entity.birthdayStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.birthdayEnd != null">
          <![CDATA[AND USERS.BIRTHDAY <= #{entity.birthdayEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
      <if test="entity.locationId != null and entity.locationId != 0">
        AND USERS.LOCATION_ID = #{entity.locationId,jdbcType=INTEGER}
      </if>
      <if test="entity.locationId == null or entity.locationId == 0">
        <if test="entity.locationIdSet != null and entity.locationIdSet.size() > 0">
          AND USERS.LOCATION_ID IN
          <foreach collection="entity.locationIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>
    </if>
    ) AS
    total
  </select>
</mapper>