<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.UserEntityExtMapper">
  <resultMap id="UserExtMap" type="UserEntityExt">
    <id column="USERS_ID" property="id" jdbcType="INTEGER" />
    <result column="USERS_NAME" property="name" jdbcType="VARCHAR" />
    <result column="USERS_PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="USERS_PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="USERS_WECHAT" property="wechat" jdbcType="VARCHAR" />
    <result column="USERS_EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="USERS_INVITATIONCODE" property="invitationCode" jdbcType="VARCHAR" />
    <result column="USERS_APPLIEDINVITATIONCODE" property="appliedInvitationCode" jdbcType="VARCHAR" />
    <result column="USERS_REFERENCE" property="reference" jdbcType="VARCHAR" />
    <result column="USERS_LASTLOGINTIME" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="USERS_LASTMODIFYTIME" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="USERS_CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="USERS_ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="USERS_DELETED" property="deleted" jdbcType="INTEGER" />
    <result column="USERS_GENDER" property="gender" jdbcType="INTEGER" />
    <result column="USERS_BIRTHDAY" property="birthday" jdbcType="TIMESTAMP" />
    <result column="USERS_SCHOOL" property="school" jdbcType="VARCHAR" />
    <result column="USERS_MAJOR" property="major" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="User_Base_Column_List">
    USERS.ID USERS_ID,
    USERS.NAME USERS_NAME,
    USERS.PASSWORD USERS_PASSWORD,
    USERS.PHONE USERS_PHONE,
    USERS.WECHAT
    USERS_WECHAT,
    USERS.EMAIL USERS_EMAIL,
    USERS.INVITATION_CODE USERS_INVITATIONCODE,
    USERS.APPLIED_INVITATION_CODE USERS_APPLIEDINVITATIONCODE,
    USERS.REFERENCE USERS_REFERENCE,
    USERS.LAST_LOGIN_TIME USERS_LASTLOGINTIME,
    USERS.LAST_MODIFY_TIME USERS_LASTMODIFYTIME,
    USERS.CREATE_TIME USERS_CREATETIME,
    USERS.ENABLED USERS_ENABLED,
    USERS.DELETED USERS_DELETED,
    USERS.GENDER USERS_GENDER,
    USERS.BIRTHDAY USERS_BIRTHDAY,
    USERS.SCHOOL USERS_SCHOOL,
    USERS.MAJOR
    USERS_MAJOR
  </sql>
  <insert id="add" parameterType="UserEntityExt">

    insert into USERS
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="name != null">
        NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="wechat != null">
        WECHAT,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="invitationCode != null">
        INVITATION_CODE,
      </if>
      <if test="appliedInvitationCode != null">
        APPLIED_INVITATION_CODE,
      </if>
      <if test="reference != null">
        REFERENCE,
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME,
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
      <if test="gender != null">
        GENDER,
      </if>
      <if test="birthday != null">
        BIRTHDAY,
      </if>
      <if test="school != null">
        SCHOOL,
      </if>
      <if test="major != null">
        MAJOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="invitationCode != null">
        #{invitationCode,jdbcType=VARCHAR},
      </if>
      <if test="appliedInvitationCode != null">
        #{appliedInvitationCode,jdbcType=VARCHAR},
      </if>
      <if test="reference != null">
        #{reference,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="deleteById" parameterType="java.lang.Integer">
    update USERS set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="UserEntityExt">
    update USERS
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        WECHAT = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="invitationCode != null">
        INVITATION_CODE = #{invitationCode,jdbcType=VARCHAR},
      </if>
      <if test="appliedInvitationCode != null">
        APPLIED_INVITATION_CODE =
        #{appliedInvitationCode,jdbcType=VARCHAR},
      </if>
      <if test="reference != null">
        REFERENCE = #{reference,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        DELETED = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        GENDER = #{gender,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="school != null">
        SCHOOL = #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        MAJOR = #{major,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
    <select id="getCount" resultType="int">
    select count(ID) from USERS where DELETED = 0
  </select>
  <select id="list" parameterType="map" resultMap="UserExtMap">
    select
    <include refid="User_Base_Column_List"></include>
    from USERS 
    where USERS.DELETED = 0
    <if test="entity != null">
      <if test="entity.id != null and entity.id != 0">
        AND USERS.ID = #{entity.id,jdbcType=INTEGER}
      </if>
      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idStart != null and entity.idStart != 0">
          <![CDATA[AND USERS.ID >= #{entity.idStart,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idEnd != null and entity.idEnd != 0">
          <![CDATA[AND USERS.ID <= #{entity.idEnd,jdbcType=INTEGER}]]>
        </if>
        <if test="entity.idSet.size > 0">
          AND USERS.ID IN
          <foreach collection="entity.idSet.value" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>
      
      <if test="entity.name != null and entity.name != ''">
        AND USERS.NAME LIKE "%"#{entity.name,jdbcType=VARCHAR}"%"
      </if>
      
      <if test="entity.password != null and entity.password != ''">
        AND USERS.PASSWORD LIKE "%"#{entity.password,jdbcType=VARCHAR}"%"
      </if>
      
      <if test="entity.phone != null and entity.phone != ''">
        AND USERS.PHONE LIKE "%"#{entity.phone,jdbcType=VARCHAR}"%"
      </if>
      
      <if test="entity.enabled != null and entity.enabled != 0">
        AND USERS.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>
      
      <if test="entity.wechat != null and entity.wechat != ''">
        AND USERS.WECHAT LIKE "%"#{entity.wechat,jdbcType=VARCHAR}"%"
      </if>
      
      <if test="entity.email != null and entity.email != ''">
        AND USERS.EMAIL LIKE "%"#{entity.email,jdbcType=VARCHAR}"%"
      </if>
      
      <if test="entity.invitationCode != null and entity.invitationCode != ''">
        AND USERS.INVITATION_CODE LIKE "%"#{entity.invitationCode,jdbcType=VARCHAR}"%"
      </if>
      
      <if test="entity.appliedInvitationCode != null and entity.appliedInvitationCode != ''">
        AND USERS.APPLIED_INVITATION_CODE LIKE "%"#{entity.appliedInvitationCode,jdbcType=VARCHAR}"%"
      </if>
      
      <if test="entity.reference != null and entity.reference != ''">
        AND USERS.REFERENCE LIKE "%"#{entity.reference,jdbcType=VARCHAR}"%"
      </if>
      
      <if test="entity.school != null and entity.school != ''">
        AND USERS.SCHOOL LIKE "%"#{entity.school,jdbcType=VARCHAR}"%"
      </if>
      
      <if test="entity.major != null and entity.major != ''">
        AND USERS.MAJOR LIKE "%"#{entity.major,jdbcType=VARCHAR}"%"
      </if>

      <if test="entity.enabled != null">
        AND USERS.ENABLED = #{entity.enabled,jdbcType=INTEGER}
      </if>

      <if test="entity.lastModifyTime != null">
        AND USERS.LAST_MODIFY_TIME = #{entity.lastModifyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND USERS.LAST_MODIFY_TIME >= #{entity.lastModifyTime,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND USERS.LAST_MODIFY_TIME <= #{entity.lastModifyTime,jdbcType=TIMESTAMP}]]>
        </if>
      </if>
      
      <if test="entity.createTime != null">
        AND USERS.CREATE_TIME = #{entity.createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="entity.createTime == null">
        <if test="entity.createTimeStart != null">
          <![CDATA[AND USERS.CREATE_TIME >= #{entity.createTimeStart,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.createTimeEnd != null">
          <![CDATA[AND USERS.CREATE_TIME <= #{entity.createTimeEnd,jdbcType=TIMESTAMP}]]>
        </if>
      </if>
      
      <if test="entity.lastLoginTime != null">
        AND USERS.LAST_LOGIN_TIME = #{entity.lastLoginTime,jdbcType=TIMESTAMP}
      </if>
      <if test="entity.lastLoginTime == null">
        <if test="entity.lastLoginTimeStart != null">
          <![CDATA[AND USERS.LAST_LOGIN_TIME >= #{entity.lastLoginTime,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.lastLoginTimeEnd != null">
          <![CDATA[AND USERS.LAST_LOGIN_TIME <= #{entity.lastLoginTime,jdbcType=TIMESTAMP}]]>
        </if>
      </if>

      <if test="entity.birthday != null">
        AND USERS.BIRTHDAY = #{entity.birthday,jdbcType=TIMESTAMP}
      </if>
      <if test="entity.birthday == null">
        <if test="entity.birthdayStart != null">
          <![CDATA[AND USERS.BIRTHDAY >= #{entity.birthday,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="entity.birthdayEnd != null">
          <![CDATA[AND USERS.BIRTHDAY <= #{entity.birthday,jdbcType=TIMESTAMP}]]>
        </if>
      </if>
      
      <if test="page != null">
        LIMIT #{offset,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
      </if>
    </if>
  </select>
</mapper>