<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ishangke.edunav.dataaccess.mapper.UserGroupEntityExtMapper">
  <resultMap id="UserGroupExtMap" type="UserGroupEntityExt">
    <id column="USERGROUP_ID" property="id" jdbcType="INTEGER" />
    <result column="USERGROUP_USERID" property="userId" jdbcType="INTEGER" />
    <result column="USERGROUP_GROUPID" property="groupId" jdbcType="INTEGER" />
    <result column="USERGROUP_LASTMODIFYTIME" property="lastModifyTime"
      typeHandler="com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler" />
    <result column="USERGROUP_DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="UserGroup_Base_Column_List">
    USER_GROUP.ID USERGROUP_ID,
    USER_GROUP.USER_ID USERGROUP_USE_ID,
    USER_GROUP.GROUP_ID
    USERGROUP_GROUPID,
    USER_GROUP.LAST_MODIFY_TIME USERGROUP_LASTMODIFYTIME,
    USER_GROUP.DELETED
    USERGROUP_DELETED
  </sql>
  <!-- add -->
  <insert id="add" parameterType="UserGroupEntityExt">
    insert into USER_GROUP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="groupId != null">
        GROUP_ID,
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
  </insert>
  <!-- deleteById -->
  <update id="deleteById" parameterType="java.lang.Integer">
    update USER_GROUP set DELETED = 1
    where ID =
    #{id,jdbcType=INTEGER}
  </update>
  <!-- update -->
  <update id="update" parameterType="UserGroupEntityExt">
    update USER_GROUP
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        GROUP_ID = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME =
        #{lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler},
      </if>
      <if test="deleted != null">
        DELETED = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- getCount -->
  <select id="getCount" resultType="int">
    select count(ID) from USER_GROUP where DELETED = 0
  </select>
  <!-- list -->
  <select id="list" parameterType="map" resultMap="UserGroupExtMap">
    SELECT
    <include refid="UserGroup_Base_Column_List" />
    from USER_GROUP where USER_GROUP.DELETED = 0
    <if test="entity != null">

      <if test="entity.id != null and entity.id != 0">
        AND USER_GROUP.ID = #{entity.id,jdbcType=INTEGER}
      </if>

      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND USER_GROUP.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.userId != null and entity.userId != 0">
        AND USER_GROUP.USER_ID = #{entity.userId,jdbcType=INTEGER}
      </if>
      <if test="entity.userId == null or entity.userId == 0">
        <if test="entity.userIdSet != null and entity.userIdSet.size() > 0">
          AND USER_GROUP.USER_ID IN
          <foreach collection="entity.userIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.groupId != null and entity.groupId != 0">
        AND USER_GROUP.GROUP_ID = #{entity.groupId,jdbcType=INTEGER}
      </if>
      <if test="entity.groupId == null or entity.groupId == 0">
        <if test="entity.groupIdSet != null and entity.groupIdSet.size() > 0">
          AND USER_GROUP.GROUP_ID IN
          <foreach collection="entity.groupIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.lastModifyTime != null">
        AND USER_GROUP.LAST_MODIFY_TIME =
        #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND USER_GROUP.LAST_MODIFY_TIME >= #{entity.lastModifyTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND USER_GROUP.LAST_MODIFY_TIME <= #{entity.lastModifyTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
    </if>
    <if test="page != null and page.orderByEntities != null and page.orderByEntities.size() > 0">
      ORDER BY
      <foreach collection="page.orderByEntities" item="listItem" separator=",">
        USER_GROUP.${listItem.columnKey} ${listItem.order}
      </foreach>
    </if>

    <if test="page.offset != null and page.size != null">
      LIMIT #{page.offset,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
    </if>
  </select>
  <!--getListCount -->
  <select id="getListCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM (
    select
    <include refid="UserGroup_Base_Column_List" />
    from USER_GROUP where USER_GROUP.DELETED = 0
    <if test="entity != null">

      <if test="entity.id != null and entity.id != 0">
        AND USER_GROUP.ID = #{entity.id,jdbcType=INTEGER}
      </if>

      <if test="entity.id == null or entity.id == 0">
        <if test="entity.idSet != null and entity.idSet.size() > 0">
          AND USER_GROUP.ID IN
          <foreach collection="entity.idSet" item="listItem" open="(" close=")" separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.userId != null and entity.userId != 0">
        AND USER_GROUP.USER_ID = #{entity.userId,jdbcType=INTEGER}
      </if>
      <if test="entity.userId == null or entity.userId == 0">
        <if test="entity.userIdSet != null and entity.userIdSet.size() > 0">
          AND USER_GROUP.USER_ID IN
          <foreach collection="entity.userIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.groupId != null and entity.groupId != 0">
        AND USER_GROUP.GROUP_ID = #{entity.groupId,jdbcType=INTEGER}
      </if>
      <if test="entity.groupId == null or entity.groupId == 0">
        <if test="entity.groupIdSet != null and entity.groupIdSet.size() > 0">
          AND USER_GROUP.GROUP_ID IN
          <foreach collection="entity.groupIdSet" item="listItem" open="(" close=")"
            separator=",">
            #{listItem}
          </foreach>
        </if>
      </if>

      <if test="entity.lastModifyTime != null">
        AND USER_GROUP.LAST_MODIFY_TIME =
        #{entity.lastModifyTime,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}
      </if>
      <if test="entity.lastModifyTime == null">
        <if test="entity.lastModifyTimeStart != null">
          <![CDATA[AND USER_GROUP.LAST_MODIFY_TIME >= #{entity.lastModifyTimeStart,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
        <if test="entity.lastModifyTimeEnd != null">
          <![CDATA[AND USER_GROUP.LAST_MODIFY_TIME <= #{entity.lastModifyTimeEnd,typeHandler=com.ishangke.edunav.dataaccess.typeHandler.CalendarTypeHandler}]]>
        </if>
      </if>
    </if>
    ) AS total
  </select>
</mapper>