<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="com.ishangke.edunav.dataaccess.model.UserEntityExt" alias="UserEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.RoleEntityExt" alias="RoleEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.GroupEntityExt" alias="GroupEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.UserGroupEntityExt" alias="UserGroupEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.PermissionEntityExt" alias="PermissionEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.RolePermissionEntityExt" alias="RolePermissionEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.CategoryEntityExt" alias="CategoryEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.LocationEntityExt" alias="LocationEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.PartnerEntityExt" alias="PartnerEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.CircleEntityExt" alias="CircleEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.CourseTemplateEntityExt" alias="CourseTemplateEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.CourseEntityExt" alias="CourseEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.CourseCommentEntityExt" alias="CourseCommentEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.ApproveHistoryEntityExt" alias="ApproveHistoryEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.BookingEntityExt" alias="BookingEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.CouponEntityExt" alias="CouponEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.CouponHistoryEntityExt" alias="CouponHistoryEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.CreditEntityExt" alias="CreditEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.CreditHistoryEntityExt" alias="CreditHistoryEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.AccountEntityExt" alias="AccountEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.AccountHistoryEntityExt" alias="AccountHistoryEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.SpreadEntityExt" alias="SpreadEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.TeacherEntityExt" alias="TeacherEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.CourseTeacherEntityExt" alias="CourseTeacherEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.ActivityEntityExt" alias="ActivityEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.MessageEntityExt" alias="MessageEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.PartnerEntityExt" alias="PartnerEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.WithdrawEntityExt" alias="WithdrawEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.CourseTemplateTeacherEntityExt"
      alias="CourseTemplateTeacherEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.ClassPhotoEntityExt" alias="ClassPhotoEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.CourseClassPhotoEntityExt"
      alias="CourseClassPhotoEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.CourseTemplateClassPhotoEntityExt"
      alias="CourseTemplateClassPhotoEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.UserLocationEntityExt" alias="UserLocationEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.AddressEntityExt" alias="AddressEntityExt" />
    <typeAlias type="com.ishangke.edunav.dataaccess.model.BookingHistoryEntityExt" alias="BookingHistoryEntityExt" />
  </typeAliases>
</configuration>