<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
  <!-- Imports dataaccess spring config -->
  <import resource="classpath*:applicationContext-dataaccess.xml" />
  <!-- Scans all manager class -->
  <context:component-scan base-package="com.ishangke.edunav.manager, com.ishangke.edunav.service, com.ishangke.edunav.util" />
  <bean id="manager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource" />
  </bean>
  <bean id="applicationServer" class="com.ishangke.edunav.server.ApplicationServer" init-method="start" />
  <tx:advice id="managerAdvice" transaction-manager="transactionManager">
    <tx:attributes>
      <tx:method name="*" propagation="REQUIRED" read-only="false" isolation="READ_COMMITTED" rollback-for="java.lang.Exception" />
    </tx:attributes>
  </tx:advice>
  <aop:config>
    <aop:pointcut id="managerPointcut" expression="execution(* com.ishangke.edunav.manager..*ManagerImpl.*(..))" />
    <aop:advisor pointcut-ref="managerPointcut" advice-ref="managerAdvice" />
  </aop:config>
</beans>