<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
  <!-- Imports dataaccess spring config -->
  <import resource="classpath*:applicationContext-dataaccess.xml" />
  <import resource="classpath*:applicationContext-commoncontract.xml" />
  <!-- Application context autoware -->
  <bean class="com.ishangke.edunav.util.ApplicationContextUtil" />

  <!-- Quartz trigger configuration -->
  <!-- <bean name="startQuertz" lazy-init="false" autowire="no"
    class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    <property name="triggers">
      <list>
        <ref bean="cleanEventTrigger"/>
        <ref bean="cleanBookingTrigger"/>
        <ref bean="cleanGroupBuyTrigger"/>
        <ref bean="cleanGroupBuyBookingTrigger"/>
      </list>
    </property>
  </bean> -->
  <!-- Quartz 2 configuration, fire at 00:15:00 every day -->
  <!-- <bean id="cleanEventTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    <property name="jobDetail">
      <ref bean="cleanEventDetail" />
    </property>
    <property name="cronExpression">
      <value>0 15 0 * * ? *</value>
    </property>
  </bean> -->
  <!-- Quartz 2 configuration, every 15 minutes -->
  <!-- <bean id="cleanBookingTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    <property name="jobDetail">
      <ref bean="cleanBooking" />
    </property>
    <property name="cronExpression">
      <value>0 */15 * * * ?</value>
    </property>
  </bean> -->
  <!-- Quartz 2 configuration, per hour -->
  <!-- <bean id="cleanGroupBuyBookingTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    <property name="jobDetail">
      <ref bean="cleanGroupBuyBookingDetail" />
    </property>
    <property name="cronExpression">
      <value>0 0 * * * ?</value>
    </property>
  </bean> -->
  <!-- Quartz 2 configuration, fire at 00:00:00 every day -->
  <!-- <bean id="cleanGroupBuyTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    <property name="jobDetail">
      <ref bean="cleanGroupBuyDetail" />
    </property>
    <property name="cronExpression">
      <value>0 0 0 * * ? *</value>
    </property>
  </bean> -->
  <!-- Quartz job configuration -->
  <!-- <bean id="cleanBooking" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject">
      <ref bean="CleanEventJob" />
    </property>
    <property name="targetMethod">
      <value>cleanBooking</value>
    </property>
  </bean> -->
  <!-- Quartz job configuration -->
  <!-- <bean id="cleanEventDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject">
      <ref bean="CleanEventJob" />
    </property>
    <property name="targetMethod">
      <value>clean</value>
    </property>
  </bean> -->
  <!-- Quartz job configuration -->
  <!-- <bean id="cleanGroupBuyBookingDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject">
      <ref bean="CleanEventJob" />
    </property>
    <property name="targetMethod">
      <value>cleanGroupBuyBooking</value>
    </property>
  </bean> -->
  <!-- Quartz job configuration -->
  <!-- <bean id="cleanGroupBuyDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject">
      <ref bean="CleanEventJob" />
    </property>
    <property name="targetMethod">
      <value>cleanGroupBuyActivity</value>
    </property>
  </bean> -->
  <!-- Job execution class -->
  <!-- <bean id="CleanEventJob" class="com.ishangke.edunav.clean.CleanEventJob" />  -->

  <!-- Scans all manager class -->
  <context:component-scan
    base-package="com.ishangke.edunav.manager, com.ishangke.edunav.service, com.ishangke.edunav.util" />
  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource" />
  </bean>
  <bean id="applicationServer" class="com.ishangke.edunav.server.ApplicationServer" />
  <tx:advice id="managerAdvice" transaction-manager="transactionManager">
    <tx:attributes>
      <tx:method name="*" propagation="REQUIRED" read-only="false" isolation="READ_COMMITTED"
        rollback-for="java.lang.Exception" />
    </tx:attributes>
  </tx:advice>
  <aop:config>
    <aop:pointcut id="managerPointcut" expression="execution(* com.ishangke.edunav.manager..*ManagerImpl.*(..))" />
    <aop:advisor pointcut-ref="managerPointcut" advice-ref="managerAdvice" />
  </aop:config>
</beans>